[2018-10-26 06:42] NyakudyaA commented on #299
@dimasciput  I why do we not just define the IP range using the ALLOW_RANGE because this overrides the pg_hba settings

[2018-10-26 06:47] gubuntu commented on #299
'listen addresses' either in postgresql.conf or as an env variable should be set to the IP of the host and not *

Connections should only be allowed from the WAN IP range (10.52.82.20/24) - set in pg_hba or env variable

[2018-10-26 06:51] NyakudyaA commented on #299
@gubuntu
The env variable ALLOW_RANGE overrides anything you set manually in the pg_hba.conf which I had already done.
So instead of putting the ALLOW_RANGE as 0.0.0.0/0 it should be `10.52.82.20/24`

So @dimasciput can you change that variable to be that IP range

I will see if Postgres image has a variable for listen address

[2018-10-26 07:00] Vries14 commented on #229
Clicking on map gives info pop-up

[2018-10-26 07:00] #229 closed

[2018-10-26 08:31] #40 closed

[2018-10-26 09:07] gubuntu commented on #294
add 'check your spam' or 'whitelist this email address' to verification message

[2018-10-26 09:10] gubuntu commented on #293
@Vince-Egan or @makhubeleen please provide the info as per above link asap (send via chat to be secure)

[2018-10-26 09:10] gubuntu commented on #292
@Vince-Egan or @makhubeleen please provide the info as per above link asap (send via chat to be secure)

[2018-10-26 09:13] gubuntu commented on #164
everything working fine over VPN (and locally)

[2018-10-26 09:13] #164 closed

[2018-10-26 09:24] gubuntu commented on #35
does django-easy-audit make this redundant?

[2018-10-26 09:31] gubuntu commented on #96
is this met by healthyrivers detailed dashboard?

[2018-10-26 09:42] gubuntu commented on #260
fixed

[2018-10-26 09:42] #260 closed

[2018-10-26 09:46] gubuntu commented on #55
completed in August

[2018-10-26 09:46] #55 closed

[2018-10-26 09:53] #200 closed

[2018-10-26 09:54] gubuntu commented on #29
done but for #118

[2018-10-26 09:54] #29 closed

[2018-10-26 09:57] gubuntu commented on #287
fixed

[2018-10-26 09:57] #287 closed, assigned to nobody

[2018-10-26 10:00] #65 closed

[2018-10-26 10:11] gubuntu commented on #247
done

[2018-10-26 10:11] #247 closed

[2018-10-26 10:16] gubuntu commented on #234
duplicate

[2018-10-26 10:16] #234 closed

[2018-10-26 10:19] gubuntu commented on #108
done

[2018-10-26 10:19] #108 closed

[2018-10-26 11:23] Vries14 commented on #286
-While being logged out,  and clicking on site statistics and logging in from there, the message still pops up that says user is loggen in

[2018-10-26 11:56] Vries14 commented on #294
- Password reset comes from a noreply addess
- No longer goes to spam

No link added to the contact us form for the "Please contact us if you have any trouble resetting your password. " message

[2018-10-29 06:46] Vries14 commented on #239
No longer get 403 when logging out from layer page in Geonode.

[2018-10-29 06:46] #239 closed

[2018-10-29 08:00] dimasciput commented on #257
@Vries14

how to test:

- assign a group to existing user in the admin page
- check user profile page if it's updated with the new group

Wait for 10-15 mins after this comment, since it's still rebuilding

[2018-10-29 09:16] Vries14 commented on #257
@dimasciput , It only gets updated on admin page, when user logged on it does not show groups in profile

[2018-10-29 09:16] anitanh opened #302 "Flatpages does not work"
# Problem
I tried to add a new flatpage page in the admin but I got template does not exist in debug mode.

# Solution
Fix it

Related to https://github.com/kartoza/LEDET_BIMS/issues/160

[2018-10-29 09:24] dimasciput commented on #257
@Vries14
![bims](https://user-images.githubusercontent.com/1979569/47640821-17c2ff00-db97-11e8-8065-1cc7ff390b1a.gif)

It does work for me, this is in testing

[2018-10-29 09:27] Vries14 commented on #257
yes working thanks.

[2018-10-29 09:37] Vries14 commented on #258
sites /en/ has been removed

[2018-10-29 09:37] #258 closed

[2018-10-29 09:47] dimasciput commented on #302
Error occurred here : https://testing.limpopobims.kartoza.com/admin/flatpages/flatpage/add/

[2018-10-29 09:50] Vries14 commented on #14
google analytics implemented on production

[2018-10-29 09:50] #14 closed

[2018-10-30 06:41] dimasciput commented on #15
@gubuntu can you give answers to Carina's questions. We need the initial design for this.

[2018-10-30 07:02] Vries14 commented on #302
Able to add flatpages.

[2018-10-30 07:02] #302 closed, assigned to dimasciput

[2018-10-31 04:01] anitanh commented on #160
hi @gubuntu it is active now
![peek 2018-10-31 11-00](https://user-images.githubusercontent.com/26101337/47765370-3e4e7a80-dcfc-11e8-935f-1bce13f46bcc.gif)

[2018-10-31 04:03] anitanh commented on #282
covered in https://github.com/kartoza/LEDET_BIMS/pull/301

[2018-10-31 06:20] gubuntu commented on #160
great @ann26

It needs to be active in production so @NyakudyaA please set it up there

[2018-10-31 08:44] NyakudyaA commented on #160
@ann26 cc @gubuntu Has ledet been updated yet. Because I cannot add a flat page yet

[2018-10-31 08:48] anitanh commented on #160
hi @NyakudyaA , I don't know, maybe @dimasciput knows (?)

[2018-10-31 09:03] Vries14 commented on #282
Changes to footer updated with kartoza/LEDET_BIMS/pull/301

[2018-10-31 09:03] #282 closed, assigned to ann26

[2018-11-01 03:37] dimasciput commented on #168
deployed with tag release

[2018-11-01 09:18] dimasciput commented on #279
@Vries14 can you confirm that email you got is sent to spam or not?

[2018-11-01 10:00] Vries14 commented on #279
@dimasciput , The emails for signing up does not go to spam.

[2018-11-01 10:01] #279 closed

[2018-11-01 10:15] Vries14 commented on #251
The upload link to users without upload permission hidden in menu, but not in map. The upload single occurence still present

[2018-11-05 03:18] dimasciput commented on #47
@gubuntu @timlinux it's very difficult to implement this ticket without clear user flow. So how does user link the bibliography with the observation? You need to be aware that we have thousands of observation.

[2018-11-05 05:25] dimasciput commented on #59
@gubuntu so do we have to do this task by impelementing https://github.com/kartoza/LEDET_BIMS/issues/81 ?

Create an api to returns darwin core data?

[2018-11-05 05:48] dimasciput commented on #142
Tested in local and it worked correctly,

File with the csv extension : [fish_survey.zip](https://github.com/kartoza/LEDET_BIMS/files/2547066/fish_survey.zip)

[2018-11-05 05:48] #142 closed

[2018-11-05 07:49] gubuntu commented on #59
Whichever is the quickest and easiest for us to implement:
1. extend our API as per #81 OR
1. include IPT int the orchestration with a mapping to our database.

Doing it ourselves means we have more code to maintain

Using IPT means another component in our orchestration but no code to maintain

[2018-11-05 08:06] timlinux commented on #59
See also : https://www.gbif.org/ipt

[2018-11-05 08:08] timlinux commented on #59
And https://github.com/gbif/ipt/wiki/IPT2ManualNotes.wiki#getting-started-guide

Maybe we can dockerise this using alpine:tomcat docker base image.

[2018-11-06 06:50] Vries14 commented on #286
landing page view updated so that users that not logged in cant see site statistics

[2018-11-06 06:51] #286 closed, assigned to dimasciput

[2018-11-06 07:24] Vries14 commented on #51
everything implemented.closing issue

[2018-11-06 07:27] Vries14 commented on #251
Upload link hidden from users without permissions

[2018-11-06 08:25] timlinux commented on #44
See https://github.com/dperson/samba

[2018-11-06 08:28] gubuntu commented on #96
@Vince-Egan test on the healthrivers site http://freshwaterbiodiversity.org/

waiting for @dimasciput to refactor into LEDET

[2018-11-06 08:38] gubuntu commented on #98
bring through from healthyrivers

[2018-11-06 08:49] gubuntu commented on #15
similar to healthyrivers search result report?

aggregate the healthyrivers site report across a polygon (e.g. farm or EIA polygon)?

[2018-11-06 09:31] gubuntu commented on #97
should come through from healthyrivers

[2018-11-06 10:33] Vries14 commented on #281
For mobile reponsiveness...

- Cant click on menu from map view
-Cant use transparency control for layer selector
-Also I think the side panel should rather fit to window when opened, since there is an option to close it

[2018-11-07 04:10] anitanh commented on #281
- For the menu I'm not sure why, I can click on the menu from map view on development (on my local machine) but I can't click it on staging.
- For transparency control, it is something to do with the slider which I haven't been able to fix.
- For the side panel, it is already fit to window (see below):
![screenshot from 2018-11-07 11-08-47](https://user-images.githubusercontent.com/26101337/481102

[2018-11-07 04:11] anitanh opened #303 "Print basic map"
We should be able to print the basic map with layers that has been chosen by the user and the legend.

child of #67

[2018-11-08 01:55] #5 closed

[2018-11-08 06:54] anitanh opened #304 "Print basic map as pdf"
Print the basic map from https://github.com/kartoza/django-bims/pull/481 into PDF using pdf layout as follows:
- A4 landscape
- extent of users map view
- layers as the user has them
- legend of rendered layers

require #303
child of #67

[2018-11-09 09:37] Vries14 commented on #232
Side panel closes when selecting capture record

[2018-11-09 09:37] #232 closed

[2018-11-09 10:04] Vries14 commented on #256
User permissions changed to only group permissions

[2018-11-09 10:04] #256 closed

[2018-11-13 08:20] NyakudyaA commented on #299
@dimasciput Next time we do a release we need to have these settings in the database.

[code]

[2018-11-14 13:22] Vries14 commented on #32
csv allows for downloading raw data in view extent, boundary and filters

[2018-11-15 02:40] dimasciput commented on #45
@ann26
Next todo:

- [x] Email regular reports to admin users

[2018-11-15 07:00] #281 closed, assigned to ann26

[2018-11-16 00:38] anitanh opened #305 "CORS problem when printing map"
# Problem
Some basemap and layers are unable to be printed on maps as pdf because of cors error

# Solution
Fix it

There is also suggestion from @NyakudyaA : https://github.com/kartoza/django-bims/pull/481#issuecomment-439012982

[2018-11-19 12:03] NyakudyaA commented on #172
@dimasciput Please implement

[2018-11-22 09:03] #165 closed

[2018-11-22 09:40] dimasciput commented on #37
Resolved using geonode documents and changed the layout, also added taxon links when users add or edit document.

[2018-11-22 14:31] Vries14 commented on #188
Not opening a new tab anymore

[2018-11-22 14:31] #188 closed

[2018-11-23 00:58] #97 closed

[2018-11-23 00:59] dimasciput commented on #97
site and taxon detail just like in healthyrivers

[2018-11-23 08:23] Vries14 commented on #47
References linked with entries

[2018-11-23 09:02] Vries14 commented on #71
- Documents linked to taxon and collection records.
- Able to add documents when editing record.
- Upload docs, link to taxon records
- Documents in side panel linked to taxa

[2018-11-23 09:02] #71 closed

[2018-11-23 09:19] Vries14 commented on #37
Documents linked to taxon records. when  searching for taxa and when editing records or documents

[2018-11-23 09:19] #37 closed

[2018-11-23 09:31] Vries14 commented on #45
usage monitoring dashboard implemented

[2018-11-23 09:31] #45 closed

[2018-11-26 00:58] dimasciput commented on #246
Fixed

[2018-11-26 00:58] #246 closed

[2018-11-26 06:37] #168 closed

[2018-11-27 11:38] Vries14 commented on #172
Attributions fixed

[2018-11-27 11:38] #172 closed

[2018-11-29 13:29] NyakudyaA opened #306 "folder permissions on production"
# Problem

We need to determine how user permissions are to be managed for multiple users. Preferably they should be the same as the database permissions where:

GIS users have read access to GIS folders

GIS admins have write access to GIS folders

# Solution
Add this to the orchestration and test

https://github.com/dperson/samba

[2018-11-29 13:34] NyakudyaA commented on #44
Have separated this issue because this has been implemented and working.

Example
We have a user called pam.
pam belong to the protected_area admin group. This group can either be RO or RW.

where they are explicitly
pam_editor: **RO** permissions for all layers
pam_admin: **RW** permissions for all layers

Pam can only see the layers that have been assigned permissions to her.

![screenshot 2018-

[2018-11-29 13:34] #44 closed

[2018-11-29 13:55] NyakudyaA commented on #160
@ann26 I tried to add a flat page in production and I get the following error:
![screenshot 2018-11-29 at 15 53 25](https://user-images.githubusercontent.com/2510900/49226358-ff8d0c80-f3ee-11e8-91eb-34066b9714c5.png)

Same with freshwater production
![screenshot 2018-11-29 at 15 54 51](https://user-images.githubusercontent.com/2510900/49226408-277c7000-f3ef-11e8-931a-bbfd0535c62d.png)

[2018-11-29 14:16] NyakudyaA commented on #299
@dimasciput have you updated the production instance with the latest Postgres image?

[2018-11-30 01:00] #304 closed, assigned to ann26

[2018-11-30 12:11] NyakudyaA commented on #267
This issue is an upstream bug in Geonode. I am going to open an upstream issue for this

https://github.com/GeoNode/geonode/issues/4103

[2018-11-30 12:11] #267 closed

[2018-12-07 09:34] Vries14 commented on #303
There still a problem:  when I tried to print a small portion of the map I was able to download it (this is the map that printed):
![map.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5b6952abafc89a0011b75b37/125516c66e82c728ace21e0d46e5958a61cec1b99de6b546a749b2ce6b1326722d55f27d72d3b52cbc172a515f5e1ca9150b5b47f9eb9539e4e76224d50152a7842f4d7ed43c18a6b9871bbb00bd24834786b

[2018-12-10 02:42] anitanh commented on #160
hi @NyakudyaA , maybe @dimasciput knows why

[2018-12-12 02:42] dimasciput commented on #303
@Vries14 can you try it again?

[2018-12-12 08:10] Vries14 commented on #303
Im now able to print the maps

[2018-12-12 08:10] #303 closed, assigned to dimasciput, ann26

[2018-12-12 18:32] gubuntu opened #307 "content lost after upgrade"
@Vince-Egan uploaded some carousel images last week, yet there is onnly one image now.

No content should ever be lost during an upgrade...

[2018-12-12 22:58] dimasciput commented on #307
@gubuntu where he uploaded it? If it’s testing, expect the data keeps changing.

[2018-12-13 12:56] gubuntu commented on #307
No, production

[2019-01-13 09:41] gubuntu opened #308 "GeoNode People page has BIMS header instead of GeoNode header"
https://staging.limpopobims.kartoza.com/people

all geonode pages need access to geonode menus

[2019-01-13 10:05] gubuntu opened #309 "Can't reset password on oauth account"
Is it by design that one cannot set a password on an account that was created via OAuth?

(on staging)

[2019-01-13 10:06] gubuntu opened #310 "cannot login with oauth accounts"
(on staging)

I already have github and google accounts on staging but cannot log in to them. when I try it tries to sign me up instead of logging me in.

[2019-01-13 10:46] dimasciput commented on #308
This ticket is the opposite of the other ticket which states that we should
change the theme for people page to django-bims.

On Sun, 13 Jan 2019 at 16.41 Gavin Fleming <notifications@github.com> wrote:

--
Regards,
Dimas Tri Ciputra

[2019-01-13 13:53] gubuntu commented on #308
mmm, no I don't think so. It was the individual profile page (not the 'People' page I don't think) that didn't look good before and needed more integration.

Step back and look at how each page or component works together, to judge whether a ticket makes sense or to ensure a fix works in a bigger context.

if that page still works (navigation-wise, like it would with the GeoNode menu) then it migh

[2019-01-13 15:17] gubuntu opened #311 "why is the update biodiversity record form not on the map page?"
I thought this was moved to the map page a while ago (rather than having its own map), so that other context layers could be used to help place and validate the site location

[2019-01-13 22:35] dimasciput commented on #311
Update records still on its own page, do you want to make it on the map?
This will take 2 days to make, because it’s pretty big ticket. A lot of
components to handle.

On Sun, 13 Jan 2019 at 22.17 Gavin Fleming <notifications@github.com> wrote:

--
Regards,
Dimas Tri Ciputra

[2019-01-14 02:32] gubuntu commented on #311
No don't do any big new work now, it's just that I thought this had been done a while ago by @ann26 .

[2019-01-15 05:09] evilGmonkey commented on #267
Is there an Eta when this will be fixed or even a patch?

[2019-01-15 05:24] gubuntu opened #312 "add permission control to site and collections"
# problem

all biodiversity records are public when #26 had specified they should be permission controlled

# proposed solution

enable admins to flag sites or taxa or individual observations as 'protected' or 'sensitive' and then add the ability to view or download them  as a permission that can be granted to users or groups

cc @timlinux

[2019-01-15 05:33] dimasciput commented on #312
How about the clustering @gubuntu @timlinux ? Currently we generating them, since there are a lot of cases here, I don't think we can do that anymore.

So I guess we should wait for the geoserver implementation in place.

[2019-01-15 06:58] NyakudyaA commented on #312
@dimasciput implementing GeoServer clustering is easy. It's all about publishing the layer and adding the style for that. If this is the route you need to take you can just flag me. I think I have an old style (from another project) that can be easily tweaked

[2019-01-15 19:41] gubuntu opened #313 "monitoring not working?"
https://testing.limpopobims.kartoza.com/monitoring has no values

[2019-01-15 20:25] gubuntu opened #314 "https://testing.limpopobims.kartoza.com/tracking/ down"
giving 502

What does it do (compared to /monitoring)?

[2019-01-15 20:26] gubuntu opened #315 "add /monitoring to menu for admin users"

[2019-01-18 08:40] NyakudyaA commented on #160
@ann26 http://sentry.kartoza.com/sentry/healthyrivers-vg/issues/821/ is the error associated with adding a flat page in production

[2019-01-18 10:23] NyakudyaA commented on #48
@gubuntu this has been implemented in the database as `pam_editor` who has got RO permissions.
`pam_admin` has been set up in the DB with RW permissions.

So suppose we have a layer called `Bioversity` in the database and the same layer is published in Geonode.

In Geonode `PAM` group will have access to this layer.
In the DB a user can either be `pam_editor` or `pam_admin`

[2019-01-18 13:47] NyakudyaA commented on #41
This has been achieved and will close the OP.

![screenshot 2019-01-18 at 15 46 34](https://user-images.githubusercontent.com/2510900/51390575-5d5ceb80-1b38-11e9-889f-278dbcf64b1b.png)

![screenshot 2019-01-18 at 15 46 11](https://user-images.githubusercontent.com/2510900/51390577-5df58200-1b38-11e9-8487-cb6505a15fb4.png)

[2019-01-18 13:47] #41 closed

[2019-01-18 13:50] NyakudyaA commented on #48
This is now implemented and working for all PAM users.

![screenshot 2019-01-18 at 15 46 34](https://user-images.githubusercontent.com/2510900/51390717-b7f64780-1b38-11e9-95e5-8d6fbb911b96.png)

![screenshot 2019-01-18 at 15 46 11](https://user-images.githubusercontent.com/2510900/51390718-b7f64780-1b38-11e9-9298-6f10e621ebb4.png)

[2019-01-18 13:50] #48 closed

[2019-01-18 15:24] NyakudyaA commented on #299
I am closing this as the production instance is working properly now.
![screenshot 2019-01-18 at 17 23 39](https://user-images.githubusercontent.com/2510900/51395596-d6af0b00-1b45-11e9-8863-00d58a88eb7d.png)

[2019-01-18 15:24] #299 closed, assigned to dimasciput, NyakudyaA

[2019-01-18 15:59] gubuntu commented on #48
thanks @NyakudyaA please add the explanations and screenshots (for this and other relevant issues) to the appropriate manual - in this case the GIS user manual

[2019-01-18 16:00] gubuntu commented on #41
thanks, add to manual please @NyakudyaA

[2019-01-21 05:29] gubuntu opened #316 "add logos to footer"
Choose one of the attached images for the footer across the site and add the Kartoza logo

It is important to have this in place before the launch tomorrow (22 Jan)

[logosandtesting.zip](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46e49b9d2c9182a78bfdba50b054fe936b0a65633b0ba92e7391a172fd177a000b5e4faa135e5910affc882ba6b76e7

[2019-01-23 03:20] #308 closed, assigned to dimasciput

[2019-01-23 03:26] dimasciput commented on #309
Yes you can, first you need to go to profile page

![image](https://user-images.githubusercontent.com/1979569/51579965-79c0a580-1ef5-11e9-8674-22981d108e3a.png)

Then click the set/change password.
![image](https://user-images.githubusercontent.com/1979569/51581126-70393c80-1ef9-11e9-8c71-c7815f6866f0.png)

[2019-01-23 03:55] dimasciput commented on #310
Yes after you sign up with social media, you will still need to put your email, and then you will get confirmation email. This is not a bug.

[2019-01-23 03:59] dimasciput commented on #312
Will be fixed in https://github.com/kartoza/django-bims/issues/710

[2019-01-23 04:00] dimasciput commented on #313
Yes we didn't use geonode monitoring, we didn't enable it.

[2019-01-23 04:01] dimasciput commented on #314
Monitoring is just for geonode data, the tracking page is for bims stats.

[2019-01-23 07:05] #310 closed, assigned to gubuntu, dimasciput

[2019-01-23 07:50] #314 closed, assigned to dimasciput

[2019-01-23 08:18] gubuntu commented on #313
is there a big overhead? Is it simple to enable? If so please let's try it on testing

[2019-01-23 08:31] dimasciput commented on #315
it's already there under site statistic
![image](https://user-images.githubusercontent.com/1979569/51593149-fd918680-1f23-11e9-84f2-30db4fc601ae.png)

[2019-01-23 08:45] gubuntu commented on #314
excellent, just seen it working.

[2019-01-23 09:14] gubuntu commented on #315
no that's /tracking, not /monitoring

[2019-01-24 10:48] gubuntu opened #318 "slow response on clicking 'Edit data' in validation panel"
on testing.limpopobims I click edit and nothing happens for a few seconds.

Is it a very slow process?

If the user has to wait then make it modal with a spinner or something so the user doesn't do anything else until there is a response

[2019-01-24 10:55] dimasciput commented on #318
@gubuntu please try again, testing was very slow because I tried enabling the geondoe monitoring yesterday.

[2019-01-24 10:58] gubuntu commented on #318
fractionally faster now.

Does monitoring add such a large overhead?

[2019-01-24 11:48] gubuntu commented on #24
check OP details, needs some tweaking

[2019-01-24 20:25] gubuntu opened #319 "GeoServer OGC services must be under GeoNode Auth control"
Please confirm that this is the case and if not, pls organise it gets implemented

'Permission to connect to OGC service endpoints of GIS layers is assigned to groups in the GeoNode interface. Only members of groups with view access to a layer will be able to connect to that layer from an OGC client'

e.g. members of groups with view access to a layer should be able to use WMS (but not WFS or WCS)

[2019-01-25 13:10] gubuntu opened #320 "Adapt tutorial for LEDET"
# Problem

The tutorial fro django-bims is specific to FBIS

# Solution

The tool plus generic content should come from django-bims but instance-specific content should come from the instance repe - FBIS or LEDET

Specifically, the LEDET tutorial refers to FBIS...(and I didn't review the rest of the tut)

[2019-01-25 14:08] gubuntu opened #321 "why are module filters showing in ledet?"
on testing

luckily not on production...remove from testing before they hit production

[2019-01-25 14:19] gubuntu opened #322 "site details not populating"
on testing and production

The site panel opens when a select a single site but no content populates. Just sticks on 'loading'

[2019-01-25 14:22] gubuntu opened #323 "filters and searches not returning anything"
on testing and production

panels open but searches and filter selections just don't do anything

[2019-01-27 05:25] gubuntu opened #324 "add 'zoom to extent' in layer list"
if you switch on a layer and nothing draws where you are, you want to be able to zoom to the layer extent to see it in context

[2019-01-27 07:08] gubuntu opened #325 "administrative area filters do nothing"
on production

the political region filter does not expand

the catchment filter does not expand

the ecoregion filter has no active options
![Screenshot 2019-01-27 at 09.06.22.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46db978826878dba87e6ab03f60da1cd6416763e7b53e32a64c5b371f1122d4f5d5d5cb053181d1ba6acda6fb4bc2e75db0d5

[2019-01-27 08:43] gubuntu opened #326 "staging is broken"
https://staging.limpopobims.kartoza.com/map/

on firefox, done many hard refreshes...
![Screenshot 2019-01-27 at 10.41.21.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46db978826878dba87e6ab03f60da1cd6416763e7b53e32a64c5b278f1162a4f5d5e5cb053181d1ba6acda6fb4bc2e75db0d5fecd06b0d72c06942a9b9821fbe53bf74d84b86b3ae965e82b96371

[2019-01-27 08:50] #309 closed, assigned to gubuntu, dimasciput

[2019-01-27 09:00] gubuntu opened #327 "identify not working"
doesn't seem to be working at all on testing

for a while on production I could click in the map and get a response for one layer.

Then I added another layer and from then on, got no response.

Sometimes it works, but really slowly.

Also, the popup does not move the map or place itself to fit properly, especially if large.

Please check and fix

Also please explain intended behaviour - should it

[2019-01-27 09:02] NyakudyaA commented on #326
@gubuntu Is it not working for other browsers too.
I have just tested it on my firefox and it works.

![screenshot 2019-01-27 at 10 59 20](https://user-images.githubusercontent.com/2510900/51798923-eb189500-2222-11e9-9971-63e7e52e7cb5.png)

[2019-01-27 09:24] gubuntu commented on #326
I can see the map in Chrome without logging in. But when I log in as kartoza_admin it breaks.

In any case, everything should be browser independent and no user should ever encounter issues like this (except maybe after an upgrade when you might need to do one hard refresh)

[2019-01-27 09:49] gubuntu commented on #15
@dimasciput is this available in any way in LEDET?

[2019-01-27 18:44] gubuntu opened #328 "captured records are not showing on the map nor in update records"
# problem

on production

@Vince-Egan captured two records today but neither appeared on the map nor in the Update Records screen so he could not test nor sign off uploading, editing or validating

# solution

investigate and fix

[2019-01-27 18:48] gubuntu opened #329 "panels not populating"
# problem

on production and testing

neither the site nor taxon panels are populating  - they just say (loading)

# solution

investigate and fix

[2019-01-27 18:50] gubuntu opened #330 "Aerial photography base map not rendering"
on testing and production

[2019-01-27 19:06] gubuntu opened #331 "emails broken"
# problem

1. no emails sent (e.g. for a new user to validate)
1. when emails were sent before they were from dimas

# solution

fix emails

change From to a ledet address. no-reply@ledet.go.za unless @Vince-Egan says otherwise

[2019-01-27 19:18] gubuntu opened #332 "Validator taxon roles disappeared"
On production, the validator taxon roles have disappeared or nnot been deployed. There is only on generic validator permission when there must be one for each taxon.
![Screenshot 2019-01-27 at 21.15.41.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46db978826878dba87e6ab03f60da1cd6416763e7b53e32a64c5b179f1132e4f5b5e5cb05318

[2019-01-27 19:20] gubuntu opened #333 "oauth not working"
on production

@Vince-Egan tried google and github auth today and they didn't work

Please test adn investigate.

[2019-01-27 19:26] gubuntu opened #334 "Superuser can’t change group permissions"
# problem

@Vince-Egan created the Validator-Herpetology group today (with the intention of giving it snake and amphibian validator permission, which he couldn't do)

I could not edit the group profile as a superuser (kartoza_admin) like I can other groups. What's up with permissions that a superuser can't do that?

[2019-01-27 19:29] gubuntu opened #335 "could not edit records as a superuser"
@Vince-Egan tried to edit biodiversity records in Django admin today but could not edit eny fields. The only option available was to delete.

[2019-01-27 19:32] gubuntu commented on #322
superseded by #329

[2019-01-27 19:32] #322 closed, assigned to dimasciput

[2019-01-27 19:39] gubuntu commented on #59
@dimasciput what's the status of this? We need to be  able to report to SANBI about how they can interface with LBIMS

[2019-01-27 19:48] gubuntu commented on #327
maybe a clue: at one point ages after clicking on the map I click download. When the downnload dialog opened, the identify popup also opened. May have been coincidence but maybe not

[2019-01-27 19:58] gubuntu opened #336 "download hanging"
on production

downloads are not working - broken or timing out?

can you confirm that even without a search or filter, if you zoom in and click download, a spatial (of the view extent) filter is applied to the download?

[2019-01-27 21:20] dimasciput commented on #333
It’s not implemented in production due to site is not public.

[2019-01-27 21:22] dimasciput commented on #331
@gubuntu is this on production?

[2019-01-27 21:49] dimasciput commented on #333
Duplicate https://github.com/kartoza/LEDET_BIMS/issues/292

[2019-01-27 21:52] dimasciput commented on #329
Testing is working as intended, haven't checked production

[2019-01-27 21:53] dimasciput commented on #330
Testing :
<img width="595" alt="image" src="https://user-images.githubusercontent.com/1979569/51807378-9f182f80-22b8-11e9-80e7-735a54f647d7.png">

[2019-01-27 21:55] dimasciput commented on #335
In testing there are these three buttons :
<img width="490" alt="screen shot 2019-01-28 at 4 54 53 am" src="https://user-images.githubusercontent.com/1979569/51807412-eacad900-22b8-11e9-8177-23432a2a426f.png">

[2019-01-27 21:56] dimasciput commented on #334
There's no way superuser couldn't update the data, you can do that on testing and staging. Need to check production.

[2019-01-27 22:01] dimasciput commented on #334
@gubuntu just checked the production, and it was working fine. You do know that you need to open the data to edit the data right?

[2019-01-27 22:01] dimasciput commented on #335
Working as intended

[2019-01-28 02:52] #321 closed, assigned to dimasciput

[2019-01-28 03:18] dimasciput commented on #329
production also populating

[2019-01-28 03:18] #329 closed, assigned to dimasciput

[2019-01-28 03:35] dimasciput commented on #331
Got the email in testing

[2019-01-28 03:43] dimasciput commented on #331
<img width="702" alt="image" src="https://user-images.githubusercontent.com/1979569/51813548-82482000-22e9-11e9-901c-e05007b11ec6.png">

[2019-01-28 03:46] dimasciput commented on #331
Actually I didn't get the email for the validators, will fix it

[2019-01-28 04:48] dimasciput commented on #336
Tested in testing, and it was working with or without search and filter. Zoom is not a variable to filter the data.

[2019-01-28 05:56] dimasciput commented on #331
<img width="588" alt="image" src="https://user-images.githubusercontent.com/1979569/51817139-128f6080-22fc-11e9-8ff9-0bb740fd44fc.png">

[2019-01-28 06:38] gubuntu commented on #331
the problem is in production and for email validation after creating an account

it doesn't matter to LEDET if something works in testing not, it has to work in production

[2019-01-28 06:42] gubuntu commented on #336
test in production please, that's what counts now

[2019-01-28 06:43] gubuntu commented on #329
please add a screencast, it didn't work for @Vince-Egan nor me on production yesterday

[2019-01-28 06:44] gubuntu commented on #335
@Vince-Egan working for you?

[2019-01-28 06:46] dimasciput commented on #335
@Vince-Egan you need to open the data first, you cannot edit them in list view.

[2019-01-28 06:48] gubuntu commented on #334
look at that specific case from the OP in the GeoNode group view (not django admin)

[2019-01-28 06:49] dimasciput commented on #332
Permissions has been generated, please check again

[2019-01-28 06:51] dimasciput commented on #327
@gubuntu it will just queries the active layers

[2019-01-28 06:53] dimasciput commented on #330
Production :
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/1979569/51819174-0d361400-2304-11e9-8d83-57d6d00f5492.png">

[2019-01-28 06:55] dimasciput commented on #328
The records will not appeared on the map right away, the validators need to validate them first and then the elasticsearch will need to rebuild the index and clusters will need to regenerated ( so probably it will takes around 1 hour for the data to appear on the map). Will check about the update records screen.

[2019-01-28 06:57] dimasciput commented on #326
please test again

[2019-01-28 07:05] gubuntu commented on #330
OK thanks, looks OK now. maybe the service was down yesterday.

@Vince-Egan please comment if you find that any base maps are not working - you mentioned some problems yesterday. Otherwise please close

[2019-01-28 07:06] gubuntu commented on #327
what is an active layer? one that is switched on i.e. rendering?

[2019-01-28 07:07] dimasciput commented on #327
switched on from the layer selector

[2019-01-28 15:38] Vince-Egan commented on #106
@gubuntu: Hi Gavin - not sure what you want from me here...

[2019-01-28 15:43] Vince-Egan commented on #96
@gubuntu: I'm happy with the Healthy Rivers presentation - looks good!

[2019-01-28 15:46] Vince-Egan commented on #293
@gubuntu: has @makhubeleen followed up here? I think this needs to sit with our IT section.

[2019-01-28 15:47] Vince-Egan commented on #292
@gubuntu : Has @makhubeleen  done this - this needs to be done from within IT in LEDET.

[2019-01-28 15:49] Vince-Egan commented on #100
@gubuntu: we don't have a standardized degradation layer at present - probably best to leave this out of the project scope.

[2019-01-28 16:52] gubuntu commented on #96
@Vince-Egan see the detailed dashboard implemented in LBIMS. I can't get on the VPN right now but it's working on testing

[2019-01-28 20:09] gubuntu commented on #106
I had wanted some stakeholder input from you regarding the process (being in the Analysing column in Waffle)

GeoNode notifications are in place - I updated the manual to point to the GeoNode docs that explain it. They send notifications on various events related to GeoNode content.

However, this issue is really about subscribing to custom reports but since we haven't implemented any custom repor

[2019-02-06 08:17] carina1000 opened #337 "Change Landing Page Design"

[2019-02-14 15:56] carina1000 commented on #337
Hey @timlinux check out new LB Suggestion
1 - not logged in/signed up
2 - log in
3 - logged in user (changes at the nav bar and the buttons above the fold)

What do you think? Is it valuable to put our contact details into the contact form for reporting technical issues? If so - what details should we put in there?

[2019-02-14 15:59] carina1000 commented on #337
1.  [FBIS_Dashboard Mocks (dragged).pdf](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a533a594304490012b9cfb6/125516c66e82c728ace21e0d46ceb6b310bda7a89ce1bd4ca54ff4d4044924783a44eb2f6284e42fba463243434d0eee1e020a17b8eb8339a3e76d248b5d0dbfd76b0b27c33c11acb9d01aeb52be238e5d99a4fedb1294b7607caddecd5d340c041f83fe5830a0984ec150f04de34852b65e.pdf)

2. [FBIS_Dashboard Mocks (dragg

[2019-02-28 05:23] #327 closed, assigned to dimasciput

[2019-03-01 07:39] NyakudyaA commented on #319
@gubuntu This is the default behavior for Geonode. Since users have no direct access to GeoServer they access the service through a client like metasearch which will use the Geonode access token to request layers from GeoServer and give them the correct permissions.

The only major sticking point is that metasearch seems not to be working and has to be fixed

![meta](https://user-images.githubuser

[2019-03-03 08:32] gubuntu commented on #319
@NyakudyaA please create a separate issue for Metasearch (on the QGIS repo if it is a QGIS issue) and comment on the point in the OP here.

The workflow should be for a user to see the layer view in GeoNode, look at the metadata and get the OWS url (which should be the GeoNode proxy url) from the metadata and then add the OWS service to their own GIS.

1. The above workflow should work
1. the corr

[2019-03-04 07:33] NyakudyaA opened #338 "Metasearch error when searching for layers in QGIS"
# Problem

I think there is an issue with the metadata stored in our database that results in an error when trying to get the resources.

![meta](https://user-images.githubusercontent.com/2510900/53623489-e5d5ae00-3c05-11e9-8bd4-238cbdbe9594.png)

# Solution
Investigate and fix

[2019-03-04 08:24] NyakudyaA opened #339 "Superuser has no super powers in GeoServer"
# Problem
I have superuser access on Geonode but when I log into the GeoServer with Geonode auth I am treated as an anonymous user

In Geonode
![super](https://user-images.githubusercontent.com/2510900/53719704-88409c00-3e67-11e9-8ad3-224d8026a1a0.png)

In GeoServer
![resources](https://user-images.githubusercontent.com/2510900/53719719-91316d80-3e67-11e9-9e36-4346008624d0.png)

# Solution
Investi

[2019-03-04 09:22] NyakudyaA opened #340 "Layer permisions not applied correctly"
# Problem
There is something wrong with the permissions of layers and groups

* Public layers should be accessible by anonymous users without logging in
![pub](https://user-images.githubusercontent.com/2510900/53723100-a3afa500-3e6f-11e9-9093-641bc374a1f4.png)

Trying to view a public layer results in the following

![public](https://user-images.githubusercontent.com/2510900/53723105-a8745900-3e6f

[2019-03-06 11:22] NyakudyaA commented on #340
The  cause of this is geofence rules are not being updated at all from Geonode on testing. I can't test on staging because it's broken and production seems unreachable

[2019-03-06 11:23] NyakudyaA commented on #339
Related to #340 in testing

[2019-03-06 11:26] gubuntu commented on #340
@NyakudyaA is the geofence issue the same one we had on ST? Pls log it as a GeoNode issue if it's an upstream issue or ask about it on GeoNode gitter or list.

It's critical that everything's working on staging and production well before the launch on Friday cc @dimasciput

[2019-03-06 11:28] NyakudyaA commented on #340
It's not a Geonode issue, there is something from our side that broke it . On ST I had to use a new data directory for Geoserver and it worked

[2019-03-06 11:33] NyakudyaA commented on #326
@dimasciput staging is still broken. I tried to get access it and even restarted nginx from rancher and still no access. Tried on both chrome and firefox

![staging](https://user-images.githubusercontent.com/2510900/53878364-5a4c8a80-4014-11e9-9447-228a7b12dfcf.png)

[2019-03-08 08:09] #318 closed, assigned to nobody

[2019-03-08 09:57] NyakudyaA commented on #326
Been working for a couple of days now.

[2019-03-08 09:57] #326 closed, assigned to nobody

[2019-03-08 10:30] NyakudyaA commented on #330
@dimasciput This is still now working. I looked at the request being generated and I see the following request
https://staging.limpopobims.kartoza.com/bims_proxy/http://aerial.openstreetmap.org.za/ngi-aerial/8/149/149.jpg

![proxy](https://user-images.githubusercontent.com/2510900/54023526-d9b99580-419d-11e9-83b1-ca0df723f60a.png)

[2019-03-08 12:59] NyakudyaA commented on #290
Added the btsync container.
![sync](https://user-images.githubusercontent.com/2510900/54029912-b6e5ac00-41b2-11e9-9d62-a85b8692f0c5.png)

[2019-03-08 12:59] #290 closed, assigned to dimasciput

[2019-03-14 14:30] NyakudyaA commented on #340
This works well in staging and testing

[2019-03-14 14:30] #340 closed, assigned to NyakudyaA

[2020-06-21 08:43] gubuntu opened #341 "fix IDOR security issue"
On Sat, 16 May 2020 at 10:26, moh wahyudi <mohwahyudi7@gmail.com> wrote:
Hi There

i found security bug in your subdomain , the bug called IDOR ( insecure direct object reference )
step to reproduce :

go to https://staging.limpopobims.kartoza.com/account/moderation_sent/1001
change the ID ,and you can see the email of other member
i take screenshot for proof, and for reference you can read this h