[2018-03-17 12:40] gubuntu opened #3 "fix schema"
- fetch latest updates from develop
- use ids and not names as keys (I did so with province, district, municipality)
- fix spelling of table and field names

[2018-03-17 13:06] gubuntu opened #4 "Implement GeoNode"
GeoNode will provide a spatial catalogue view of the BIMS GIS layers and through its integrated pyCSW, the BIMS metadata service.

It will also provide OGC endpoints for authenticated access to GIS layers.

We will use the Geoserver backend

[2018-03-17 13:07] gubuntu opened #5 "FR10 FR33 FR45 FR49 Upload distribution data from csv"
same as #6, just handing a different upload format.

Here is a sample csv (well, actually space delimited) of reptile data

[BIMS_to_kartoza_2018-06-01.txt](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46cabdb710bd97a6b0e2be51b052ea95161477227149f37d3dd5b26af3006b1300051bff054a5556f9a8d87fa7b73a228c5a5fbed46c5f74c76f14f8eb861c

[2018-03-17 13:10] gubuntu opened #6 "FR10 FR33 FR45 FR49 Upload distribution data from Excel"
this refers to standard biodiversity observation data ('distribution' refers to the location as xy point coordinates or polygon) i.e. the generic biodiversity record class.

In this ticket, handle upload from Excel (other tickets handle upload from csv, shapefile and other formats). also see the requirements document for further context.

[2018-03-17 13:12] gubuntu opened #7 "Build Limpopo BIMS design sheet"
- colour schema
- fonts
- icon families
- logos
- map styles

etc

[2018-03-17 13:14] gubuntu opened #8 "implement SSO (single sign-on)"
- OAuth
- internal systems (LDAP?)

Apply to:

- website
- API
- database
- Geoserver
- others if applicable

[2018-03-17 13:15] gubuntu opened #9 "FR2 enforce good passwords"
this might be moot if OAuth is used everywhere but must be applied wherever passwords are required

[2018-03-17 13:17] gubuntu opened #10 "FR2 implement Captcha equivalent"
this might be moot if OAuth is used everywhere but wherever applicable, prove human authentication

[2018-03-17 13:18] gubuntu opened #11 "FR32 FR42 install Grapelli for Django admin"

[2018-03-17 13:21] gubuntu opened #12 "support SANS 1878 metadata profile"
All data sets must be described by a canonical ISO 19115 metadata record with the SANS 1878 profile.

Metadata editing is likely to happen in GeoNode, QGIS or the pyCSW API so each of these should support SANS 1878.

[2018-03-17 13:24] gubuntu opened #13 "FR1 implement SSL"
via LetsEncrypt or a certificate provided by LEDET

[2018-03-17 13:27] gubuntu opened #14 "FR43 implement Google Analytics"
- get a GA code from a LEDET official (ideally not from Kartoza's Google account) and apply it to the site.
- document how regular reports can be sent to admin users.

[2018-03-17 13:28] gubuntu opened #15 "implement custom dashboards"
Note: to split into one issue per dashboard or report

A custom dashboard showing logins per user, database statistics, users per user role and other custom reports. These will also be downloadable in popular formats.

[2018-05-23 10:48] gubuntu opened #17 "UC2 User Sign-up"
_From @cchristelis on May 22, 2018 14:17_

# Use Case

## Actor

New User.

## Description

A new user would like to sign as a user to the system.

## Preconditions

The user has navigated to the LBIMS landing page.

## Process Flow

The user selects sign up option.

### Custom User

1. The user fills in personal details and provides a new password.
1. The user receives an activation link.
1. The

[2018-05-23 10:48] gubuntu opened #18 "Admin User Signs up new User"
_From @cchristelis on May 22, 2018 14:26_

# User Story

## Actor

Admin User

## Description

The Admin User is requested to add a new user to the sytsem via the admin interface.

## Preconditions

The logged in user is of type Admin.

## Process Flow

1. The user navigates to the admin panel.
1. The user adds a new user and fills in the relevant details.
1. The admin assigns the user the require

[2018-05-23 10:48] gubuntu opened #19 "UC1 Secure Connection while Browsing"
_From @cchristelis on May 22, 2018 14:35_

# Use Case

## Actor

All users

## Description

While the user is using the site, all traffic is SSL secured.

## Preconditions

-

## Process Flow

1. The user has navigated to the site.

## Exceptions

1. Man in the Middle attacks etc.

## Business Rules

1. Can we use letsencrypt or are we going to get a authoroty to sign the certificate?

## Assumpti

[2018-05-23 13:19] gubuntu commented on #13
superseded by #19

[2018-05-23 13:19] #13 closed

[2018-05-23 13:22] gubuntu opened #20 "FR4 Role-based upload"
- groups to get BIMS upload rights should be defined by an administrator in GeoNode (or as GeoNode groups through BIMS admin, depending on how they are integrated)
- Then administrator assigns BIMS upload permission to a group different to GeoNode upload permission)

child of #5

[2018-05-23 13:24] gubuntu opened #21 "FR5 Role-based pre-validation editing"
depends on #24
child of #24

[2018-05-23 13:25] gubuntu opened #22 "FR6 Track and display users responsible for each transaction"

[2018-05-23 13:26] gubuntu opened #23 "FR7 Manage validation roles"
depends on #24
child of #24

[2018-05-23 13:27] gubuntu opened #24 "FR8 FR11 implement validation workflow"
# Taxon evaluation page

A user with a validation role (e.g. a mammalian specialist) must see a list of new [mammal] observations that have been uploaded by users and accept or reject them. If rejected, the user must get a notification and be asked to edit or replace the record. If accepted, the record goes into validated mode and can no longer be edited by anyone. If an edit does have to be made,

[2018-05-23 13:30] gubuntu opened #25 "FR9 Enable administrator to edit all data"
I don't think anything explicit needs to be done here since administrators on Django, Geoserver or PostgreSQL will automatically have full rights

[2018-05-23 13:37] gubuntu opened #26 "FR12 display biodiversity data on the map"
Use the Django API to fetch GeoJSON records and render them on the map as OpenLayers laayers using SLD or MapBox JSON style definitions.

[2018-05-23 13:41] gubuntu opened #27 "FR12 display non-biodiversity data on the map"
All non-biodiversity observation data will be rendered as OpenLayers WMS or XYZ layers fetched from LBIMS web map services (provided by Geoserver or QGIS server) or public web map services.

If vector data of these layers are required they can be retrieved via WFS from these same services and rendered with SLD or MapBox JSON styles

child of #29

[2018-05-23 13:43] gubuntu opened #28 "FR13 Enable map panning and zooming"
These are built into OpenLayers through gestures and controls

Just ensure that appropriate controls are displayed and working

[2018-05-23 13:45] gubuntu opened #29 "FR14 Implement map layer control"
- [x] list all layers available in the user's context https://github.com/kartoza/LEDET_BIMS/issues/43
- [x] allow admin to set defaults / save user's settings https://github.com/kartoza/LEDET_BIMS/issues/250
- [x] allow user to change layer order
- [x] allow user to change layer transparency https://github.com/kartoza/LEDET_BIMS/issues/249
- [x] allow user to switch individual layers on and off
-

[2018-05-23 13:47] gubuntu opened #30 "FR15 Implement layer filtering"
filtering should act on

- the active layer (by default the biodiversity layer) AND
       ~~- this means a user must be able to choose which layer is active~~
 - records in the view extent AND
 - the results of a search (if a search was performed)

When a record in a search / filter result is clicked on, zoom to that feature and show its 'report'

Persist search / filter results during and across

[2018-05-23 13:47] gubuntu opened #31 "FR16 Implement search"
# Proposed Solution

Add Elastic Search and index
- [ ] all Biodiversity columns (#248)
- [ ] Class - Need to be able to find different taxonomic groups - e.g. if you search for reptiles or Reptilia, all reptile records should be returned.  (#248)
- [ ] farms and farm portions (#72 ?)
  - by SG code
- [ ] local municipality and district (#211)

[2018-05-23 13:55] gubuntu opened #32 "FR25 Enable data export or download"
Allow a user with the appropriate permissions to download the raw data from a map layer

constrained by:
- the view extent
- the user-defined filter

with these format options:
- csv
- ods
- geopackage

nice to have constraints:
- a user-defined polygon
- a selected polygon from another layer

[2018-05-23 13:58] gubuntu opened #33 "FR27 Implement GIS database"
- a separate instance of PostGIS from the Django backend. This one is purely for vector 'GIS' layers.
- a bysync filesystem for raster data

[2018-05-23 14:00] gubuntu opened #34 "FR28 Implement backup regime"

[2018-05-23 14:07] gubuntu opened #35 "FR31 Implement historisation in Django BIMS database"
do that same as for #36 but for core BIMS tables.

i.e. determine if backups are sufficient and if not, then historisation (as an alternative to versioning) needs to be considered for key tables.

[2018-05-23 14:08] gubuntu opened #36 "FR31 Implement historisation in GIS database"
For tables that are maintained and edited by the GIS team

Not for those that are replaced wholesale when new versions are obtained (which should be readonly to all users)

See also #22 (for the BIMS equivalent)

[2018-05-23 14:13] gubuntu opened #37 "FR33 Implement minimal document management functionality"
user GeoNode document management?

Link a document to a site

treat photographs separately (i.e. render rather than link)

child of #71

[2018-05-24 09:36] gubuntu opened #38 "FR34 Enable data categorisation"
Each layer should be tagged with at least one of these standard keywords, presented in the links below.

At the very least these should be in the appropriate metadata element but we can consider filing data sets in folders or schemas with the same names as well.

https://geo-ide.noaa.gov/wiki/index.php?title=ISO_Topic_Categories

http://gisgate.co.clark.nv.us/gismo/keywords.htm

[2018-05-24 09:38] gubuntu opened #39 "FR48 publish these layers"
- [ ] transformation
   - land cover transformation?
- [ ] plant communities
- [x] vegetation
    - SANBI vegetation types (Mucina & Rutherford)
- [x] rivers
    - source? scale?
- [x] All NFEPA layers
- [x] roads
    - source, scale?
- [x] towns
    - source, scale?
- [ ] townships
    - definition? source, scale?
- [x] districts
    - MDB
- [x] local municipalities
    - MDB
- [x] provincial bou

[2018-05-24 09:42] gubuntu opened #40 "FR37 desktop GIS access to LBIMS data"
# Problem

payment of the next milestone invoice depends on LEDET staff being able to consume OWS services and connect to PostGIS on production from QGIS and ArcGIS

# Solution

Test and confirm __TODAY and up to 25 Sept__ that this is the case. Connect via VPN, ask LEDET staff to test on your behalf, etc.

- [x] GIS layers via OGC services
- [x] GIS layers via direct database connection

## Prere

[2018-05-24 09:44] gubuntu opened #41 "FR38 set up folders, schemas and permissions for GIS users and admins"

[2018-05-24 09:51] gubuntu opened #42 "FR39 develop and document GIS publishing workflow"
e.g.

1. GIS user preps data and QGIS and SLD styles and submits to GIS admin for publication
1. GIS admin loads into final schema or folder
1. GIS admin applies final style and saves as default in database
1. GIS admin publishes in Geoserver and applies SLD and permissions

[2018-05-24 10:05] gubuntu opened #43 "FR40 implement approval workflow for GIS layers in BIMS admin"
Once the process in #42 is complete, another round of approval is necessary in the BIMS admin to add GIS layers to the BIMS app and assign them to BIMS user roles.

using Django WMS would facilitate this

depends on #42
requires #63

child of #29

[2018-05-24 10:08] gubuntu opened #44 "FR41 PostGIS and folder permissions"
GIS users have read access to GIS folders and schemas

GIS admins have write access to GIS folders and schemas

[2018-05-24 10:11] gubuntu opened #45 "FR43 FR24 implement content and usage monitoring dashboard"
email regular reports to admin users and TSC and PSC members (should be configurable in monitoring tool)

[2018-05-24 10:13] gubuntu commented on #11
Django admin should implicitly satisfy FR42 (allocating users to roles)

[2018-05-24 10:15] gubuntu opened #46 "FR44 NFR5 browser compatibility and responsiveness"
LBIMS UI must work and look good on all current desktop and mobile browsers

[2018-05-24 10:20] gubuntu opened #47 "FR47 manage bibliographic data"
this needs clarification @Vince-Egan

- references about a specific data set could be stored in Darwin core metadata that the app will be managing anyway

- references that are not linked directly to a data set or that are linked to multiple data sets might be better managed in a dedicated reference manager

child of #71

[2018-05-24 10:30] gubuntu opened #48 "FR50 FR51 protected area admin"
in addition to the GIS admin user(s) who have full rights on all folders, schemas and Geoserver, there needs to be a protected area admin user.

furthermore:

clarificaton required @Vince-Egan : assuming this means the GIS or DB UI, but it could mean the web UI? In which case it must be managed via BIMS Django and implemented through WFS-T

related to #51
depends on https://github.com/kartoza/djan

[2018-05-24 10:41] gubuntu opened #49 "FR52 Implement role-based context for protected areas users"

[2018-05-24 10:48] gubuntu opened #51 "FR54 The LBIMS shall allow a user to select point or area locations for data upload"
@cchristelis @Vince-Egan we need to decide if this is going to maintain 'site' data in the BIMS database or maintain features in the GIS database

child of #5

[2018-05-24 10:49] gubuntu opened #52 "FR55 interface with the existing wildlife trade and regulation database system from the LBIMS UI"
This is a Limpopo Govt MySQL system. Interfacing will be dependent on cooperation and technical suitability on a best effort basis

[2018-05-24 10:52] gubuntu opened #53 "FR56 add a links page, managed through admin"
Add a flat page or rich content CMS page that can be managed through BIMS Django admin, to list links with some contextual information

view privileges allocated per role.

See #68 for roles

[2018-05-24 10:53] gubuntu opened #54 "NFR1 provide technical and design documentation"

[2018-05-24 13:39] gubuntu opened #55 "NFR2 Conduct on-site user training"

[2018-05-24 13:41] gubuntu opened #56 "NFR3 Conduct fully dcumented user acceptance tests"

[2018-05-24 13:44] gubuntu opened #57 "NFR9 provide API"
1. The only partner system in scope is SANBI. @cchristelis what are their requirements? see #59
1. Internally we also need a GeoJSON REST API for GIS services and users to pull biodiv records from the BIMS (role-based)

[2018-05-25 12:17] NyakudyaA commented on #33
The docker-compose utilizes the default geonode database for the Django tables and the kartoza/postgis:10 for spatial data so that we can leverage the replication.

[2018-05-28 06:39] gubuntu opened #59 "FR57 Integrate with SANBI WCS requirements"
From the briefing session, WCS is understood to mean unspecified ‘web content services’ that should ‘align with SANBI codes’.  The proposed stack already provides many service endpoints that might meet SANBI requirements.
The way we propose to meet other as yet unspecified SANBI requirements is by meeting with SANBI and LEDET stakeholders to document and specify these requirements and then to impl

[2018-05-28 08:57] gubuntu opened #60 "FR53 publish EIA data"
This is not clear. Can we assume this is one layer representing EIA applications / projects - please expand @Vince-Egan?

[2018-05-28 08:59] gubuntu commented on #60
@Vince-Egan please explain:

[2018-05-28 09:35] gubuntu opened #61 "Lock down Geoserver and integrate BIMS and GeoNode auth"
Ideally no public access should be allowed directly to Geoserver. All access should be proxied through GeoNode and controlled by BIMS OAuth user permissions.

child of #4

[2018-05-28 09:40] gubuntu opened #62 "Add GIS stack to Rancher and integrate with LBIMS orchestration"
Currently LBIMS orchestration deploys django-bims + LEDET-BIMS.

IT needs to also deploy the GIS stack being put together by @NyakudyaA and do so across two physical hosts.

[2018-05-28 10:16] gubuntu opened #63 "FR58 Create end-user groups"
LBIMS end-users shall be allocated to one or more of the following end-user groups
- internal users (LEDET directorates - each of these should be a group or sub group)
  - Biodiversity Management
  - Protected Area Management
  - Environmental Research & Planning
  - Environmental Impact Management
  - Wildlife Trade & Regulation
  - Integrated Pollution & Waste
- the South African National Biodiv

[2018-05-28 10:28] gubuntu opened #64 "FR48 species occurrence on map and via search"
Taxon / species occurrence. This is the core biodiversity data. i.e. will be managed by BIMS component, not GIS.
- include red list species (species by CITES)

child of #31

[2018-05-28 10:37] gubuntu opened #65 "add these base layer options to the map"
- [x] OSM mapsurfer roads (default)
- [x] Dark Matter
- [x] Positron
- [ ] topostyle http://maps.kartoza.com/web/?map=/web/Topostyle/ngi.qgs [experimental]
- [x] toposheets https://htonl.dev.openstreetmap.org/ngi-tiles/tiles/50k/{z}/{x}/{-y}.png
- [x] Klokantech Terrain
- [x] NGI OSM aerial photographs
- [x] Bing Hybrid

should be configurable through Admin (layers + order + default)

[2018-05-28 10:45] gubuntu commented on #15
an example report: Ability to carry out a spatial query per property (farm or portion or polygon) to obtain the vegetation types present, their conservation status, extent, amount protected, protection status, as well as a species list with IUCN status

[2018-05-28 12:12] gubuntu opened #67 "must be able to print maps"
reports are being pdf'd, just confirm that maps are as well

[2018-05-28 14:38] NyakudyaA commented on #39
For roads, we could add the [docker-osm](https://github.com/kartoza/docker-osm) into the integration and get the latest roads daily.

[2018-05-28 18:48] gubuntu opened #68 "Meta UI/UX"
[UI Functionality - Role matrix](https://docs.google.com/document/d/1HkffuHxrJ7SzxnNFGmNonoboq58Gm6-QumSKBomFHVk/edit?usp=sharing)

[2018-05-28 19:03] gubuntu opened #69 "Home page after logging in"
Information:
- View welcome text

Links:
- ‘Links’ link to ‘Links Page’
- ‘Resources’ link to ‘Resources’ page-‘Spatial Information’ link to ‘Spatial Information’ page
- ‘Documents & Reports’ link to ‘Documents & Reports’ page
- ‘Upload Data’ link to ‘Upload Data’ page
- ‘My Account’ link to ‘My Account’ page
- ‘Administration’ link to ‘Administration Page’

See #68 for roles

[2018-05-28 19:06] gubuntu opened #70 "Links page"
Links Page
List of Links with view privileges allocated per role.

See #68 for roles

[2018-05-28 19:07] gubuntu opened #71 "Resources page"
Links
- List of links to electronic resources, sorted by resource category and filtered by role viewing permissions.

see #68 for roles

[2018-05-28 19:10] gubuntu opened #72 "Spatial information (map) page"
# Links
- ‘Locate by coordinates’ link to locate by coordinates interface (pop-up?)
- ‘Locate by farm code’[tool-tip: “Search by Farm or farm portion ID”] link to ‘Search by Farm/Farm Portion Page’
- ‘Navigate on map’ link to Map Navigation Page

## Locate by Coordinates
Information:
Please enter the decimal latitude (positive degrees South) and longitude (positive degrees East) coordinates of you

[2018-05-28 19:39] gubuntu opened #73 "Reports page"
- Click each report link to generate a report in pdf format. [filtered by user roles]
- Reports should be generated per farm, farm portion, QDS, local municipality or district and contain the following information:
  - Name, extent, conservation status, protection status of each vegetation type present; and
  - Scientific name, IUCN status, level of endemism for each taxon present.
- Reports using

[2018-05-28 19:43] gubuntu opened #74 "FR4 Upload species page"
Facility provided to upload data for all of the following tables with unique key corresponding to those used by SANBI:
- Taxon
- Taxon distribution
- Kingdom
- Phylum
- Class
- Order
- Family
- CITES listing
- IUCN Status
- Nature Reserves
- Province
- District Municipality
- Local Municipality
- Record Type
- Locality Method

see #68 for roles

[2018-05-28 19:44] gubuntu opened #75 "Taxon evaluation page"
(Access allocated at user level)
List of species records to be evaluated filtered by logged in user (Table of records to be evaluated, with accepted, rejected, pending radio-button designations. Once accepted or rejected, a record should drop off the list on a refresh). Default value should be pending.

[2018-05-28 19:44] gubuntu opened #76 "Contact us page"
Enter a message that is sent directly to an e-mail address to be supplied by @Vince-Egan

[2018-05-28 19:48] gubuntu opened #77 "My account page"
Each User has access to their own unique username, e-mail address and password details – the latter should be updateable
Administration Page
Links:
- Edit welcome text (WYSIWIG, with embedded image support)- Add links to links page and tag visibility per role
- Add electronic resources categories (used to sort electronic resources on Resources Page) and assign rights to view them per role.
- Add e

[2018-05-28 20:18] cchristelis commented on #74
This goes back to the whole implicit vs explicit data. We shouldn't burden the user with giving information (such as Province) which we can easily look up implicitly...

[2018-05-29 09:40] timlinux opened #81 "We need the ability to represent a biological collection record as a Darwin Core document"
probably for #59

[2018-05-29 09:49] timlinux commented on #74
We need to add a generic biologicalcollection form similar to fish uploader.

[2018-05-29 10:08] timlinux commented on #72
In HR we also are adding gazeeteer based / place name based search.

I propose for the farm search we maintain a table of farm centroids and their farm ID in BIMS and then for map display get the farm boundaries from an external WMS service. Admire can you start by getting the Farm Centroids and numbers layers (I think we should have farm no, portion and the full SG code).

[2018-05-29 13:38] timlinux commented on #72
@dimasciput can you do the map widgets for this?

[2018-05-29 13:45] gubuntu commented on #72
Can we as far as possible blend these requirements with healthyrivers / django-bims and the existing moqups?

I think the only Limpopo-specific functionalities here are the default map view, the specific layers to be made available and the specific role-based access.

[2018-05-30 09:34] timlinux commented on #11
This is already done right @dimasciput ? Close if yes.

[2018-05-30 09:37] gubuntu opened #82 "integrate with GeoContext"

[2018-05-30 09:39] cchristelis commented on #31
# Proposed Solution

Add Elastic Search and add index Biodiversity columns.

[2018-05-30 09:42] gubuntu opened #83 "figure out how to make GeoContext role aware"
In other words, if a user role does not have permission to see a lyer, they should not get data from that layer returned from Geocontext

[2018-05-30 09:43] timlinux commented on #28
Maybe add some controls for it in OL

[2018-05-30 09:53] timlinux commented on #29
We still need to figure out where all the base layers will come from and the context layers and which will be available to the current user. If we dust off @ismailsunni 's django-wms and integrate it into k-bims core then @meomancer can add a widget on OL for this. The list shown in OL should be filtered based on user rights.

[2018-05-30 09:55] timlinux commented on #53
@sonlinux before using flatpages, please look and see if there is an off the shelf django app we can use here. e.g.

https://github.com/kplaube/django-simple-links

That should be included in k-bims core. There should be a link to it from the menu bar.

[2018-05-30 09:58] gubuntu commented on #67
consider sending to Geoserver/Mapfish to print?

[2018-05-30 10:03] timlinux commented on #64
@meomancer we should be using clusters for the onscreen display.

I think we should have extra elements in the json struct of the cluster model listing the number of records per IUCS category (endangered, rare etc.)

@ann26 the search results on the map - maybe we must look at using filtered WMS - speak to  @NyakudyaA about this.

[2018-05-30 10:06] timlinux commented on #71
same as #53 ?

[2018-05-30 10:09] timlinux commented on #75
Is this an evaluation of the collection / occurrence record or the taxonomic status?

[2018-05-30 10:11] timlinux commented on #76
Please look at integrating https://github.com/ccnmtl/django-contact-us or similar

[2018-05-30 10:17] timlinux commented on #70
See also #53 is this a duplicate?

[2018-05-30 10:48] gubuntu commented on #70
yes dup

[2018-05-30 10:48] #70 closed

[2018-05-30 10:59] gubuntu commented on #75
merged with #24

[2018-05-30 10:59] #75 closed

[2018-05-30 11:02] gubuntu commented on #71
no, #53 is for links, this is for local resources (like documents). Can you help expand this and #53 @Vince-Egan?

[2018-05-30 11:41] timlinux commented on #22
I thinkwe had a ticket in kbims for using django audit or similar for this. If you already did that @dimasciput we can probably mark this as done (assuming all new models are also auditable)

[2018-05-30 11:43] timlinux commented on #8
One approach we could investigate here is using a shared django_auth table between geonode and bims. (Using a database router in django to point bims to the geonode db). GeoServer and GeoNODE users should already be synchonised.

[2018-05-30 11:45] timlinux commented on #37
For documents we should use geonode documents ideally. If we need to link a document to a site (or record) or photo to site or record, we should extend the site and bilogicalcollection models to accommodate that.

[2018-05-30 11:48] timlinux commented on #54
@dimasciput we can deploy this:

https://github.com/tell-k/django-modelsdoc

And make sure all devs document their models clearly. Then we will get automatic document generation.

[2018-05-30 11:52] timlinux commented on #37
For a full blown document management system, there is Mayan: https://github.com/tell-k/django-modelsdoc - maybe a bit overkill for us though?

[2018-05-30 11:52] timlinux commented on #37
BTW Mayan is docker ready.

[2018-05-30 11:56] timlinux commented on #57
In the API we should provide a way to get Darwin Core documents out. We could also look at GBIF node requirements as there might be libraries that will 'do it all' for us:

See also https://www.gbif.org/document/80925/establishing-an-effective-gbif-participant-node - if we can set things up so that we are a GBIF node that might be an effective way to go about it.

[2018-05-30 11:58] timlinux commented on #72
We should also provide permalinks for maps so they can be easily shared.

[2018-05-30 12:01] timlinux commented on #56
For the user acceptance tests @gubuntu it would be great to develop a document now already listing all the functionality that should be tested and get agreement from LEDET that this will be the complete set so that we can work towards ensuring each test is catered for in our feature set and we do not need to deal with a moving target.

[2018-05-30 12:07] timlinux commented on #77
By Taxon I guess you are meaning collection record here @gubuntu ?

[2018-05-30 12:09] gubuntu commented on #56
Laast chance to help define them [here](https://docs.google.com/document/d/1YAzeLlQ4FJOq1bzoE8s_3eBd_J_yPB_YwkhgBrNAZxA/edit?usp=sharing) @timlinux @cchristelis

[2018-05-30 12:11] gubuntu commented on #77
I assume so @timlinux. This is LEDET wording so perhaps @Vince-Egan could clarify.

[2018-05-30 12:12] timlinux commented on #36
See also #35

[2018-05-30 12:12] gubuntu commented on #72
scope creep :-) (unless dead simple)

[2018-05-30 12:16] gubuntu commented on #35
dup of #22

[2018-06-01 09:56] gubuntu commented on #20
superseded by #74

[2018-06-01 10:06] Vince-Egan commented on #77
@gubuntu & @timlinux : taxon refers to the scientific name (binomial or trinomial) - i.e. species or subspecies. This refers to the taxon as a whole - the 'taxon table' refers to the table that populates the drop-down menu used when adding distribution records. We'd like to restrict access to sensitive species and assign moderator roles (also at the species level) w.r.t. data inputs.

[2018-06-01 10:16] Vince-Egan commented on #53
@gubuntu: This would simply link to external web pages. If we can sort them by a category/tag, that would be great.

[2018-06-01 10:17] Vince-Egan commented on #71
@gubuntu: This will be for documents mainly, but could include other files. All files here would be LEDET owned or we'd have permission to host. The resource categories should include 'documents', 'images', 'videos', 'audio files'. Could we have sub-categories of documents 'legislation', 'reports', 'publications', etc.?

[2018-06-01 10:18] Vince-Egan commented on #71
Sorry - an errant click!

[2018-06-01 10:26] Vince-Egan commented on #65
@gubuntu: I don't think we'd need anything more than this, Gavin. Topostyle should keep most end users happy.

[2018-06-01 10:38] Vince-Egan commented on #64
@gubuntu: note that the CITES listing and IUCN conservation status (red listing) are two separate things. The former relates only to international trade.

[2018-06-01 10:47] Vince-Egan commented on #60
@gubuntu:
We will have access to two datasets for EIAs themselves (an SRK dataset with point data and a polygon dataset that we are currently capturing). Attribute data can be collapsed into a single table, but there will be 2 geometries that apply to the records.
The other EIA data is the taxon distribution data that is captured in the EIAs - my comment (Please make this dependent on LEDET provid

[2018-06-01 10:52] Vince-Egan commented on #52
@gubuntu: This is not really in scope, nor have we had sufficient internal LEDET discussion (between Biodiversity Management & Wildlife Trade & Regulation) to entertain this at present.

[2018-06-01 10:55] gubuntu commented on #52
are you looking at the waffle board? This is not in the GH milestone like the others and is at the bottom of the backlog :-)

[2018-06-01 10:55] Vince-Egan commented on #51
@cchristelis : This refers to uploading taxon distribution data with either point or polygon geometries. New data should only come in in point form, but historical data is sometimes at the level of a farm, farm portion, or other polygon.

[2018-06-01 10:59] Vince-Egan commented on #48
@gubuntu @timlinux We need to have a GIS user to manage Protected Area data too (in addition to the Biodiversity Management personnel who will be managing Biodiversity tables).
I don't know enough to comment on Tim's suggestion...

[2018-06-01 11:02] Vince-Egan commented on #47
@gubuntu: This is not a critical component - more a nice to have. If it is to be included as Tim suggests, it would be logical to include the departmental documents (reports, etc.) within the database rather than under 'resources'?

[2018-06-01 13:09] gubuntu commented on #48
If it's just a GIS user then their role will easily be managed like the other GIS users - either through database roles or corporate single sign on.

So we'd need to know who that is at some point and which specific datasets they need to manage.

[2018-06-01 14:43] Vince-Egan commented on #39
@NyakudyaA : I have uploaded a tab-delimited file with reptile data BIMS_to_kartoza_2018-06-01.txt to my Dropbox account.
Also the following shapefiles:
LIMP_BiosphereReserves - Biosphere boundaries, from our Protected Area Expansion Strategy
LIMP_PA_April2014 - Protected Areas, from the Protected Area Expansion Strategy
LIMP_Towns - towns, again from the expansion strategy
LPAES_FocusAreas - from

[2018-06-01 14:46] NyakudyaA commented on #39
thanks @Vince-Egan will download them now

[2018-06-04 04:10] dimasciput commented on #11
Yes, this done already

[2018-06-04 04:10] #11 closed

[2018-06-04 06:49] dimasciput commented on #22
Yep, this already done

[2018-06-04 06:49] #22 closed

[2018-06-04 07:26] timlinux commented on #19
@dimasciput this one is for you. We will create a separate container for certbot and mount the certs into the nginx container via a shared volume with the certbot container.

[2018-06-04 07:29] timlinux commented on #34
We will sftp backup stuff and give you a hetzner storage box access.

* Backup media and db on nightly basis
* Keep most recent few backups on local machine (see also dbbackups container)
* Use SFTP docker  image to push archives to hetzner storage.

For final deployment on client infrastructure, clients should provide sftp details to their archive server.

@gubuntu to get credentials for sftp bac

[2018-06-04 07:47] timlinux commented on #26
Note we cannot fetch all records and display at once as it is too much data to push around in JSON. Rather we will use clustering and WMS services to display data.

We have a couple of optiosn:

**Option 1: Deploy GeoServer / Mapserver etc. as an integral part of the BIMS platform**

With WMS you can use filters to constrain which data are shown.

See http://docs.geoserver.org/stable/en/user/servi

[2018-06-04 07:49] timlinux commented on #28
I think we can mark this as done already.

![Screen Shot 2018-06-04 at 09.49.20.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba456e7953d2fd0f723bdb/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77256454f76b7191a378e60c2f58415d4ebe5d4a1f06a3a3dc78e2a436628f0d5ab9d06c5926c03b45ffbd831fbf00e825df1c81b5b99850d2aa6c7bb3d4d216744b470a83ed5c3daa984eca50f642e948

[2018-06-04 07:49] #28 closed

[2018-06-04 07:52] timlinux commented on #53
@Vince-Egan yes I think the proposed simple links app will be fine for that - @sonlinux make sure to add sortable behaviour by category.

[code]

[2018-06-04 07:55] timlinux commented on #47
@sonlinux so the main task for you is to

a) Integrate into our platform
b) ensure theming is consistent with rest of the web site.

[2018-06-04 07:56] timlinux commented on #21
See also #24

[2018-06-04 08:01] timlinux commented on #46
Please use a service like https://saucelabs.com to integrate cross browser testing into the platform. We will get a minimal commercial account if needed (see if they do it free for FOSS projects).

Expected outcomes:

* whenever CI tests run for PR's browser testing is done
* we have a clear framework for creating and adding front end tests

[2018-06-04 08:02] timlinux commented on #46
Once we have the framework in place we can hand over to @sonlinux to implement lots of front end tests

[2018-06-04 08:04] timlinux commented on #43
@ismailsunni we need a property in the WMS app that defines which users (or groups of users) may add/access each WMS layer. The OL widget would then only show eligible​ layers for adding as overlays to the map based on the user's permissions.

[2018-06-04 08:08] timlinux commented on #18
@ann26 so beyond the basics of what django admin does for users, we need a way to send the account details to a user and have them update their password on first login - like is typical on most modern platforms e.g. slack.

We can put this into the front end or as a custom django admin form if possible (preferred).

[2018-06-05 07:45] dimasciput commented on #9
Added in https://github.com/kartoza/LEDET_BIMS/pull/86

[2018-06-05 07:45] #9 closed

[2018-06-06 04:17] dimasciput commented on #54
Hi @sonlinux , have you started this yet?

[2018-06-06 04:54] gubuntu commented on #27
the list of layers is in #39. Some are already available on maps.kartoza.com and the rest are being published on lbimsgis.kartozaa.com (@NyakudyaA please get it to accept that domain).

So you can start pulling in some layers already

[2018-06-06 07:37] dimasciput commented on #46
@timlinux I can't register free trial in saucelabs (https://signup.saucelabs.com/signup/trial) , I think we should find the alternative.

[2018-06-06 09:17] dimasciput commented on #63
Right now I added them as a group

![screen shot 2018-06-06 at 4 07 47 pm](https://user-images.githubusercontent.com/1979569/41028980-c277d1f6-69a4-11e8-9209-74b45ee73cfb.png)

[2018-06-06 10:09] dimasciput commented on #24
@timlinux should we create a custom view for this? Or the admin and validator can do this in admin page instead?

[2018-06-06 10:09] dimasciput commented on #6
@gubuntu Any example of the distribution data?

[2018-06-06 12:47] #10 closed

[2018-06-07 02:47] dimasciput commented on #34
@gubuntu can you provide me the sftp backup server?

[2018-06-08 09:04] cchristelis opened #91 "Re-Skin LEDET-BIMS"
# Problem

The design needed to conform to the LEDET corporate identity. @carina1000 updated the mockups acordingly. These can be viewed here: https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/a407f8694

# Proposed Solution

Update the CSS and HTML according to the mockups.

[2018-06-11 06:15] sonlinux commented on #54
Am working on it today @dimasciput

[2018-06-14 07:23] sonlinux opened #95 "FR17: Users should view summery statistics"
users should be able to view statistical summaries of data added to the LBIMS when panning and zooming around the map. For various zoom levels (spatial) users are able to see different levels of detail.

[2018-06-14 07:23] sonlinux opened #96 "FR17: Users should view summary statistics"
users should be able to view statistical summaries of data added to the LBIMS when panning and zooming around the map. For various zoom levels (spatial) users are able to see different levels of detail.

At any map scale, users should have the option of toggling summary or reporting information that describes map features in the view extent or features that are selected and in addition that the in

[2018-06-14 07:30] sonlinux opened #97 "FR18 summary statistic visualisation"
If a user selects one or more features in a layer,

Exactly what need to be dsplayed about which layers and how exactly it should be displayed must be specified by LEDET in the form of a template or example before implementation.

[2018-06-14 07:35] #95 closed

[2018-06-14 07:36] sonlinux commented on #95
Dupicate of #96

[2018-06-14 07:39] sonlinux opened #98 "FR20: Graphs must be downloadable"
Graphs showing the statistics should be able to export (downloadable)

[2018-06-14 07:42] sonlinux opened #99 "FR21"
Users should be able to view information about the condition of a particular location on the map.

- Wheather condition to start with

[2018-06-14 07:42] sonlinux opened #100 "FR21: show wheather condition of a particular location that is on the map"
Users should be able to view information about the condition of a particular location on the map.

- Wheather condition to start with

[2018-06-14 07:42] sonlinux opened #101 "FR21: show wheather condition of a particular location that is on the map"
Users should be able to view information about the condition of a particular location on the map.

- Wheather condition to start with

[2018-06-14 07:46] sonlinux opened #102 "FR22: Ability to generate a spatial querry for report details"
Ability to carry out a spatial query per property (farm or portion or polygon) to obtain the vegetation types present, their conservation status, extent, amount protected, protection status, as well as a species list with IUCN status

[2018-06-14 07:52] sonlinux opened #103 "FR24: Email system monitoring reports"
The LBIMS shall email regular system monitoring reports to appropriate stakeholders.

Monitoring work is described in #45
- We could set up sentry as well as other tools like prometheus and grafana for the system reports

[2018-06-14 09:20] gubuntu commented on #82
closed by https://github.com/kartoza/django-bims/pull/10

[2018-06-14 09:20] #82 closed

[2018-06-14 09:22] gubuntu commented on #96
closed by https://github.com/kartoza/django-bims/pull/10

[2018-06-14 09:37] gubuntu opened #104 "FR19 site specific visualisation"
If a user clicks on a site (a specific feature) then detailed information about that site should be presented

Exactly what need to be dsplayed about which sites and how exactly it should be displayed must be specified by LEDET in the form of a template or example before implementation.

child of https://github.com/kartoza/LEDET_BIMS/issues/183

[2018-06-14 09:39] gubuntu commented on #104
In the present implementation, this is what will appear in the popup and in the right sidebar when clicking on a biodiversity observation @cchristelis ?

[2018-06-14 09:43] gubuntu commented on #97
In the present implementation, this is what will appear in the popup and in the right sidebar when selecting a number of features in an active layer @cchristelis ?

[2018-06-14 09:57] gubuntu commented on #99
superseded by #100 @sonlinux please be more careful

[2018-06-14 09:57] #99 closed

[2018-06-14 10:08] gubuntu commented on #101
another duplicate of #100 ! @sonlinux

[2018-06-14 10:08] #101 closed

[2018-06-14 10:17] sonlinux commented on #100
Thanks for the correction @gubuntu

[2018-06-14 10:37] gubuntu commented on #102
covered by #15

[2018-06-14 10:37] #102 closed

[2018-06-14 10:39] gubuntu opened #106 "FR23 subscribe to reports"
A regsitered user can subscribe or unsubscribe to any/some of the reports available through FR22 and accessible to their role. The system then triggers emails on updates, though not spamming

[2018-06-14 10:47] gubuntu commented on #103
contained in #45

[2018-06-14 10:47] #103 closed

[2018-06-14 10:51] gubuntu opened #107 "Implement system monitoring and alerts"

[2018-06-14 11:47] gubuntu opened #108 "Handle mixed taxa on upload"
If an upload contains a mixture of taxa such as reptiles and mammals, this
- should be accepted
- and records for the different taxonomic groups should be 'routed' to the correct expert user to be validated.

depends on #146

[2018-06-14 11:56] gubuntu commented on #65
@meomancer please get the final list to match the OP exactly.

[2018-06-14 11:59] gubuntu opened #109 "add long-lat mouse coordinate readout to map"

[2018-06-14 13:18] gubuntu commented on #26
seems like the second option was decided on, though why not real clustering _a la_ healthsites? Here it seems to be just allocation of records to the centroid of an aggregation feature (which then also has to be locally maintained)?

I just did a demo on staging - there was no content and no numbers in the pins. Is clicking on a pin supposed to zoom you in to uncluster the pin, or supposed to show

[2018-06-14 14:01] gubuntu opened #110 "GeoNode admin rights"
please give me and @Vince-Egan admin accounts on GeoNode on lbimsgis.kartoza.com

[2018-06-14 14:01] gubuntu opened #111 "BIMS admin account"
pleaes give me an admin account on LEDET BIMS staging

[2018-06-14 14:04] gubuntu opened #112 "add the biodiversity layer to the layer selector"
The biodiversity layer implemented in #26 needs to b part of the map layer selector so it can be re-ordered and toggled like any other layer

[2018-06-14 14:12] gubuntu commented on #30
filtering should act on

- the active layer (by default the biodiversity layer) AND
  - this means a user must be able to choose which layer is active
- records in the view extent AND
- the results of a search (if a search was performed)

When a record  in a search / filter result is clicked on, zoom to that feature and show its 'report'

Persist search / filter results during and across sessions

[2018-06-14 14:30] gubuntu commented on #91
Sorry guys but this needs to be like the original floating menu mockup, not the bar across the top like Healthyrivers.

[2018-06-14 14:33] gubuntu opened #113 "define identify button behaviour"
the 'i' button toggles the right-hand panel

or we remove the 'i' button if the panel has an 'x' to close

[2018-06-14 14:35] NyakudyaA commented on #111
Vincent already has an admin account. I have sent your in slack

[2018-06-14 14:35] #111 closed

[2018-06-14 18:11] timlinux commented on #15
@sonlinux @gubuntu please create back references to this ticket from the subtask tickets.

[2018-06-15 06:29] gubuntu commented on #15
I split the task up into separate tasks, not subtasks.

[2018-06-15 07:02] carina1000 commented on #91
Hi @gubuntu I thought in our last chat we decided to change it?

[2018-06-15 07:21] gubuntu commented on #91
Nope I said they want to keep it as per the original design. The bar takes up map real estate for one and on some screens menu items are duplicated.

It will also be a good test of inheriting css from django-bims and applying different local changes in LEDET and healthyrivers.

[2018-06-15 14:10] gubuntu commented on #32
GeoNode (through Geoserver) provides most of these download formats out of the box for all map layers, so the client should just need to contruct the url with the appropriate filter.

[2018-06-18 13:48] timlinux commented on #73
We either need to get and load these layers in BIMS as auxilliary tables or:

* publish them as WFS
* retrieve the polygon when user selects it
* use the geometry to do a filter in biological collections

I think I prefer to have them represented as models in BIMS though since they provide the opportunity to include them in our global search. That means:

* @NyakudyaA to source the layers and make

[2018-06-18 19:11] gubuntu commented on #73
@timlinux weren't just going to route Django the the GIS PostGIS database? So they can be BIMS models but not duplicated

[2018-06-19 03:52] #76 closed

[2018-06-19 04:10] #53 closed

[2018-06-19 13:47] gubuntu commented on #31
note NO address search

[2018-06-21 09:19] dimasciput opened #117 "Update side panel view"
# Problem

Current view :
![screen shot 2018-06-21 at 4 18 15 pm](https://user-images.githubusercontent.com/1979569/41709988-bf7e5b48-756e-11e8-9555-ccd41d63a2ed.png)

New design :
![screen shot 2018-06-21 at 4 19 02 pm](https://user-images.githubusercontent.com/1979569/41710028-d535c2f0-756e-11e8-9b4f-8f6f44357c04.png)

[2018-06-21 09:22] dimasciput opened #118 "Update map control panel view"
Current view :

![screen shot 2018-06-21 at 4 21 05 pm](https://user-images.githubusercontent.com/1979569/41710128-1d5631fa-756f-11e8-9e17-62afbbac99a4.png)

New design :

![screen shot 2018-06-21 at 4 21 32 pm](https://user-images.githubusercontent.com/1979569/41710169-31bb1f52-756f-11e8-8e41-38142fc406bc.png)

see moqups for detailed view

[2018-06-21 09:26] dimasciput opened #119 "Show numbers in clustering"
# Problem

Currently marker not showing any numbers :

![screen shot 2018-06-21 at 4 24 32 pm](https://user-images.githubusercontent.com/1979569/41710367-ae6007c0-756f-11e8-91f0-d80a9a0ee90b.png)

# Solution

We should show the numbers, something like this

![screen shot 2018-06-21 at 4 25 52 pm](https://user-images.githubusercontent.com/1979569/41710417-cdefde58-756f-11e8-98ae-dd4d7278e14d.png)

[2018-06-21 09:35] #17 closed

[2018-06-22 02:27] #19 closed

[2018-06-22 02:28] dimasciput commented on #65
@meomancer can you add the remaining layer ?

[2018-06-22 11:07] #117 closed

[2018-06-25 02:02] #119 closed

[2018-06-25 03:38] #74 closed

[2018-06-25 13:04] NyakudyaA commented on #39
Hi @Vince-Egan can you please comment on the availability of layers that have been tagged `LEDET` in the list

[2018-06-27 09:57] carina1000 commented on #15
Hi @gubuntu, @sonlinux has asked me to help him with the design of the PDF reports and in order to do so I need to understand the meaning of the data.

protected area management role report:
- Will the represented list of vegetation types just be a list? Will we categorise them? Also state their size (ha) or (%)?
-What is their "conservation status"? Is this represented through the "ecological col

[2018-06-29 08:32] #109 closed

[2018-07-02 10:08] cchristelis opened #121 "Reptile Module"
# Problem

We would like to upload and show Reptile Data.

# Proposed Solution

Add Reptile Module.

[2018-07-03 04:12] dimasciput opened #122 "Demo - July 5th, 2018"
# Features to be shown :

- [x] Sign up, log in, log out. With username password and OAuth.
---
- [x] External resources (links page)
---
- [x] Contact
---
- [x] Bibliography
---
- [x] Profile page
   - Issue : https://github.com/kartoza/django-bims/issues/82
   - PR : https://github.com/kartoza/django-bims/pull/92
---
- [ ] Upload reptile data
   - Issue : https://github.com/kartoza/LEDET_BIMS/is

[2018-07-04 14:14] gubuntu commented on #121
I moved this to review as it is already deployed on staging (master)

I tried to upload the raw text file from Vincent and got an error saying it has to be csv extension. I don't think we should be checking extensions, rather parsing the file? But OK...

So I changed the file extension to csv and tried to upload and got a 500.

Expected behaviour, if not successful
- feedback about incorrect delim

[2018-07-04 14:15] gubuntu commented on #5
see comment in #121

[2018-07-04 14:38] gubuntu opened #128 "upload page"
- [x] On main upload page I suggest changing 'base collections' to 'Generic observations'
- [x] on specific upload pages I suggest this text (adapt for each module)
'This is the page for uploading fish observation records'

'Upload file here' (not csv)

'These formats are supported: csv' (and we add Excel, ods, shp etc as they get implemented)

'Your data must conform to this schema to be accepted

[2018-07-04 14:39] gubuntu commented on #5
@dimasciput please attach the csv after you processed it into a valid structure, so it can easily be available for testing

[2018-07-04 14:48] gubuntu opened #129 "sign up"
- [ ] on the screen that says an email has been sent to be verified, add a button to do something, like 'login'
- [ ] the email confirmation comes from dimas and refers to example.com. Are these just admin configs?

[2018-07-04 14:50] gubuntu opened #130 "log out screen"
Are you sure you want to logout?

Add a Cancel option to go back

[2018-07-04 14:54] cchristelis commented on #130
@gubuntu, I think it is easy enough to log back in if someone hit log out by accident. Most times logging out is the intended behaviour and we shouldn't frustrate the normal flow to cater for an edge case...

[2018-07-04 14:59] gubuntu opened #131 "add a redirect page to the catalogue"
While we don't have GeoNode integration, add a menu option 'GIS Catalogue' linked to /catalogue that opens http://lbimsgis.kartoza.com in a new tab.

(or come up with a better UX)

[2018-07-04 15:02] gubuntu opened #132 "Google OAuth hanging"

[2018-07-04 15:06] gubuntu opened #133 "contributions"
nothing under contributions for kartoza_admin even though that user uploaded some reptile data (maybe this hasn't been implemented yet)

[2018-07-04 15:08] dimasciput commented on #132
@gubuntu are you testing this on testing.limpopo? Because I didn't register that site to google and github oauth.

[2018-07-04 15:09] dimasciput commented on #133
Yes this hasn't been implemented yet, we don't have any design to work with.

[2018-07-04 15:09] gubuntu opened #134 "documents and reports"
dead links like this (and contributions) should at least go to a page that says 'under development' or that contains some mock content.

[2018-07-04 15:10] dimasciput commented on #133
We can remove this button for now, I guess.

[2018-07-04 15:11] gubuntu commented on #132
no I'm doing all testing on staging

[2018-07-04 15:11] dimasciput commented on #134
Either we remove the button, or redirect to 'under development' page, what do you think? @gubuntu

[2018-07-04 15:14] gubuntu opened #135 "biobliography page shows user's activity log"
when I first went to the bibliography page, there was a stream of what looked like django easy audit logs in the top section of the page.

They have disappeared subsequently...

[2018-07-04 15:17] gubuntu commented on #47
I don't think we should be closing tickets until they've been tested and reviewed? Maybe the PS closes them but that doesn't mean they pass user testing...

As a first time use I need some help on the page to tell me briefly what it can do and to guide me how to use it, how to search, add records etc.

[2018-07-04 18:22] gubuntu commented on #130
ok

[2018-07-04 18:22] #130 closed

[2018-07-04 18:32] gubuntu commented on #133
@carina1000 please flesh out a contributions page mockup or point Dimas to one if there is

[2018-07-04 18:34] gubuntu commented on #134
If it was a production site I would remove the link but at this stage it's probably better for the client to see the structure, so redirect to 'under development'

[2018-07-04 19:27] gubuntu opened #136 "map UI"
- [x] spacing and sizing of the icons on the left needs tweaking - please make spacing and width consistent
- [x] if one selector is opened, others must close. I opened the layer selector and then the base map selector and they overlapped.
- [x] change 'layers selector' to 'layer selector'

[2018-07-04 20:00] gubuntu commented on #112
LGTM

[2018-07-04 20:00] #112 closed

[2018-07-04 20:47] gubuntu opened #137 "no reptile popup"
no reptile species popup as per

https://github.com/kartoza/django-bims/pull/93

[2018-07-04 20:51] gubuntu opened #138 "reptile info sidebar missing info"
Various fields seem to be missing or broken in the sidebar
- name
- description
- image? below description
- IUCN and other lookup data

[2018-07-04 20:57] gubuntu commented on #65
ping @meomancer (and change default to it - Mapsurfer)

[2018-07-04 21:11] gubuntu opened #139 "filtering issues"
- does filtering only work on search results? I would expect it to work on records as specified in https://github.com/kartoza/LEDET_BIMS/issues/30
- I would expect start and end dates to be bounded by those in the records being filtered so you start with a valid period covering all records
- I clicked on some names under Collector and nothing happened
- clicking on filter arrows does nothing, only

[2018-07-04 21:11] gubuntu opened #140 "search not working"
child of #31

[2018-07-04 21:40] gubuntu opened #141 "bird data to upload"
try to get this uploaded as csv or excel or ods in a bird module or a base collection

Take note:

[Copy of K Nelson 1540 - Limpopo Bird Ringing Data 2017 - 18.xlsx](https://github.com/kartoza/LEDET_BIMS/files/2164406/Copy.of.K.Nelson.1540.-.Limpopo.Bird.Ringing.Data.2017.-.18.xlsx)

child of #5

[2018-07-04 21:49] gubuntu opened #142 "fish data to upload"
try to upload this in the fish module as excel,ods or csv

Take note:

- this part will need a new issue!

[Olifants river sites 2014 v2 .xlsx](https://github.com/kartoza/LEDET_BIMS/files/2164410/Olifants.river.sites.2014.v2.xlsx)

child of #5

[2018-07-04 21:56] gubuntu commented on #27
@meomancer where are you configuring the layers? I didn't notice a django-wms model in admin

[2018-07-04 22:00] gubuntu commented on #39
@NyakudyaA please work on layers styles and labels and basic metadata for the demo - especially for the layers that are in the staging map.

[2018-07-05 00:00] dimasciput commented on #132
@gubuntu I tested on the staging site and it was working fine for me. @ann26 can you also test this?

[2018-07-05 00:07] dimasciput commented on #134
@ann26 can you handle this?

[2018-07-05 00:08] dimasciput commented on #135
@gubuntu can you elaborate more about thiss issue? I don't quite understand with the title.

[2018-07-05 00:13] dimasciput commented on #136
@gubuntu Most of these issues need to be defined first in a mockup rather we do trial and error.

@carina1000 can you create a mockup for this? Thanks.

[2018-07-05 00:17] dimasciput commented on #137
@gubuntu the popup will only shows up if you :
- search for a species first
- select one of the result in the result panel
- click the point in the map

![screen shot 2018-07-05 at 7 14 58 am](https://user-images.githubusercontent.com/1979569/42296727-4dd4bed2-8023-11e8-9353-b125409120e5.png)

It's not going to show up if you open it from the initial map page, because the point is referring to loc

[2018-07-05 00:19] dimasciput commented on #137
@gubuntu and this solution is something we come up ourselves without any mockup for a guide.

[2018-07-05 00:22] dimasciput commented on #138
@gubuntu
This is our current sidebar for location site :
![screen shot 2018-07-05 at 7 20 39 am](https://user-images.githubusercontent.com/1979569/42296801-fbe905c8-8023-11e8-904c-a4a1270cf938.png)

We don't have any icon for reptile, I think I will find one from internet for now.

[code]

We can't show them in location site panel, because there are lot of species.

[2018-07-05 00:28] dimasciput commented on #139
@gubuntu
[code]
@meomancer can you address this?

[code]
You need to select the filter first and then click the arrow or click enter in keyboard again.

[code]
It does works on the staging and testing site.

[2018-07-05 02:01] dimasciput commented on #128
[code]
Updated in https://github.com/kartoza/LEDET_BIMS/pull/145

[2018-07-05 02:03] dimasciput commented on #128
[code]
We need to create separate ticket for this, because it's pretty big feature. And we also need the mockup.

[2018-07-05 02:06] ann26 commented on #132
hi @gubuntu and @dimasciput
I tested the https://staging.limpopobims.kartoza.com/ and I can login both using my google account and github account.

[2018-07-05 02:07] dimasciput opened #146 "Validation on upload"
## Problem

Once your upload is successful, you will be able to edit it while it awaits validation. Once it is validated, you will no longer be able to edit it.

@carina1000 can you create a mockup for this, we need to able show thousands of data so pagination is needed.

child of #24

[2018-07-05 05:38] gubuntu opened #148 "cluster boundaries not visible"
A bunch of blue boundaries draw before being covered by the basemap and at one stage I noticed some faint yellow boundaries.

- [x] cluster boundaries must draw over base map and be made more visible
- [ ] ~cluster boundaries (and all other geojson layers) are styled by SLD or MapBox JSON (not Kartoza custom styles)~ follow up in another ticket.
- [x] styles are configurable through admin (this wi

[2018-07-05 05:43] gubuntu opened #149 "navigation UI"
- [x] The burger and profile menus take up the whole screen. I think they would look better taking up about 1/3 of the screen.

- [x] the menu strapline 'made with ... by kartoza' doesn't do it for me. Is the Kartoza logo in the middle supposed to stand for 'love' or 'FOSS'? It needs to be made much more obvious otherwise it reads wrong.

[2018-07-05 05:49] gubuntu commented on #39
@NyakudyaA please publish pollution and waste layers that @Vince-Egan just added to DropBox

[2018-07-05 06:05] gubuntu commented on #146
or you could give role-specific admin access like @lucernae did in InaSAFE Realtime? (rather than creating a custom user view)

then again this is a workflow / business process so we should be thinking bigger picture and establishing proper bpm (business process management) in our Django apps (there are probably some apps to facilitate bpm)

(btw this is covered in #21 #23 #24)

[2018-07-05 06:10] gubuntu commented on #132
Just tried again and it now proceeds but this page needs styling:

<img width="808" alt="screen shot 2018-07-05 at 08 08 01" src="https://user-images.githubusercontent.com/496911/42305332-cdb9e06c-802a-11e8-9a85-301a406c067e.png">

and how would one do this?

`An account already exists with this e-mail address. Please sign in to that account first, then connect your Google account.`

[2018-07-05 06:36] gubuntu commented on #136
please proceed with those that don't need a mockup - only the first and third ones probably need Carina's input.

[2018-07-05 06:39] gubuntu commented on #137
I think if you click on a site that has just one species then it should show the popup.
 one
Also the whole concept of sites vs species is not intuitive, the user needs more guides or hooks to make it clearer. I see a non-clustered marker and imagine it represents one observation.

[2018-07-05 06:42] gubuntu commented on #139
no these issues still apply (in Firefox 52 on a Mac)

[2018-07-05 06:43] gubuntu commented on #138
when I clicked on a site with one species they didn't show either

yes please find a reptile icon

[2018-07-05 06:47] ann26 commented on #132
hi @gubuntu it is because you sign in with different social account that have the same email address with your existing account in database.

For example: one day you have signed in with a google account which uses email address example@kartoza.com, then 2 days later you try to sign in with a github account with the same email address (example@kartoza.com). The system won't allow you to have two a

[2018-07-05 06:54] NyakudyaA commented on #39
@gubuntu some of the styles for the layers I have just inherited them from the custodians of the data where I downloaded them.

[2018-07-05 07:54] dimasciput commented on #140
I guess this fixed by https://github.com/kartoza/django-bims/pull/113

[2018-07-05 07:57] dimasciput commented on #139
@gubuntu weird, I tested on the firefox and it was working fine. I use testing server

![bims](https://user-images.githubusercontent.com/1979569/42309738-a7626838-8063-11e8-85bc-672f1ba93fbf.gif)

[2018-07-05 08:00] dimasciput commented on #138
[code]

Yes because you are seeing the location site, we need button to show the species. I guess it doesn't makes sense if we show the species only for location site that has single species and not for others.

[2018-07-05 08:35] dimasciput commented on #137
@gubuntu
[code]

Yes, I agree, we need better design.

[2018-07-05 11:00] dimasciput commented on #121
[code]

Don't you think we should have standard format? I added an information of csv fields we can accept.

![screen shot 2018-07-05 at 5 56 33 pm](https://user-images.githubusercontent.com/1979569/42319648-ceddac56-807c-11e8-98e3-599250a0d4fe.png)

[2018-07-05 20:56] gubuntu commented on #139
the arrow problem is with filter arrows not the search arrow

[2018-07-06 07:40] carina1000 commented on #149
1. Hi @gubuntu I do think it looks better covering the whole screen as 1/3 cuts the image behind and makes the screen look busy. Maybe we can utilise the screen space and add some more purpose messaging or contact information?
However - I have designed a smaller option here: https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/a2e49b9e2

2. The strap-line is meant to only have the Kartoza s

[2018-07-06 08:44] carina1000 commented on #136
@gubuntu could you please help me with the copy to help explain the LBIMS to new visitors. I have started here: https://docs.google.com/document/d/1VglbMPJz0Ys7gRGkjZgJP4Nb0wpraHkg9Cuq9rK-EQQ/edit

[2018-07-06 11:54] carina1000 commented on #133
Please see contributions mockups here: https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/ab723af6b & https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/a6be764a7

Please add info if I've missed some things

[2018-07-09 07:52] gubuntu commented on #39
@NyakudyaA if you inherit styles with layers then leave them. I'm referring to layers that came with no published styles or layers that have official styles (like vegmap) that have not been applied.

[2018-07-09 07:57] gubuntu commented on #138
thanks for the icon, but a frog is not a reptile :-) - please replace

[2018-07-09 08:05] gubuntu commented on #121
yes that's much better, user must prepare data first.

Are these the standard base collection fields (all base collection fields should be here)? How different are they for Reptiles?

Maybe format them in a column, with notes next to each one: type, mandatory/optional, notes on what information should go into each. e.g. what are meant by location_site and category?

And are we only accepting comma

[2018-07-09 08:18] gubuntu commented on #149
1. I do prefer the smaller one - it is more usual to do it like that.
1. Your new strapline is OK but we can keep the original one if it's made much more obvious (getting the 'love' message)

[2018-07-09 12:56] gubuntu commented on #136
@carina1000 OK I've made a stab at the text.

[2018-07-09 13:31] carina1000 commented on #136
@dimasciput check the pop-up mockup https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/a85920f2a - we will add more pop ups as we go along for the rest of the tools. The text should be editable from the Django admin page.

[2018-07-10 06:56] carina1000 commented on #149
@dimasciput I have made smaller burger pop up in the mockups that you can implement.
and a more obvious strap-line "LBIMS | Limpopo .... powered by Kartoza"

[2018-07-10 08:03] ann26 commented on #133
hi @carina1000 and @gubuntu
for this page: https://app.moqups.com/tim@kartoza.com/47tU30vEA3/view/page/a6be764a7
![screenshot from 2018-07-10 15-02-09](https://user-images.githubusercontent.com/26101337/42497095-4cea3c26-8452-11e8-9fa4-542424559ba4.png)

Is this going to be the details page for a single user contributor or a single contribution action?

[2018-07-10 09:06] carina1000 commented on #133
A single contribution action

[2018-07-10 11:45] gubuntu commented on #54
opening again, this work should have been against another ticket for code documentation?

The title of this issue (and the ref in the Google Doc) has not been done yet...

[2018-07-10 11:45] gubuntu opened #154 "user documentation"
write up user documentation

[2018-07-10 11:48] gubuntu opened #155 "Geoserver auth not working on lbimsgis"
If I log in to GeoNode and go to Geoserver admin, it doesn't log in.

Neither can I use any OWS

child of #4

[2018-07-10 14:04] NyakudyaA commented on #155
@gubuntu  I am investigating why it doesn't log you in but the OWS service is working from metasearch in QGIS.
Here is a sample layer added with my geonode credentials in metasearch
![ows](https://user-images.githubusercontent.com/2510900/42514931-d7348622-845a-11e8-9e12-37aa41949e3e.png)

[2018-07-11 03:31] ann26 commented on #133
@carina1000 oh okay, I'm a bit confused here. So the page that list contributions is listing each contributions (like upload history?) ? And if we click on each of it, we'll go to the page for single contribution action?

[2018-07-11 07:44] carina1000 commented on #133
Exactly @ann26 - but please let me know if you have better ideas?

[2018-07-11 08:48] ann26 commented on #133
@carina1000 I'm not sure if this is a better idea, so when first I did https://github.com/kartoza/django-bims/pull/121 I thought we are going to show list of the contributors (and their associate objects). We can also show their last activity with the site.
with upload history we will need upload date, it is not available now

[2018-07-11 09:09] carina1000 commented on #133
Ah yes the "collectors/contributors" page - to be honest I thought this ticket was to show the individual user their upload history/contributions. I will mock the collectors page up soon! Or maybe we should have a quick call to clarify?? @ann26

[2018-07-11 13:15] cchristelis commented on #133
@gubuntu, @ann26 and @carina1000 I think we should only have the summary page. The view on map should show the data on the map. The "Add Contribution" button should go.

[2018-07-12 10:16] gubuntu commented on #133
This is not a functional requirement for LEDET, it is a core feature from kbims (via healthyrivers). So @cchristelis pls specify.

From my perspective it's useful to see a summary view of all contributions as well as a report in your own profile showing your contributions.

Contributions are data sets or documents that a user has uploaded.

Clicking on a contribution should take the user to that o

[2018-07-12 10:22] gubuntu commented on #155
I tried adding WMS and WFS and also the GeoNode provider and none of them worked.

[2018-07-12 10:44] gubuntu opened #157 "undefined clusters in staging"
staging should never be broken....

[2018-07-12 13:39] gubuntu commented on #33
temporary implementation on http://lbimsgis.kartoza.com

production implementation will be on a LEDET server

discuss with @dimasciput how to merge with the new integrated BIMS-GeoNode

GIS layers must be :
- served by GeoServer / GeoNode
- accessible to BIMS via OWS
- accessible to BIMS backend (e.g. boundaries for clustering)
- accessible to LEDET GIS users from QGIS
  - but GIS users must not b

[2018-07-12 13:41] #122 closed

[2018-07-12 13:47] gubuntu opened #158 "backup and restore lbims geonode into new geonode orchestration"
BIMS + GeoNode are now integrated and deployed on testing.

All the content (which is production-ready) that is on lbimsgis.kartoza.com must be backed up and restored to testing

lbimsgis will remain the canonical copy until eventualy deployed to LEDET production servers in a formal release.

child of #4

[2018-07-12 13:51] gubuntu opened #159 "remove boundaries from BIMS and fetch from GeoNode models or services instead"
any spatial data the BIMS currently loads as GeoJSON (except for clusters and sites themselves), such as the boundaries used for clustering, must now come from the integrated GeoNode models or WFS service rather than our BIMS models (or just rerouted)

depends on #158

[2018-07-12 13:57] gubuntu commented on #46
The site is not responsive to mobile devices. Overlapping text, poor layout etc on home and other pages.

[2018-07-12 14:03] gubuntu opened #160 "'About' link is not active"
Please add a (flat?) page link to About (in the footer) and enable editing via admin

[2018-07-12 14:05] gubuntu opened #161 "500 when attempting OAuth login during demo on 5 July"
on staging

[2018-07-12 14:09] gubuntu opened #162 "fix heading text"
from demo on 5 July

- also no LBIMS anywhere, only BIMS

[2018-07-12 14:11] #134 closed

[2018-07-12 14:16] gubuntu commented on #37
from demo July 5:

i.e. records in the bibliography can include links to remote or local documents. Conversely, all local documents must be described and linked to by a record in the bibliography

Implication: bibliography must be indexed for search.

So @carina1000 the UI for documents and bibliography should be merged or at leasted designed carefully.

[2018-07-12 14:18] gubuntu opened #163 "decide on and secure a domain name"
and point the DNS to the public IP as soon as that is available

[2018-07-12 14:19] gubuntu opened #164 "VPN needs to be sorted out"
from demo 5 July

[2018-07-12 14:23] gubuntu opened #165 "manage document and bibliography permissions"
It must be easy to assign permission to a group to upload documents and edit biobliographic records

from demo 5 July:

depends on #37
child of #71

[2018-07-12 14:28] gubuntu opened #166 "add alternative background layers to site admin"
from demo July 5:

@Vince_Egan to supply list of layers (can be public or from local GeoNode)

A user who uploaded records needs to have permission here, as well as a validator.

This can be fulfilled in Django Admin or in a custom view, depending on how we implement the validation workflow

depends on #21
depends on #23
depends on #24

child of #24

[2018-07-12 14:33] gubuntu opened #167 "400 when trying to access csv"
from demo 5 July:

Some uploaded csv files I tried to access via admin gave 400s.

Admin references should exist.

I imagine this is becaues of the volatile dev environment but it should not happend on staging.

[2018-07-12 14:41] gubuntu opened #168 "deploy tagged release off master to LEDET production server"
Errol at LEDET has set up rancher-agent on one of the on-site servers and it is registered on rancher.kartoza.com

As a test run, deploy staging to this server and let's get some locals to try it out on their LAN

Thereafter, we update it based only on tagged releases from master (which is deployed on staging)

Therefore, it will get GeoNode once the integration has been tested on testing,  merged

[2018-07-12 14:49] gubuntu opened #169 "cluster, site, species"
from demo July 5:

i.e. you would expect the site symbol to explode to show different species or at least classes, so you can click through to query a specific record

@Vince-Egan can clarify

[2018-07-12 14:54] gubuntu opened #170 "split amphibians from reptiles"
from demo 5 July

each module should be modelled at biologcal Class level.

we only had 'reptile' data to look at, that was uploaded through the 'Reptile' module.

However there were amphibian records in there.

Should the user split them or should the app match records to Class?

Also, do we go ahead and create skeleton modules for every class up front? The system must be able to handle records f

[2018-07-12 15:06] gubuntu opened #171 "feedback for each site-species record"
from demo July 5:

@Vince-Egan please elaborate

[2018-07-12 15:10] gubuntu opened #172 "check layer attribution"
Topo sheets base layer has the wrong attribution information. It should be NGI.

Please check that the other layers' attributions are correct.

[2018-07-12 15:12] gubuntu opened #173 "improve biome and vegmap layers"
from demo July 5:

please remove the current biomes layer, it is poor quality.

Rather use the vegmap biome class to create a biome layer (which is how you had vegmap styled initially) - but without borders.

Then style vegmap according to the official vegetation style and labels abd publish separately as the vegmap layer.

[2018-07-12 15:53] gubuntu opened #174 "zoom on search"
from demo July 5:

child of #31

[2018-07-12 15:55] gubuntu opened #175 "search returning incorrect results"
from demo July 5:
- [x]  Snakes were returned when searching for  Chamaeleo.
- [x] Search for collector name returns sites but not species / observation records.

child of #31

[2018-07-12 15:56] gubuntu opened #176 "search fuzziness"
from July 5 demo:

child of #31

[2018-07-12 16:00] gubuntu opened #177 "report: species out of range"
from July 5 demo:

to this we need historical range data per species to be reported.

Then for each of those species, show stats and maps of where observations fall outside hsitorical ranges.

[2018-07-12 16:01] gubuntu commented on #30
from demo July 5:

[2018-07-12 16:04] gubuntu commented on #31
from demo Juy 5:

[2018-07-12 16:07] gubuntu opened #178 "Point locality data should be reported for cursor position on the map"
from demo July 5

@Vince-Egan please elaborate

[2018-07-12 16:10] gubuntu opened #179 "support OSM layers"
from demo July 5:

- [ ] @Vince-Egan needs to decide if OSM vector data should be loaded as layers (other than base-layers)
- [ ] if so, then we can configure docker-osm rivers, roads, buildings etc.

Vincent has a detailed river polygon layer he maintains in OSM (for crocodile habitat)

[2018-07-13 08:01] gubuntu opened #180 "change remote map layers to local reference"
depends on #158

Once the GeoNode branch has been merged with develop and the data currently on lbimsgis has been restored into it, refactor all WMS layers in the BIMS map to use the integrated GeoNode (with authentication obeying role permissions)

child of #4
depends on #27

[2018-07-13 08:29] dimasciput commented on #167
I think this is because I only restored the database without the csv to the staging.

[2018-07-13 09:14] NyakudyaA commented on #155
@gubuntu  I created an account for Warren and tested MetaSearch using his credentials and everything works as expected. The correct OWS request is  http://lbimsgis.kartoza.com//geoserver/geonode/ows

I have fixed a couple of  the layer permissions and you should be able to see all layers

[2018-07-13 13:14] NyakudyaA commented on #173
@meomancer  please change the reference for the Biome layer to come from
URL: http://lbimsgis.kartoza.com/geoserver
Layername: geonode:biomes_of_south_africa

The vegetation map will be styled using the specification from the BGIS

[2018-07-13 14:34] gubuntu commented on #173
Much better @NyakudyaA but there are still white borders between polygons.

[2018-07-13 14:43] gubuntu commented on #155
I still can't log into geoserver, even after creating a new superuser, not on firefox nor chrome.

When I first tried on chrome I got a CSRF error, so please check nginx and django settings configs and turn debugging off

[2018-07-16 01:30] dimasciput commented on #175
We can't search for collector names for now, we still don't have clear user flow for this.

@ann26, please working on the point 1.

[2018-07-16 03:30] dimasciput commented on #131
https://github.com/kartoza/django-bims/pull/136

[2018-07-16 06:33] gubuntu commented on #136
update items in OP

default zoom to Limpopo province needs to be closer (province to fill screen)

[2018-07-16 06:40] gubuntu commented on #149
items in review should be deployed to testing (or I propose we add another waffle column for testing)

[2018-07-16 06:49] gubuntu commented on #27
ping @meomancer

Also now that BIMS is integrated with GeoNode, BIMS admin needs to configure layers and permissions - what is progress with that?

[2018-07-16 06:52] gubuntu commented on #5
needs more user testing

[2018-07-16 06:54] gubuntu commented on #91
@dimasciput I think this is done, please close if you agree

[2018-07-16 06:55] gubuntu commented on #65
ping @meomancer just a small thing to close this

[2018-07-16 08:20] #7 closed

[2018-07-16 08:21] carina1000 commented on #7
https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/aa9df7b72

[2018-07-16 08:30] carina1000 opened #181 "Propose right pannel info solution"

[2018-07-16 08:46] ann26 opened #182 "update map UI"
following up #136

- [x] The initial map page view is rather abstract. I think it needs an info popup on load that explains the default view and what you can see and do, along with the purpose, with a 'don't show this again' option.
- [x] default zoom to Limpopo Province

related to kartoza/django-bims#155

[2018-07-16 08:46] cchristelis commented on #172
@NyakudyaA, please assign this to @meomancer when done.

[2018-07-16 08:48] cchristelis commented on #139
This is followed up by issue #137

[2018-07-16 08:48] #139 closed

[2018-07-16 08:51] cchristelis commented on #27
@meomancer this should be softcoded, not hardcoded.

[2018-07-16 08:52] carina1000 opened #183 "Propose right panel info solution"
# Problem

Currently the data is showing both on the right panel (search results) and a pop up.

# Solution

We need to keep the info on the right panel and come up with some sort of conceptual hierarchy.

Parent of #169
child of #31

[2018-07-16 09:04] dimasciput commented on #138
@carina1000 can you provide me with the icon please?

[2018-07-16 09:05] dimasciput commented on #140
@gubuntu can you be more specific for this issue?

[2018-07-16 09:05] dimasciput commented on #135
I couldn't replicate this issue, @gubuntu can you test this again?

[2018-07-16 09:05] ismailsunni commented on #43
The last discussion, we will not use django-wms and use geonode for this feature. Should I close it?

[2018-07-16 09:07] dimasciput commented on #142
going to convert this data to standard format

[2018-07-16 09:29] gubuntu opened #184 "FR10 upload biodiversity data with geometry"
this refers to standard biodiversity observation data ('distribution' refers to the location as xy point coordinates or polygon) i.e. the generic biodiversity record class.

In this ticket, handle upload from shapefile. also see the requirements document for further context.

GeoPackage or GML  or even GeoJSON are preferable to shapefile unless they take longer to code. We want to be standards com

[2018-07-16 09:34] dimasciput commented on #46
@ann26 please handle this

[2018-07-16 09:43] cchristelis commented on #169
please hand over to @meomancer when done

[2018-07-16 09:45] cchristelis commented on #159
@NyakudyaA, please provide @meomancer with the data.

[2018-07-16 09:47] cchristelis commented on #180
Let's add a model in the DB that admin users can assign the sources and what the context data is called.

[2018-07-16 09:49] gubuntu opened #185 "do full geonode backup of lbimsgis"
do a full backup and sync or share so it can be restored on testing and dev machines (and then staging when staging has geonode)

required by #158
required by #159

[2018-07-16 09:51] cchristelis commented on #67
@ann26, maybe you need to @NyakudyaA on how this should be done.

[2018-07-16 09:54] cchristelis commented on #68
Please verify this can be done

[2018-07-16 09:58] carina1000 commented on #138
@dimasciput I sent a proposed icon on slack.

[2018-07-16 10:07] carina1000 commented on #138
Find icons here: https://drive.google.com/drive/u/0/folders/1tEKHK3TSb7jGtdRBsfbCBp9azv8T8PWw?ogsrc=32

[2018-07-16 10:10] gubuntu commented on #59
@cchristelis' feedback from SANBI is that an IPT node is the easiest way to achieve this. This means the IPT needs to be able to use our DB backend...

Let's do this in August

[2018-07-16 10:10] carina1000 commented on #183
@gubuntu please confirm the proposed "conceptual hierarchy"

[2018-07-16 10:11] #181 closed

[2018-07-16 12:00] #131 closed

[2018-07-16 13:01] gubuntu commented on #136
@ann26 I unticked the two items I don't see. And issue fixes need to be merged, deployed in testing and tested before closing

[2018-07-16 15:03] gubuntu commented on #170
For now let's just use base collection class, but the system and user must be able to distinguish the taxonomic Class. For example, in this case, amphibians must not be ingested into the Reptile module. So either the use must separate them before uploading, or the system must be able to discriminate and save them into the appropriate models.

Varous places in the UI need to summarise or show Class

[2018-07-16 15:06] gubuntu opened #186 "activate or remove home page dashboard"
The home page icons are static demos. They should show real information or be removed or replaced.

I propose showing summaries per taxonomic Class as well as numbers of layers in GeoNode for the other LEDET departments

[2018-07-17 08:21] gubuntu commented on #133
This issue was moved to kartoza/healthyrivers#136

[2018-07-17 08:21] #133 closed

[2018-07-17 09:22] gubuntu opened #187 "remove contributions section"
we're leaving contributions for KBIMS / healthyrivers, please remove link from LEDET

[2018-07-17 11:38] gubuntu commented on #155
1. Have you changed something? Now I can do WMS and WFS and WCS connections to http://lbimsgis.kartoza.com/geoserver/ows from QGIS 3.2 with NO authentication (does removing the layers from public access in GeoNode not also require authentication on geoserver services?)
1. The GeoNode provider still shows nothing
1. I still can't connect with SLD Editor
1. I still can't log into geoserver

[2018-07-17 12:04] gubuntu commented on #173
OK leave it for now and move back to Ready, near the bottom, there are higher priorities.

I think the only solution  to the hairlines is to set the boundary colour to be the same as the polygon colour.

Also, bioregion is different to biome. So you could pull out a bioregion layer as well.

[2018-07-17 12:33] gubuntu commented on #140
several seraches I tried on staging during the demo either did nothing or returned unexpected / wrong results. I'll close this and see how search has improved on testing.

[2018-07-17 12:33] #140 closed

[2018-07-17 12:39] gubuntu commented on #43
@meomancer merged this to configure layers in the BIMS map: https://github.com/kartoza/django-bims/pull/141

@ismailsunni could you test that layers assigned to a GeoNode group (BIMS role) appear in the BIMS map when a user belonging to that group is logged in and conversely that layers not assigned to that group (and not public) are not visible to that user.

We can't close this until the use cas

[2018-07-17 13:00] gubuntu commented on #33
@NyakudyaA test this against the testing server, then against the staging server once it has GeoNode and then against the production server once it is deployed there.

Then ask Vincent and other LEDET staff to test on their LAN

[2018-07-17 13:17] gubuntu commented on #60
@Vince-Egan the point data are incomplete in dropbox (there is only a cpg file) and I'm struggling to open the gdb - Is is a normal ESRI file geodatabase?

[2018-07-17 13:30] gubuntu opened #188 "several links leave BIMS"
e.g. login opens a new tab. This is a one-page app...

[2018-07-17 13:31] gubuntu commented on #135
I can't right now. Testing is not showing the error and staging only has a map page, no other components???

[2018-07-17 13:50] NyakudyaA commented on #185
Done the full Geonode backup. Still syncing the database dumps from the server.
Setup the share using the following key
*RO* : `BTGIPZLB3U7IS6OJKRICGJAFYXBI7STWI`

[2018-07-17 14:02] Vince-Egan commented on #60
@gubuntu : I have updated the files on dropbox - both are now in shapefile format.

[2018-07-17 14:11] Vince-Egan commented on #169
@cchristelis @gubuntu  Do you need further clarification here? We need multiple records at a specific site to explode into individual records that can be clicked on to source the specific information for the record.

[2018-07-17 14:14] Vince-Egan commented on #51
@gubuntu: what do you want me to do here?

[2018-07-17 14:46] Vince-Egan commented on #14
@gubuntu: I'm just waiting for confirmation that https://bims.ledet.gov.za (sub-domain of LEDET's existing web-site) will be suitable as the URL - I'll register the code as soon as that is finalised.

[2018-07-17 14:56] NyakudyaA commented on #158
@dimasciput from the orchestration you have set-up we need the following:
* 2 instances of the database so that we can have the Django and spatial database as separate. The spatial database will be linked to GeoServer and we upload layers using Django management layers. We should also configure Geonode to use this spatial database as the backend for people who upload using the GUI (although our Ge

[2018-07-17 15:12] Vince-Egan commented on #179
@gubuntu: it would be great to pull in river area, river lines, roads, tracks (footpaths), buildings, dam walls, lakes/water-bodies and wetlands.

[2018-07-17 15:14] Vince-Egan commented on #178
@gubuntu: when you move the cursor around the map, you should be able to see the decimal coordinates of the cursor somewhere on the screen.

[2018-07-17 15:19] Vince-Egan commented on #171
@gubuntu: I think this referred simply to attribute data being displayed when a record was clicked - I may have included it because I was unable to split some records that were at identical localities. This is thus probably not an issue in its own right.

[2018-07-17 15:19] #171 closed

[2018-07-18 04:43] gubuntu commented on #178
Ah, that's already done. If you click the icon in the bottom left it shows the dynamic mouse coords

[2018-07-18 04:43] #178 closed

[2018-07-18 05:16] gubuntu commented on #51
I think #184 will satisfy this requirement as far us uploading data goes. But according to the original requirement (FR54), this is about a user
1. Choosing to go into 'add observation' mode while in the map UI
1. clicking on the map
  a. in a new location, in which case a new point site is created
  b. on an existing site, in which case that site is used
1. then the system pops up a form
1. then

[2018-07-18 05:30] gubuntu opened #189 "publish BIMS data via GeoNode"
now that BIMS is integrated with GeoNode, we could publish the BIMS biodiversity layers as readonly layers in GeoServer/GeoNode

[2018-07-18 07:59] NyakudyaA commented on #158
@gubuntu  Geonode principle from 2.8.0 is to separate the databases. Whilst it is ok to utilize the same database I guess it's just tidy and prevents people with unauthorized access to play around with the Django tables.
* The biggest drawback is just mixing Django tables with spatial data.

[2018-07-18 08:08] NyakudyaA opened #190 "backup and restore flushes data"
# problem
When doing a geonode restore it flushes the data for all the Ledet bims modules. And also breaks the site.

Procedure
* python manage.py restore --backup-file=backup.zip
* python manage.py migrate_baseurl --source-address=lbimsgis.kartoza.com --target-address=testing.limpopobims.kartoza.com
[code]
[code]

# Solution
We need a way to preserve the current context of the site (fish data etc

[2018-07-18 09:19] NyakudyaA commented on #172
@meomancer  please add the following

**Positron**
attribution: 'Data from <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors; tiles from <a href="uni-heidelberg.de/openmapsurfer/">MapSurfer</a>, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'

**OSM Map Surfer**
attribution: 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research

[2018-07-18 09:20] NyakudyaA commented on #172
[code]

[2018-07-18 10:11] gubuntu commented on #190
@lucernae @dimasciput the architecture and orchestration need to be tweaked to allow this restore to happen cleanly asap

[2018-07-18 10:57] NyakudyaA commented on #172
Klokantech
[code]

[2018-07-18 11:02] gubuntu commented on #60
@NyakudyaA I have uploaded these into GeoNode.
- Developments_EIA-polygons
- Developments_EIA-points

It's weird that I can login and even upload a layer but I still can't authenticate to Geoserver nor can I edit styles through GeoNode. The point style I created didn't go through so I'll send it via Slack - please apply it.

@Vince-Egan I've left the fields as is but I imagine these are internal l

[2018-07-18 12:09] NyakudyaA commented on #60
@gubuntu  the reason why you could not edit the style was that it was not a valid style hence giving an error.
[code]

[2018-07-18 13:32] #185 closed

[2018-07-19 04:02] meomancer opened #191 "Geonode is watched by easyaudit"
### Problem
When upload layer through geonode, easy audit is watching geonode too.
[code]

### Solution
Should we ignore geonode by easyaudit?

[2018-07-19 04:48] meomancer commented on #173
@NyakudyaA @gubuntu
current version, we setup using admin

![selection_037](https://user-images.githubusercontent.com/4530905/42922163-ac1ab47a-8b49-11e8-8c9e-04ae70019af6.png)
![selection_036](https://user-images.githubusercontent.com/4530905/42922164-adad9f14-8b49-11e8-82d5-92cd3d9f2827.png)

[2018-07-19 05:01] lucernae commented on #190
Where can I have this backup.zip (does it have fish data?).
From the stacktrace alone, it seems that the problem is just from the documents model of geonode.

[2018-07-19 05:48] gubuntu commented on #191
I think it's a good thing since we do need to track who does what in the GIS database (see #36; easyaudit might mean we don't have to do that)

1. Does easyaudit track the GIS layer tables themselves or just the django models?
2. Can it be set up to track what goes on in a separate database, since we are likely to separate the DB backend as per #158

[2018-07-19 06:57] NyakudyaA commented on #190
@lucernae cc @dimasciput  this was just another error I found out about the restore. You can access the backup from the http://rancher.kartoza.com:8080/env/1a11712/apps/stacks/1st704/services/1s2305/containers
Data path: `/data/2018-07-17_105643.zip`

[2018-07-19 07:54] dimasciput opened #192 "Profile page is broken"
![screen shot 2018-07-19 at 2 53 29 pm](https://user-images.githubusercontent.com/1979569/42929205-910c1f60-8b63-11e8-90be-61eb5509dfba.png)

@gubuntu, Should we just redirect it to the geonode profile page?

[2018-07-19 10:45] gubuntu commented on #192
Yes we can probably use and extend geonode profile. @lucernae can probably give a better answer

[2018-07-19 11:13] gubuntu commented on #163
it will be bims.ledet.gov.za

[2018-07-19 11:29] gubuntu commented on #164
Errol is busy with VPN, ssh, public IP etc.

the second server should be set up in the LEDET office with the other one and also given a static IP and have rancher-agent set up and Kartoza notified. Then Kartoza will spread the Rancher orchestration across both servers.

Then at some point LEDET will move the servers to Mokopane SITA - this must be planned properly.

[2018-07-19 11:49] gubuntu commented on #100
this should be available from the geocontext service or local geonode layers, but degradation data needs to be registered with geocontext

[2018-07-19 12:36] #54 closed

[2018-07-19 14:33] NyakudyaA commented on #173
The legend for the veg map is very big. I have added an issue/enhancement in geonode
https://github.com/GeoNode/geonode/issues/3850

[2018-07-19 14:47] gubuntu commented on #173
The UI might be a GeoNode issue but a contextual legend is a GeoServer issue - I don't think it can do one.

These layers are much better now...nice. Except shouldn't the vegmap polys have labels at a large scale?

And are the layers going through GWC for BIMS?

[2018-07-19 14:57] NyakudyaA commented on #173
In order to generate a contextual label, you have to specify the bounding box for that getlegend request. Geoserver can do this and I think it might be an easy thing to do for Geoserver.
The vegmap style from BGIS did not have any labels but I can add it.

The layers are passing through gwc. I can seed the vegmap as it is busy with the style attached

[2018-07-19 18:00] gubuntu commented on #173
don't worry about labels, it'll just be a time sucker, there are higher priority things to do right now

[2018-07-19 18:06] Vince-Egan commented on #14
@gubuntu : Here is the Google Analytics code snippet for bims.ledet.gov.za:

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122588904-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122588904-1');
</script>

[2018-07-19 21:23] #162 closed

[2018-07-20 03:10] ismailsunni opened #194 "Change GeoContext Collection API"
I made a change in https://github.com/kartoza/geocontext, now it has new url format, tidier.

For example:
http://geocontext.kartoza/com/api/v1/geocontext/value/collection/27/-31/river_ecosystem/ to retrieve the value from a collection.

[2018-07-20 05:57] meomancer opened #195 "Extent of records not correctly received"
# Problem
When getting extent records, it also filtering bbox. It will make if in bbox, no records found, map will not move to records.

# Solution
Fix it

[2018-07-20 06:49] lucernae commented on #190
Hi, I analyze the issue and here's what I found:

- [ ] When you restore from a geonode backup, it will flush all existing data in geonode (db, static, geoserver data, and templates). So it was expected that all existing data in this BIMS will be gone too. It was expected by geonode design, and we should not change this.
- [ ] With regards to BIMS model, it was possible to override geonode's resto

[2018-07-20 06:52] meomancer commented on #32
hi @gubuntu
i'm quite confused for this ticket how to communicate with geonode.
The records data is already in bims, and should the download data process is just creating csv or other format through django bims without geonode?

[2018-07-20 09:42] dimasciput commented on #141
Formatted bird data :

[limpopo-bird.csv.zip](https://github.com/kartoza/LEDET_BIMS/files/2213334/limpopo-bird.csv.zip)

[2018-07-20 09:59] gubuntu commented on #32
yes the biodiversity records download can come from BIMS django.

But downloads of any other layer should come from geonode/geoserver.

(It should even be possible to publish the biodiversity records in geonode so you can download them from there (and so authorised users can fetch them as WMS or WFS layers) but that should probably go into the baacklog as a separate out of scope issue...)

[2018-07-20 10:06] gubuntu commented on #190
I don't completely understand but thanks for analysing @lucernae

In this case we need a once-off restore from an independent GeoNode, provided we can guarantee that the content keeps its integrity when it gets transferred to staging and production (or it will be a once-off to each of those too). Once in production at LEDET it will be maintained by final users (next week!)

So can we do the restor

[2018-07-20 11:00] NyakudyaA commented on #61
Added service rules in Geoserver to allow authenticated users direct access to standalone Geoserver.  When Geonode auth works it will also allow users to see layers that they have permissions against

[2018-07-20 14:21] gubuntu commented on #36
was this really next in your Ready queue? Did you not see the reference from #191 that easy-audit might mean we don't need historisation?

I see you have some commits from May but you hadn't moved this into the In progress column.

[2018-07-20 14:38] NyakudyaA commented on #33
Still waiting on the Geonode restore. Otherwise, I have a backup of the spatial database and django in the btsync share.

[2018-07-20 14:42] NyakudyaA commented on #36
This was in my ready column. There are no issues in the backlog. The commits from May was when I was testing on my free time. I will leave it now. Otherwise, I had pulled from develop before making the PR

[2018-07-22 07:39] dimasciput commented on #190
@NyakudyaA @gubuntu, like @lucernae suggested in point 2, I created a temporary geonode restore command  :
https://github.com/kartoza/django-bims/pull/154

I managed to restore the geonode data on my machine:
![screen shot 2018-07-22 at 2 34 17 pm](https://user-images.githubusercontent.com/1979569/43043380-cd8a4588-8dbc-11e8-84f1-b63f23eff3ea.png)

But when I try to open one of the layer, I got th

[2018-07-23 06:40] dimasciput commented on #190
@NyakudyaA Hi Admire, that's because django error from our end, basically we use MIDDLEWARE but geonode uses MIDDLEWARE_CLASSES. That has been fixed, and now my current issue is the geoserver data is still empty.

[2018-07-23 08:08] timlinux commented on #194
What is the actual task here @ismailsunni and who should be doing it?

Can we come up with a plan to:

1) Define in admin or somewhere which context collections should be used for a running instance of BIMS
2) A management command to retrospectively update the contexts of all existing records
3) A signal / trigger to update the context of any site when a CRUD operation that affects its point geome

[2018-07-23 09:18] timlinux commented on #194
![screen shot 2018-07-23 at 11 17 48](https://user-images.githubusercontent.com/178003/43068222-2225298e-8e6a-11e8-834f-1b235d4fc67c.png)

[2018-07-23 09:35] gubuntu opened #198 "handle duplicates on upload"
We say in the upload UI that duplicates are detected and rejected, but are they? If so, how? and what is the interaction?

# proposal
identify candidate duplicates on upload and flag them so that the user or validator can choose which if any to delete

candidate duplicates must match on site AND time AND species AND collector/observer

child of #5

[2018-07-23 10:07] carina1000 commented on #169
My suggestion is when zoomed in and hovered over site a pop up appears with a table that shows the Module # and Species # in that site - the user can then see the data in that site and click through the pop up to navigate to specific information on that record.

(I feel as though this is a cleaner approach than the planet/explode option)

![Map_-_clustering.png](https://waffleio-direct-uploads-pro

[2018-07-23 10:08] #91 closed

[2018-07-23 11:44] gubuntu commented on #169
Rather (Taxonomic) Class rather than module per se since most LEDET records will for now be in the generic module, but Class is still an important classifier.

[2018-07-24 07:12] carina1000 commented on #169
![map_-_clustering](https://user-images.githubusercontent.com/35214829/43122508-9294485a-8f21-11e8-85f8-0cba00094e34.png)

[2018-07-24 08:10] lucernae commented on #190
For related files like media and geoserver files, we have to copy over from origin, or just take it from the geonode backup zip files.
For database transfer, we can just use pgdump to create database backup from origin. Pgrestore to restore it to BIMS, then allow GeoNode to run first to apply migrations.

[2018-07-24 09:06] #69 closed

[2018-07-24 09:13] NyakudyaA commented on #42
@gubuntu I have created a doc in my drive. Where can I move it to so that it is in one central place with other docs

[2018-07-24 09:49] Vince-Egan commented on #169
@carina1000 , @gubuntu - this approach is great and straightforward for folks to grasp.

[2018-07-24 12:38] NyakudyaA commented on #41
I have added a schema in the database called `data` that will be used for temporary storage of data.
**Roles**
* `editor` - For users uploading data into the database, editing, styling
* `admin` - Complete access to all schemas

**Schemas**
* Public - Geonode reads this by default
* data - temporary store for use by editors
![database_users.png](https://waffleio-direct-uploads-production.s3.amazon

[2018-07-25 03:18] meomancer opened #200 "Enable django data exports of biodiversity layer"
# Problem
User should be able to download current data in view.

# Solution
- [x] Create control `download button` and show format that user want
- [x] Download data based on filters and view

child of #32

[2018-07-25 08:31] NyakudyaA commented on #39
Hi @Vince-Egan any update on the layers referenced as Ledet from this ticket

[2018-07-25 14:38] gubuntu commented on #61
Geoserver rules should block everyone except admin, or we just block the geoserver url from outside access with nginx, so everyone has to access it via GeoNode.

[2018-07-26 00:56] dimasciput opened #201 "Error opening geonode upload page in production"
From sentry :
[code]

[2018-07-26 04:30] dimasciput opened #203 "Add sentry configuration"
Add sentry configuration for production.

[2018-07-26 04:35] dimasciput commented on #203
Added in https://github.com/kartoza/kbims-ledet/pull/1,
https://github.com/kartoza/LEDET_BIMS/pull/199,
https://github.com/kartoza/LEDET_BIMS/pull/202

[2018-07-26 04:35] #203 closed

[2018-07-26 05:05] ann26 commented on #192
It is fixed in https://github.com/kartoza/django-bims/pull/158

[2018-07-26 07:10] ismailsunni commented on #194
I will separate this into several smaller tickets

[2018-07-26 07:40] ismailsunni opened #204 "Update URL to retrieve GeoContext Collection"
To Do:
- [x] Add new environment to set the collection key
- [x] Update that is used to match with the new API
- [x] Make simple view/UI to show the value

[2018-07-26 07:49] ismailsunni opened #205 "Update Context Documents"
- [x] Update model for handling location context document
- [x] Add model's method to update location context document
- [x] Implement management command to update context document for all LocationSite
- [x] Implement signal when a LocationSite is changing its location, then update its context document

[2018-07-26 07:52] ismailsunni opened #206 "UI Design to Show Context"
- [ ] Design the UI, discuss with others (@carina1000 or @dimasciput )
- [ ] Implement it

[2018-07-26 09:55] dimasciput commented on #187
Already removed from the ledet

[2018-07-26 10:00] dimasciput commented on #191
I'm unregistered the audit from the geonode models https://github.com/kartoza/django-bims/pull/154/files#diff-8f2c31233e04d2b684969d23b8182668R175. This also causing error in geonode restore function.

[2018-07-26 10:02] dimasciput commented on #63
this will be added from geonode manually

[2018-07-26 10:10] #201 closed

[2018-07-26 10:29] dimasciput commented on #170
example of the taxonomy data :
![Screen Shot 2018-07-26 at 5.29.10 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56bdb607e3f0dc0e00ac2dac/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246456f56b7191a37df110224f5e5f5ecc3c4a4356bcbbd671f3e57862804e0ebc80395e75c06f17aaecd11abe01ba21d94ad1e5b88949d2f42f67b6d5db1063474f4dcbed5727a29841c95df549e74d55ad1b3260

[2018-07-26 10:32] gubuntu commented on #164
Errol has moved both servers back to LEDET as he deemed that is the best location for deployment at the moment. He is busy with support from @timlinux in prepping them for deployment.

[2018-07-26 11:05] gubuntu commented on #34
from Errol:

[2018-07-27 01:11] ann26 commented on #67
hi @NyakudyaA , yes when is the best time for you?

[2018-07-27 01:36] ann26 commented on #176
![peek 2018-07-27 08-34](https://user-images.githubusercontent.com/26101337/43296860-21d6cc6a-9178-11e8-976d-6bfcf55152aa.gif)

[2018-07-27 09:53] dimasciput commented on #142
[fish_survey.zip](https://github.com/kartoza/LEDET_BIMS/files/2235341/fish_survey.zip)

[2018-07-29 06:31] dimasciput opened #208 "Only display validated data on the map"
Currently we show all available data on the map, it shouldn't be this case.

[2018-07-30 08:07] timlinux commented on #164
Machines are prepped with Rancher client and show in our rancher server. Is there anything else needing work? We need to clarify who will do the server admin of these hosts....

[2018-07-30 08:22] cchristelis commented on #97
@carina1000 please hand this back to @sonlinux, when you have a mockup or concept back.

[2018-07-30 08:30] cchristelis commented on #166
# Note

this needs to be applied to the validation page.

[2018-07-30 08:33] cchristelis commented on #6
@ann26, if this takes more than 1/4 day, please move this back to backlog.

[2018-07-30 08:33] timlinux commented on #43
@ismailsunni I discussed this with @gubuntu last week and he has a much simpler approach that I think we should use. For recap our original idea was to tag specific layers in GeoNode which we want to make available in the map:

![screen shot 2018-07-30 at 10 26 46](https://user-images.githubusercontent.com/178003/43386172-22331872-93e3-11e8-8518-b73e24b66fc0.png)

Gavin's proposal is much simpler:

[2018-07-30 08:34] timlinux commented on #43
When you type something in the filter widget the list should be reduced to match the filter.

[2018-07-30 08:39] timlinux commented on #182
For the second item (cluster cartography) see also https://github.com/kartoza/django-bims/issues/155

[2018-07-30 08:45] carina1000 commented on #182
Fo the first item please see https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/a85920f2a

And suggested copy can be found in https://docs.google.com/document/d/1VglbMPJz0Ys7gRGkjZgJP4Nb0wpraHkg9Cuq9rK-EQQ/edit (but this might change as we refine the system)

[2018-07-30 08:49] cchristelis commented on #198
Please ensure that this logic is in place.

[2018-07-30 10:09] dimasciput opened #209 "The joined path (/img/kartoza-logo-only.png) is located outside of the base path component"
Issue : http://sentry.kartoza.com/sentry/healthyrivers-vg/issues/480/?referrer=slack

The joined path (/img/kartoza-logo-only.png) is located outside of the base path component (/home...

[2018-07-30 10:55] #209 closed

[2018-07-31 06:16] carina1000 opened #210 "Mockup Documents and Reports Page"
Mockup Resources Page

child of #71

[2018-07-31 06:39] gubuntu commented on #20
close again to confirm that this is in place

[2018-07-31 06:45] dimasciput commented on #20
Nope currently all the logged in user can upload, will create a geonode group category for the uploader, then only uploader and staff can upload the data.

[2018-07-31 06:53] gubuntu commented on #24
needs to be tested first. @dimasciput please move any other closed tickets back to testing if they have not been deployed to testing and actually tested yet.

[2018-07-31 06:57] dimasciput commented on #24
@gubuntu yep sorry, this was automatically closed from github.

[2018-07-31 06:58] gubuntu commented on #26
@meomancer can permissions to view biodiversity records (and locations) be configured?

[2018-07-31 07:04] gubuntu commented on #96
this was not actually met by kartoza/django-bims#10

[2018-07-31 07:28] gubuntu commented on #33
@NyakudyaA please size remaining work and update status in waffle

[2018-07-31 07:38] gubuntu commented on #36
actually django-easy-audit only logs events, it's not something one can roll back.

So, either we need historisation for all core GIS and BIMS data maintained by LEDET or we have to rely on frequent backups.

And if we don't do historisation, then we should add GIS tables maintained by LEDET to django easy audit

[2018-07-31 10:09] dimasciput commented on #51
- [x] in a new location, in which case a new point site is created (https://github.com/kartoza/django-bims/pull/173)
- [ ] on an existing site, in which case that site is used

[2018-07-31 10:47] carina1000 commented on #210
![Documents__Reports.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a533a594304490012b9cfb6/125516c66e82c728ace21e0d46cc9b99368f86a79bfa807c9658e09b3b5234316546b3397f8fe62bab0021435a0e1ff840595916faffdd78a3b73c708b0e0eb982695c71d42103eee9dc4be05ce36ade0d97bcae884dcae93826e48b8c4b3e1b05118afe4f78.png)
![Documents__Reports_1.png](https://waffleio-direct-uploads-production.

[2018-07-31 10:50] carina1000 commented on #71
Please see suggested designs:
![Documents__Reports.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a533a594304490012b9cfb6/125516c66e82c728ace21e0d46cc9b99368f86a79bfa807c9658e09b3b5234316546b3397f8fe62bab0021435a0e1ff840595916faffdd78a3b73c708b0e0eb982695c71d42103eee9dc4be05ce36ade0d97bcae8b44cae93826e48b8c4b3f1606188af84f78.png)
![Documents__Reports_1.png](https://waffl

[2018-07-31 10:51] carina1000 commented on #71
Once approved @dimasciput please hand this over to relevant developer

[2018-07-31 10:57] carina1000 commented on #71
Should we keep the name of this page as "Documents & Reports" as originally designed or should we rename it to "Resources"?

[2018-07-31 10:57] carina1000 commented on #37
@gubuntu will the list of documents in the bibliography page look similar to this perhaps? (mock up for Documents & Reports #71)
![Screen Shot 2018-07-31 at 12.53.37.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a533a594304490012b9cfb6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b77246457f26b7191a379ed0c2e52415c49be5d4a1f06a3a3dc78e2a436628f0d5ab9d06c5926

[2018-07-31 12:38] gubuntu commented on #210
why closed?

I like the layout...each item needs to be referenced in the bibliography component  (e.g. hover or click on 'reference' link) and if it is linked to a site or observation, to also have the option of going to that record on the map.

Conversely, from the map, if a site or observation has a linked resource, to list them in the side bar (add to this morning's discussion) and if the resou

[2018-07-31 12:40] gubuntu commented on #37
see https://github.com/kartoza/LEDET_BIMS/issues/210#issuecomment-409205915

[2018-07-31 12:43] gubuntu commented on #71
Bibliography, resources (links), documents, reports should all be together for a user

Each might have its own interface for being managed by an admin.
- bibliography has the bibliography app admin elements
- links has the links admin page
- reports / docs / photos has the GeoNode document system

[2018-07-31 13:53] gubuntu commented on #38
@NyakudyaA what is there to review. Otherwise please move into more appropriate column

[2018-07-31 13:58] gubuntu commented on #42
https://drive.google.com/open?id=1p5vd3SPtSQBvXYphK-JMPqN73xqpsWhb

[2018-07-31 14:07] gubuntu commented on #6
I'm moving it back to the backlog. Excel is not actually specified, if anything it should be ods (MIOS compliant). For now csv and shapfile are fine and they have both been implemented already

[2018-07-31 14:13] gubuntu opened #211 "FR49 search must index municipalities"
child of #31

[2018-07-31 14:24] dimasciput commented on #200
For CSV and Geojson

[2018-07-31 14:25] dimasciput commented on #176
@gubuntu please this on the testing, if you satisfied of the result then we can put it on the done.

[2018-07-31 14:26] dimasciput commented on #174
@gubuntu this also has been implemented a while ago, please test this

[2018-08-01 05:16] carina1000 commented on #149
Please implement https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/a2e49b9e2

[2018-08-01 06:35] dimasciput commented on #165
@gubuntu, Apparently right now you can only edit and create bibliography record from admin, so should we create user interface to do this?

@sonlinux can you handle this one? Since you are the one who create the bibliography feature

[2018-08-01 08:16] sonlinux commented on #165
Okay @dimasciput I will
thanks

[2018-08-01 08:31] dimasciput commented on #165
Thanks @sonlinux !

[2018-08-01 08:52] timlinux commented on #206
@ismailsunni 👍
@carina1000 and I have been working up the UI for context. Can you please work up this into a standard panel view that will go into the accordion. It will be associated with a site (point geometry). Where a site is a polygon we could use the centroid of the site - ok with that @gubuntu ?

![screen shot 2018-08-01 at 10 46 36](https://user-images.githubusercontent.com/178003/43511375

[2018-08-01 08:55] dimasciput commented on #14
@Vince-Egan this has been added to the testing server, will need another key for the staging.

[2018-08-01 08:57] dimasciput commented on #198
If same data, collection will not be added
![Screen Shot 2018-08-01 at 3.56.42 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56bdb607e3f0dc0e00ac2dac/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6454f26b7191a37bf1172d4f5b5d5ecc3c4a4356bcbbd671f3e57862804e0ebc80395e75c06f17aaecd11abe01ba21d94ad1e5b88949d2f42f67b6d5db1063474f4dcbed5727a19041c95df548e0

[2018-08-01 09:08] timlinux commented on #206
Also evertyhing except the Climate (which has special behaviour rendering charts) and the description (taken from sites model) should be automatically rendered not hard coded so that if we change the collection the context panel will update. If you can manage to tweak the collection to indicate that a group is a 'graph group' so we can generically render charts (e.g. one group each for min, max, m

[2018-08-01 09:49] dimasciput opened #212 "Improve performance for update_cluster"
Currently update_cluster is very slow and very CPU taxing.

[2018-08-01 10:12] meomancer commented on #212
Solution:
- [ ] Simplify boundary of adminstrative
- [ ] Querying site with just important geometry field

[2018-08-01 10:44] gubuntu commented on #14
I think it only needs to be added to the production server

[2018-08-01 13:26] carina1000 commented on #169
We have decided to minimise the pop up info and rather show this on the side panel - now ready to implement @meomancer

![Screen Shot 2018-08-01 at 15.24.46.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a533a594304490012b9cfb6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6454f26b7191a379ea0c2955415b48be5d4a1f06a3a3dc78e2a436628f0d5ab9d06c5926c03b45ffb

[2018-08-01 13:40] carina1000 commented on #210
The files linked to the map will be displayed on the right side pannel under the "Resources" accordion
![Screen Shot 2018-08-01 at 15.39.17.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a533a594304490012b9cfb6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6454f26b7191a379ea0c2858415e49be5d4a1f06a3a3dc78e2a436628f0d5ab9d06c5926c03b45ffbd831fbf00e825df1c

[2018-08-02 03:20] dimasciput opened #213 "Remove module, use class identifier instead"
From discussion https://github.com/kartoza/LEDET_BIMS/issues/169, we decided to remove the module from the ledet and use the class instead.

[2018-08-02 03:43] carina1000 commented on #169
For the Spatial Result:
-Site Details
-Dashboard
-Taxon List
-References

(the single Taxon result will look different)

See mockups here: I will slowly release population of these (still figuring some aspects out): https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/a71e0d495

[2018-08-02 05:41] dimasciput opened #214 "Click marker after search didn't open anything"
- Search for species
- Click the marker
- Nothing happened

[2018-08-02 06:06] meomancer opened #215 "Loading shows although search result already show"
![selection_049](https://user-images.githubusercontent.com/4530905/43565449-e8a1691e-9654-11e8-97fd-b13a095f9fca.png)

[2018-08-02 07:12] NyakudyaA commented on #67
@ann26 let us meet up tomorrow @ 10 am SA time

[2018-08-02 07:41] NyakudyaA commented on #38
I will close this as all layers have good metadata with categories
![cat](https://user-images.githubusercontent.com/2510900/43569603-3dd7c2ba-9638-11e8-811d-d50ad54350de.png)

[2018-08-02 07:41] #38 closed

[2018-08-02 07:44] ann26 commented on #67
@NyakudyaA sounds good :+1:

[2018-08-02 07:44] NyakudyaA commented on #42
@gubuntu  I cannot move the file. The folder has read-only permission

[2018-08-02 07:48] NyakudyaA commented on #172
@meomancer have you updated the attribution. Please close if you have done so

[2018-08-02 08:11] sonlinux commented on #165
@gubuntu how do you propose we approach this?
Right now we have the permissions managed in admin for bibliography.
And the bibliography models are grouped into a single app like *Bims*.

[2018-08-02 09:59] meomancer commented on #29
hi @gubuntu
about legend toogle, is it like this?
![selection_055](https://user-images.githubusercontent.com/4530905/43577194-620e060c-9675-11e8-98b9-09ba3c11c4d1.png)

it is already implemented (can check "L" button in bottom-left)

[2018-08-02 10:22] meomancer opened #218 "Unicode error when dowload csv"
http://sentry.kartoza.com/sentry/healthyrivers-vg/issues/498/

[2018-08-02 10:28] #218 closed

[2018-08-02 11:05] gubuntu commented on #34
we must write backups to the server as per our current stack and let Errol know where they are so his BIM backup software can pick them up.

[2018-08-02 11:20] gubuntu opened #219 "ensure taxonomy from GBIF is interpreted properly"
a concern of @Vince-Egan
- there are lots of unofficial classifications on GBIF
- nile crocodiles have been split into two spits but GBIF does not reflect that yet...
- new forest cobra species
- etc.

[2018-08-03 07:27] gubuntu commented on #43
@timlinux @ismailsunni I don't want an 'add layer' widget, it is unnecessary work in our tight timeline and an unnecessary for the user to add layers. The map layer selector that is already there must just be automatically populated with all the layers the user has permission to see.

It is already populate with all layers, the permission filter just needs to be applied.

[2018-08-05 12:46] gubuntu opened #221 "502 when logging in to testing from a GeoNode page"
e.g. go to https://testing.limpopobims.kartoza.com/search and try to sign in from there.

authentication should be consistent across the site

[2018-08-05 13:01] gubuntu commented on #42
please try again

[2018-08-05 13:03] gubuntu commented on #172
this is not correct on testing

[2018-08-05 13:14] gubuntu commented on #165
@sonlinux this issue is not in this sprint, please finish your in progress issues then ask for more

[2018-08-05 13:25] gubuntu commented on #29
@meomancer I can't test because GeoNode layers are not coming through on testing and staging has lost the original remote list that it had (staging should not have changed at all in the last month,  it is supposed to be stable, coming off master and not have GeoNode yet. cc @dimasciput and @lucernae)

Where are biodiversity and 'administrative' legends?

Does legend toggle on when you toggle a lay

[2018-08-05 18:29] NyakudyaA commented on #158
Geonode DB has been added as an additional database cluster.

[2018-08-05 18:35] NyakudyaA commented on #173
All layer legends conform to the source colour ranges. Will add the labels later

[2018-08-05 18:35] #173 closed

[2018-08-05 18:41] NyakudyaA opened #222 "Metasearch error for layers in Testing"
# Problem
The Geonode is responding to a full csw get capabilities request
http://testing.limpopobims.kartoza.com/catalogue/csw?service=CSW&version=2.0.2&request=GetCapabilities

  but when I tried to search for layers I get an error
![metasearch_error](https://user-images.githubusercontent.com/2510900/43688786-ba3ea9cc-98ef-11e8-9637-58271c26b12f.png)

[2018-08-06 05:44] gubuntu commented on #195
I'm not clear what to do to test this

[2018-08-06 05:50] gubuntu commented on #128
LGTM

[2018-08-06 05:50] #128 closed

[2018-08-06 05:57] gubuntu opened #223 "admin layer is still drawing under the base map"
- [ ] it should draw over the base map
- [ ] its style should be defined in Geoserver
- [ ] it should be coming from GeoNode/Geoserver

[2018-08-06 06:00] dimasciput commented on #223
@gubuntu which one is admin layer?

[2018-08-06 06:03] gubuntu commented on #223
The only other layer that's in the map at the moment: 'administrative'

[2018-08-06 06:05] dimasciput commented on #223
This is not a bug, we just haven't merged it yet to the develop branch : https://github.com/kartoza/django-bims/pull/144

Currently irwan is still updating his PR.

[2018-08-06 06:06] gubuntu commented on #223
OK happy to close then

[2018-08-06 06:06] #223 closed

[2018-08-06 06:55] NyakudyaA commented on #158
@gubuntu  the GeoServer DB is a separate database cluster.

![geonode-db](https://user-images.githubusercontent.com/2510900/43700660-bdffb876-9953-11e8-92d1-2fdefb857069.png)

Geonode DB is in the same Django DB as BIMS.
![db1](https://user-images.githubusercontent.com/2510900/43700855-73fed6a2-9954-11e8-8c1e-5a0b1b9503d6.png)

[2018-08-06 07:02] NyakudyaA commented on #42
@gubuntu  I have moved it

[2018-08-06 08:16] timlinux commented on #43
@gubuntu agreed that we should merge this into the Map Layer Selector widget (sorry I hadnt seen that widget before).

I would like @ismailsunni to make a hybrid of his widget and the current Map Layer Selector widget so that we can filter layers (to deal with use case where there are 100's of layers). The current Map Layer Selector UI is nice so we would keep that sortable checklist implementatio

[2018-08-06 08:50] NyakudyaA opened #225 "Upload shows no previews on Geonode"
# problem
I have just updated a style in GeoServer and the style should propagate to Geonode but the preview is not coming through.
Also Updated a bunch of layers using the management commands and the thumbnail is not working
![thumbnails](https://user-images.githubusercontent.com/2510900/43706771-91c71d22-9966-11e8-9baa-4f04737ba538.png)

[2018-08-06 09:01] NyakudyaA commented on #222
The error has changed now too
![error](https://user-images.githubusercontent.com/2510900/43707279-fec099b6-9967-11e8-8a95-89eee3800108.png)
 since I have fixed the other Geoserver layers that had issues

[2018-08-06 11:00] NyakudyaA commented on #33
The database has been implemented. There is a btsync that can be used for raster data within the Geoserver container. @dimasciput is going to add the backup for the spatial database into the orchestration.

[2018-08-06 12:47] NyakudyaA commented on #155
This is now working in https://testing.limpopobims.kartoza.com so I will close this ticket

[2018-08-06 20:07] gubuntu commented on #43
@ismailsunni this ticket is just about permissions. Please move discussion of the layer selector UI to #29 and take over from or help @sonlinux

[2018-08-07 03:17] dimasciput opened #226 "Modules in landing page"
## Problem

Currently this is just dummy number :
![screen shot 2018-08-07 at 10 15 01 am](https://user-images.githubusercontent.com/1979569/43752361-db545af8-9a2a-11e8-817c-c2b0b3fb5a57.png)

I think we don't want to show dummy numbers in production, so where this data should come from? Beside biodiversity we don't have other modules in place.

@gubuntu

[2018-08-07 03:23] dimasciput opened #227 "Add min length search input and fix search by routes"
## Problem

- [x] We need to add minimum length search input, probably 3 characters
- [x] Fix search by routes, currently it's not working ( `/map/#search/{search_query}` )

[2018-08-07 05:32] gubuntu commented on #226
duplicate of #186

If we keep it, I think we should report on biodiversity data at Class level and GIS data at Category level

[2018-08-07 06:34] gubuntu commented on #186
leave it (and #226) in backlog. We'll do it in the last sprint.

[2018-08-07 06:58] dimasciput opened #228 "Cluster search is not working properly"
https://testing.limpopobims.kartoza.com/api/collection/cluster/?taxon=&search=gili&icon_pixel_x=30&icon_pixel_y=30&zoom=28&bbox=20.991825625694283,-34.25164145276954,20.991835683978092,-34.25163854723043&collector=&category=&yearFrom=&yearTo=&months=

Only returns one data, it should be more than that.

[2018-08-07 07:50] gubuntu opened #229 "response when clicking anywhere on the map"
at any time, if the user clicks anywhere the system returns a drill-down'getfeatureinfo' response as a popup

This is in addition to the biodiversity side-panel response if there is also a biodiversity site in the click radius

[2018-08-07 07:57] gubuntu commented on #149
another reason the menu popups need to be smaller is so that you can click somewhere else or on the other menu to close. At the moment you have to click on a menu item or the x to close.

[2018-08-07 08:01] gubuntu commented on #164
Errol needs to assign public static IPs to both machines and to point bims.ledet.gov.za to one

[2018-08-07 08:33] carina1000 commented on #149
I have made designs for these
![screen shot 2018-08-07 at 10 32 49](https://user-images.githubusercontent.com/35214829/43764251-4a19fe78-9a2d-11e8-8d9a-0fbece94e3a1.png)
![screen shot 2018-08-07 at 10 32 57](https://user-images.githubusercontent.com/35214829/43764252-4a386f84-9a2d-11e8-86fa-e01231a4cb7f.png)

 https://app.moqups.com/tim@kartoza.com/47tU30vEA3/edit/page/a2e49b9e2

Please hand over

[2018-08-07 09:45] gubuntu commented on #205
@ismailsunni please update waffle status of this issue

[2018-08-07 09:45] gubuntu commented on #204
@ismailsunni please update waffle status of this issue

[2018-08-07 09:46] NyakudyaA opened #230 "Layer preview is not available in the layer details page for layers"
# Problem
When viewing a layer's detail in Geonode we expect to see the layer preview layer but currently, it is not visible.

On investigating, I found out that:
* Geonode is not saving all thumbnails in the media path.
* Some legends are being generated dynamically using the ows request and hence they not being rendered correctly.
![thumbnail](https://user-images.githubusercontent.com/2510900/43

[2018-08-07 09:48] gubuntu commented on #3
redundant

[2018-08-07 09:48] #3 closed

[2018-08-07 13:15] NyakudyaA commented on #230
Fixed all the layer previews. Caused by incomplete migrations

[2018-08-07 13:15] #230 closed

[2018-08-07 13:16] NyakudyaA commented on #158
I have updated the metadata which still had lbims links

[2018-08-07 15:51] gubuntu commented on #141
I uploaded and got 'Collection added 0 '

I searched for 'Quelea' thinking they might be duplicates: no search results

I clicked around on the map in that area - no luck - the search, click, view results in side panel still needs a lot of work, I hope there are a lot of PRs in the queue that will fix this quickly on testing

[2018-08-07 16:00] gubuntu commented on #142
tried to upload and got:

'There was a problem loading this page'

btw the file has no extension.

[2018-08-07 16:26] gubuntu commented on #198
If I get 'Added 0 collections' how do I know it's because of duplicates or that it just didn't work?

If the fish and bird uploads I tried were duplicates it would be nice to automatically go to them as a search result (new ticket in Funnel...) but at least I should be able to find them by manual searching or browsing. I found that difficult if not impossible.

[2018-08-07 16:37] gubuntu commented on #5
I used [reptile_new.csv.zip](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46fa918a378b8facb0e7ba54ea5ee3826b0a65633b0ba92e7391a172fd177a000b5e4faa135e5910affc882ba6b76e75de0f0feed47f4366846c4ff8e7df46f554f832815d87b4b68b49c3eb3b20ee838b4e3917060ac4.zip) and got 'Collection added 0'. duplicates?

at least a search for 'Acanthoc

[2018-08-07 16:45] gubuntu opened #231 "search result interaction error"
this is in the soon-to-be-replaced (I hope) search result panel on testing

I searched for 'Acanthocercus' . When I clicked on the item for four biological collection records the map zoomed to their extent but the spinner kept on spinning - what am I supposed to be waiting for?

[2018-08-07 16:48] gubuntu opened #232 "side panel behaviour when other activities selected"
I chose to upload a single record (should be 'capture' not upload) while the side panel was still open with search results. It stayed open. I think it should close.

Especially since it is half under the side panel

Please make a design call and pass on to a dev to implement.

[2018-08-07 17:02] gubuntu commented on #51
I testing on creating a new location
- the message on success should be 'Record captured'
- then the workflow should be a link or instructions to view the uploaded record to check and edit it first and only after the user has checked, then to get the message 'Record checked, waiting for validation' (how do I get to checking screen and is it implemented?)
- it's fine to click on a location but ther

[2018-08-07 17:03] gubuntu commented on #20
@NyakudyaA please test

[2018-08-07 17:53] ismailsunni commented on #204
The PR is merged, please review/test it.

[2018-08-07 18:14] gubuntu commented on #64
I'm happy that the OP is satisfied and that FR48 is partly satisfied

[2018-08-07 18:14] #64 closed

[2018-08-07 18:18] gubuntu commented on #39
All available and supplied layers have been loaded, styled and published in the GeoNode component of the system. Outstanding layers can be maintained by LEDET staff after delivery and training. I'm happy that this, along with #64 satisfies FR48

[2018-08-07 18:18] #39 closed

[2018-08-07 18:26] gubuntu commented on #157
staging is not stable off master as it should be, but at least the clusters are populated

[2018-08-07 18:26] #157 closed

[2018-08-07 18:27] ismailsunni commented on #205
The PR is merged, please review/test it.

[2018-08-07 18:29] gubuntu commented on #135
The OP does describe what I saw several times, but it's not doing it right now in staging nor testing

[2018-08-07 18:29] #135 closed

[2018-08-07 18:49] gubuntu commented on #167
Where can I find these now in admin? I can find shapefile uploads in the BIMS admin module but not csvs.

[2018-08-07 18:54] gubuntu opened #233 "login issue"
on staging, I logged in with Google OAuth

Created gavin as a new user (again, I assume it was cleared during a redeployment?)

I got the welcome screen (welcome back Gavin, even though I was supposedly a new user)

Then I clicked on Upload and got the login screen again.

[2018-08-07 18:55] gubuntu commented on #161
It's going through GeoNode now so is handled better, at least on staging.

doesn't work on testing (assuming testing not registered)

[2018-08-07 18:55] #161 closed

[2018-08-07 18:57] gubuntu opened #234 "github OAuth needs finalising"
on production, it must be the 'full professional version', not the dev version with dimas' account requesting permission

[2018-08-07 18:58] gubuntu commented on #118
obsolete

[2018-08-07 18:58] #118 closed

[2018-08-07 19:00] gubuntu commented on #192
better but still not right
![Screen Shot 2018-08-07 at 20.59.25.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46167953d2fd0f723be0/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772b6454f46b7191a37aef0c2e58415d4bbe5d4a1f06a3a3dc78e2a436628f0d5ab9d06c5926c03b45ffbd831fbf00e825df1c81b5b99850d2aa6c7bb3d4d216744b470a83ed5c32aa984ecb5bf04de94957a0163765f43b.p

[2018-08-07 19:01] gubuntu commented on #187
LGTM

[2018-08-07 19:01] #187 closed

[2018-08-07 19:08] gubuntu commented on #191
1. please respond to my comment above or put in new ticket
1. how do we test this or prove it's working?

[2018-08-07 19:10] gubuntu commented on #137
@dimasciput please close if you agree that this is made obsolete and that its concerns are addressed by the recent design work

[2018-08-07 19:13] gubuntu commented on #63
@NyakudyaA please test a couple of these (all testing on the testing server, not staging)

@dimasciput should we wait for production deployment before adding the full list of final groups? If so, that's even more reason to get that production instance deployed ASAP.

[2018-08-07 19:16] gubuntu commented on #174
lgtm

[2018-08-07 19:16] #174 closed

[2018-08-07 19:18] gubuntu opened #235 "search results don't draw"
this might be redundant once the updated search + panel UI is deployed but

on testing search for 'Agama'  - several records appear in the side panel and the map zooms - but no clusters nor sites draw.

[2018-08-07 19:29] gubuntu commented on #176
better, but

- testing this I found that #235 results from searching for 'agama' rather than 'Agama'. Results are returned in both cases but in the first they don't draw in the second they do. However in the first if you drill down, then results do draw.
- 'AgaNAs' returned more results than 'agama', which returns more results than 'agamas'

surely plural shouldn't contrain the search but should j

[2018-08-07 19:31] gubuntu commented on #27
currently none on testing and all those that were on staging have disappeared

[2018-08-07 19:33] gubuntu commented on #33
@NyakudyaA as per my comment amonth ago, we can only clear this once the production instance is deployed at LEDET

[2018-08-07 19:39] gubuntu commented on #60
https://testing.limpopobims.kartoza.com/layers/geonode:srk_point_data_eia

https://testing.limpopobims.kartoza.com/layers/geonode:developments

[2018-08-07 19:39] #60 closed

[2018-08-07 19:57] gubuntu commented on #200
- csv works nicely
- no geojson yet (not required in OP, make another ticket for it in funnel)
- button needs tooltip
- change 'Select a format to download current data.' to 'Select a format to download the biodiversity data you see on the map. Many records may take time'

almost there!

[2018-08-07 20:02] gubuntu commented on #47
bibliographic entries by themselves are stranded in the site. They need to be linked with documents and obvservations. So let's rework this with the other issues under #71

[2018-08-07 20:05] gubuntu commented on #225
@NyakudyaA I assume this is in testing because it is fixed? Please confirm on the testing server and close if you're happy

[2018-08-07 20:07] gubuntu commented on #213
should this be in testing @dimasciput? If it really is implemented already pls put screencast or describe test and close else move to another column

[2018-08-07 20:10] gubuntu commented on #214
@meomancer is this supposed to be in testing (I don't see any PR)? It worked for me. Please close unless there's still something to do.

[2018-08-07 20:14] gubuntu opened #236 "zoom to single search result too close"
I clicked on a 'biological collection record' after a search and it zoomed to the site but there was no context with any basemap - it had zoomed in waaaay to close. Zoom to a single record should be limited to zoom level 18 perhaps.

[2018-08-07 20:19] gubuntu opened #237 "search sites not updating"
I searched for 'Agama' and clicked around in the 'biological collection records' but when I tried the 'Location Sites' all of them had 0 records, no matter which 'biological collection record' I had clicked

I also don't think items with no records should show

[2018-08-07 20:27] gubuntu commented on #190
@NyakudyaA are you happy this is sorted now? Please close is so

[2018-08-07 20:28] gubuntu commented on #158
@NyakudyaA please close if you've tested and are happy

[2018-08-07 20:40] gubuntu commented on #205
please assign to the person who shoud review it

[2018-08-08 02:40] #212 closed

[2018-08-08 03:13] meomancer commented on #237
fixed by kartoza/django-bims/pull/200

[2018-08-08 13:37] gubuntu opened #238 "legend draws under other controls"
![screen shot 2018-08-08 at 15 35 19](https://user-images.githubusercontent.com/496911/43840442-05e5317e-9b21-11e8-8003-e55ac9e09837.png)

[2018-08-08 13:47] gubuntu commented on #46
was not tested

[2018-08-08 20:43] gubuntu commented on #210
Think of the bibliography as the catalogue of resources, of metadata about resources.

And think of resources as documents, images, videos, biodiversity records etc.

So the map and resources page are two ways of viewing resources. On either of these it should be possible to discover the metadata (reference / bibliography) pertaining to a resource and to discover linked resources.

Then conversely

[2018-08-09 07:26] NyakudyaA commented on #225
@gubuntu I fixed all the other thumbnails when I updated the metadata. This issue still exists when a user uploads a new layer from either through the management commands or the UI (still uploads are not working through UI)

[2018-08-09 07:46] gubuntu commented on #225
I've moved back to in progress assuming you're troubleshooting it

[2018-08-09 08:55] #155 closed

[2018-08-09 09:08] NyakudyaA opened #239 "Error on logout from layer details page in Geonode"
# Problem
Each time I am in layer detail's page in Geonode and try to log out I get the following error.
![logout](https://user-images.githubusercontent.com/2510900/43889401-5a819d8c-9bc4-11e8-94f9-71c4307674d1.png)
If I reload the site again it shows me that I have been completely logged out.

[2018-08-09 09:11] dimasciput commented on #239
@NyakudyaA yes because currently the logout will redirect to your last url

[2018-08-09 09:48] NyakudyaA opened #240 "Differentiate logged users and non logged users"
# Problem
The icon for a  logged user vs none logged user is the same. Can we not have different icons when a user logs into the site.

![login](https://user-images.githubusercontent.com/2510900/43891518-c6b91bec-9bc9-11e8-91f7-8a1eef086b65.png)

For users that have registered with their email address which are linked to gravatar, we should show this gravatar just like in Geonode
![avatar](https:/

[2018-08-09 10:04] carina1000 commented on #210
@gubuntu I understand the first bit and then you lost me.

Don't the mockups fit the criteria? Where did I miss it?

[2018-08-09 10:47] NyakudyaA commented on #239
@dimasciput but should we not direct users to the landing page rather than the last URL

[2018-08-09 13:36] NyakudyaA opened #241 "Group and layer permisions are not filtering properly for layers."
# Problem
I have assigned basic layer permissions for layers in Geonode but the rules seem to be ignored totally.
Example
![biomes](https://user-images.githubusercontent.com/2510900/43901964-1c33bd2e-9be9-11e8-8baf-5dff4e084360.png)

When accessing the Geonode in another browser I do not expect to see this layer because I have disabled anonymous viewers access to the layer. But in Chrome I see all

[2018-08-10 00:58] dimasciput commented on #241
Hi @NyakudyaA , please don't change permissions for the biomes and administrative layers because bims currently using it. You can change other layers permissions.

[2018-08-10 05:39] meomancer commented on #236
fixed by kartoza/django-bims/pull/205

[2018-08-12 11:25] gubuntu commented on #36
1.  document a metadata field in GeoNode signifying whether LEDET is the custodian of a data set and populate it for such data sets in consultation with @Vince-Egan
1. Implement historisation for layers for which LEDET is the custodian.
1. Document the historisation in the admin section of the GIS manual - how to set it up, how to use etc. Link to source refs wherever possible so you don't rewrite

[2018-08-12 11:42] gubuntu commented on #35
this isn't actually a duplicate of #22

[2018-08-12 11:47] #6 closed

[2018-08-12 11:50] gubuntu commented on #12
@NyakudyaA please size. This also needs to be done for SANSA so discuss with @boney-bun, he's done quite a bit with pyCSW

[2018-08-12 12:38] #25 closed

[2018-08-12 12:40] gubuntu commented on #57
closing as duplicate of #59

[2018-08-12 12:40] #57 closed

[2018-08-12 12:45] gubuntu commented on #29
@sonlinux what is there to review? Children of this issue should be done first before this can be reviewed. Please move back into the appropriate column

[2018-08-12 12:49] gubuntu commented on #170
covered by #108

generally redundant without modules, as long as we handle Class correctly

[2018-08-12 12:49] #170 closed

[2018-08-12 16:00] gubuntu commented on #238
working now

[2018-08-12 16:08] gubuntu commented on #160
flat pages might be deployed but this OP isn't fixed

[2018-08-12 16:12] gubuntu commented on #46
still broken (chrome on android) - overlapping content, can't click on login, menus not active, menus in map borken (RH menu not showing)

[2018-08-12 16:14] gubuntu commented on #42
I'm reviewing and editing

[2018-08-12 16:14] #42 closed

[2018-08-12 16:22] gubuntu opened #242 "search not working on testing"
I searched for 'agama'

After a long wait:

`Error when fetching data, please try again. refresh. If this error still persists, please call administrator.`

and I can't get out of this error condition, even if I click 'refresh'

[2018-08-12 16:44] gubuntu commented on #237
I see the PR is merged but how can I tell if it is deployed to testing? Please move this to testing when deployed

[2018-08-12 16:45] gubuntu commented on #227
I see the PR (django-bims/200) is merged but how can I tell if it is deployed to testing? Please move this to testing when deployed

[2018-08-12 16:48] gubuntu commented on #236
move to testing if ready to test

[2018-08-12 16:54] gubuntu commented on #221
move to testing when deployed (which should be on the same say as the PR merge)

[2018-08-12 16:55] gubuntu commented on #51
move to testing when deployed (same day as PR merge please)

[2018-08-13 02:06] #228 closed

[2018-08-13 07:25] dimasciput commented on #191
@gubuntu the restore geonode is working because I unregistered this one

[2018-08-13 07:35] dimasciput commented on #235
This has been fixed on the testing

[2018-08-13 07:36] dimasciput commented on #242
@gubuntu I think this is because error on the server, please check again

[2018-08-13 08:02] meomancer commented on #32
Currently, it is just csv, due to i'm still having blocker to put geonode data on my localhost

[2018-08-13 08:10] dimasciput opened #243 "Restore geonode, geoserver in staging"

[2018-08-13 08:22] anitanh opened #244 "Edit location site of the object using coordinates input"
# Problem
User may only have coordinates of the object when editing.

# Proposed solution
Create input for changing location site of the object using coordinates

[2018-08-13 08:43] gubuntu opened #245 "search result interaction hanging and killing server"
I searched for 'agama'

only some things expanded when clicked, ultimately the UI hung and the site became unresponsive (like yesterday). Expecting it to end up with a 503.

[2018-08-13 08:45] dimasciput commented on #245
@gubuntu I'm still doing backup database from testing, and it's pretty big task, maybe that's the cause, because there's no error in sentry for this.

[2018-08-13 08:48] gubuntu commented on #132
valid explanation

[2018-08-13 08:48] #132 closed

[2018-08-13 08:52] gubuntu commented on #21
covered by #146

[2018-08-13 08:52] #21 closed

[2018-08-13 08:58] ann26 opened #246 "Ledet title"
# Problem
- [x] we need a strapline along the bottom like 'Limpopo Province Biodiversity Information Management System. Powered by Kartoza' (to identify the page)
- [ ] <del> html title across the site should be 'Limpopo BIMS' </del>

[2018-08-13 09:00] gubuntu commented on #136
outstanding items moved to their own issues

[2018-08-13 09:00] #136 closed

[2018-08-13 09:01] ann26 opened #247 "Basemap panel"
# Problem
- [ ] I think the base map radios should be a separate section in the main layer selector rather than a separate selector with a different design

# Proposed solution
The basemap and layer should be in the same panel

[2018-08-13 09:25] #175 closed

[2018-08-13 09:39] gubuntu opened #248 "index all biodiversity columns in search"
including GBIF columns

child of #31

[2018-08-13 09:43] dimasciput commented on #248
It's already indexed https://github.com/kartoza/django-bims/blob/develop/bims/indexes/taxon.py, but we just haven't create search api for this.

[2018-08-13 09:44] dimasciput commented on #248
@gubuntu @ann26

[2018-08-13 11:00] NyakudyaA commented on #158
All layers are working properly

[2018-08-13 11:00] #158 closed

[2018-08-13 11:01] #190 closed

[2018-08-14 03:00] meomancer commented on #27
handling by @ismailsunni for getting layers from geonode

[2018-08-14 03:01] meomancer commented on #104
hi @gubuntu
is it already implemented? with site detail on side panel?

[2018-08-14 07:12] NyakudyaA commented on #241
@dimasciput what I merely changed was access to the layer. Currently, any person can see the layer. When layer permissions are working properly only members of the same group can view the layer.  The permissions only restrict who can see and download layers. Bims should not be affected by that

[2018-08-14 07:45] sonlinux commented on #160
We just need to create the page **URL (/aboutus/)**, **title** and **content** in admin @gubuntu  on the server. And the link will lead to that page.
Thanks

[2018-08-14 08:40] gubuntu commented on #160
Thanks @sonlinux please could you do that on staging with this text

`Limpopo Biodiversity Information Management System (BIMS)

The Limpopo Province Department of Economic Development, Environment and Tourism (LEDET) BIMS aims to support provincial, municipal, national and professional activities related to biodiversity management with useful  information and tools.

Information available on this

[2018-08-14 08:43] gubuntu commented on #182
@ann26 the info popup could simply fetch content from the /aboutus flatpage. Then it's simple to maintain.

[2018-08-14 08:47] gubuntu commented on #241
@NyakudyaA what's the status of this now on staging?

[2018-08-14 08:50] NyakudyaA commented on #241
@gubuntu I have tested this and this is still an issue. Tried the same setup on http://testing.geonode.kartoza.com and I can confirm it works.

[2018-08-14 09:00] gubuntu commented on #63
I see these groups exist on testing and staging

[2018-08-14 09:00] #63 closed

[2018-08-14 09:14] gubuntu opened #249 "allow user to change layer transparency"
child of #29

[2018-08-14 09:18] gubuntu opened #250 "allow admin to set defaults / save user's settings"
currently, when a user opens the map there will be a list of layers in the layer selector and the biodiversity layer will be switched on.

Either an admin should be able to set which layers are switched on by default or the user's choices of which layers are switched on and in what order should be remembered between sessions e.g. in a cookie

child of #29

[2018-08-14 10:16] NyakudyaA commented on #20
@gubuntu  cc @dimasciput
This is not currently working as expected.
Created a group Public to give access to all users
![grp](https://user-images.githubusercontent.com/2510900/44085834-f81e3e2a-9fba-11e8-8d8d-66d837f6af75.png)

Then added a new user to that group
![user](https://user-images.githubusercontent.com/2510900/44085857-06e23fc4-9fbb-11e8-8880-823f8117b46d.png)

On login to bims using tha

[2018-08-14 10:40] dimasciput commented on #20
Yes you can still see the link but when you open the page it will
redirected to the login page if you don’t have the permissions.

If you want different behaviour, please create a new ticket.

On Tue, 14 Aug 2018 at 18.20 Gavin Fleming <notifications@github.com> wrote:

--
Regards,
Dimas Tri Ciputra

[2018-08-14 10:43] NyakudyaA commented on #20
* The explicit Public permissions allow a user to download layer, metadata, view metadata and create maps.
* I think if we want to be specific we can add a group but in this case, I was just testing with a group called Public with limited permissions.
* I have tried the upload link and it actually takes me through the process of selecting a CSV or shapefile. I do not have any data to test if the u

[2018-08-14 11:27] NyakudyaA commented on #225
@dimasciput cc @lucernae I have tested this and I think it is related to the uploads not working properly.
But for layers loaded using the management commands I think the generate thumbnails script/signal is not running.

[2018-08-14 11:51] gubuntu opened #251 "user without upload permission should not see upload link"
# problem

atm all users see upload link but if they don't have permission when they try to upload they are directed to login page

# proposed solution

if a user does not have upload permission, hide the upload link in the menu and the map

[2018-08-14 11:54] gubuntu commented on #20
@dimasciput that behaviour is fine for now. I created https://github.com/kartoza/LEDET_BIMS/issues/251 (leave in Funnel)

@NyakudyaA you can test uploads with various csv and shapefiles attached to https://waffle.io/kartoza/LEDET_BIMS?epic=5aad131d06d7e9001bd97782. Please do test and also comment on those tickets if you do.

[2018-08-14 11:59] gubuntu opened #252 "open port 5432 on staging and configure access"
# problem

production is not deployed and for training we need direct PostGIS access to the GIS database on staging

# solution

expose port 5432 on the GIS PostGIS container on staging

list clear steps for me to manually modify postgresql config files (by opening a terminal in Rancher - but exactly which container) and how to bounce the PostgreSQL service / container to read the new configs

[2018-08-14 12:04] NyakudyaA commented on #20
@dimasciput  cc @gubuntu I added a CSV without permission and it shows that the records have been added. I used the fish data in #141

![records](https://user-images.githubusercontent.com/2510900/44090461-858cc718-9fca-11e8-927e-720a88d64e30.png)

I can see the data here
![fish_data](https://user-images.githubusercontent.com/2510900/44090542-cae6d4ca-9fca-11e8-9701-5f110899ac2b.png)

Currently the

[2018-08-14 12:10] gubuntu commented on #141
@NyakudyaA uploaded successfully in https://github.com/kartoza/LEDET_BIMS/issues/20#issuecomment-412849065

[2018-08-14 12:10] #141 closed

[2018-08-14 12:14] gubuntu opened #253 "if a validator uploads, gets no edit screen"
# problem

The upload in https://github.com/kartoza/LEDET_BIMS/issues/20#issuecomment-412849065 went straight to validator screen

# expected bahaviour

Anyone (including a validator) who uploads data should get an edit / review screen before handing off to a validator.

[2018-08-14 12:47] gubuntu commented on #252
thanks @timlinux I've upgraded and got the port open.

There are two geonode-db containers (don't know why; only one running). I've installed vim to edit postgresql.conf but it doesn't respond, there's no vi either

[2018-08-14 12:54] gubuntu commented on #252
OK vims key bindings don't include arrows any more so had to use hjkl. Is the only way to read a new config to restart the container? I'm trying that...

[2018-08-14 13:03] gubuntu commented on #252
cool I'm in

[2018-08-14 13:03] #252 closed

[2018-08-14 14:00] gubuntu commented on #191
We still need easy audit so can you er-enable it now that we've integrated geonode?

[2018-08-14 14:06] gubuntu commented on #245
ok, no longer hanging

[2018-08-14 14:06] #245 closed

[2018-08-14 14:08] gubuntu commented on #235
if there is one result it does draw, but is hidden behind the search panel so there's no way of knowing unless you happen to close the panel.

maybe close panel or make transparent?

[2018-08-14 14:10] gubuntu commented on #46
still broken

[2018-08-14 14:12] gubuntu commented on #233
apparently this is intended behaviour. change requested in https://github.com/kartoza/LEDET_BIMS/issues/251

[2018-08-14 14:12] #233 closed

[2018-08-14 14:15] gubuntu commented on #231
seems to be fixed

[2018-08-14 14:15] #231 closed

[2018-08-15 02:40] dimasciput commented on #20
@gubuntu @NyakudyaA

I did try again on the testing, and it was working properly. For some reason `anonymous` groups has all permissions ( I don't know why, I removed all the permissions ). And since default group for all user is `anonymous`, they will be able to do upload and other stuffs.

<img width="1060" alt="screen shot 2018-08-15 at 10 36 56 am" src="https://user-images.githubusercontent.co

[2018-08-15 07:28] #146 closed

[2018-08-15 08:03] gubuntu opened #254 "Implement Active Directory authentication for LEDET users on the LEDET WAN"

[2018-08-15 08:07] gubuntu opened #255 "put sign up button into login interface"
OAuth tools do automatice signup but the current interface makes you think you need to sign up separately

[2018-08-15 08:50] gubuntu commented on #160
@sonlinux @ann26 on staging I created /aboutus/ but that url does not go anywhere and neither is the About Us link active - please fix

[2018-08-15 09:00] gubuntu opened #256 "should not assign permissions at user level"
GeoNode permissions are at group level but when you add a user youget the option of assigning permissions at user level - this should be hidden - GeoNode bug?

[2018-08-15 09:09] NyakudyaA commented on #256
Yes, this is a bug. A regression from normal Geonode behavior. Users should only have the option to choose a group
![group](https://user-images.githubusercontent.com/2510900/44140857-adcd8418-a07b-11e8-8f86-6ce49389ca38.png)
.

[2018-08-15 09:26] gubuntu opened #257 "Group allocation not working on user creation"
we added Stan Rogers to Biodiversity Management group during the process of creating him as a user in Django admin, but he did not appear in the group in GeoNode.

We had to add him to the group later.

[2018-08-15 09:34] gubuntu opened #258 "disable i18n"
some strings have [en] and the site has /en/

this is unnecessary as we will only have english

[2018-08-15 09:36] gubuntu opened #259 "new superuser was not part of any groups and could not add members to any group"
surely a superuser should be a manager of all groups?

[2018-08-15 09:48] NyakudyaA commented on #241
This is now working properly on testing. On staging, it should also work properly.
After adding a user make sure that the user does not have the anonymous group permissions.
![layers.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46e77953d2fd0f723be9/125516c66e82c728ace21e0d46e49583269090ebc3abaf51ab57f5973d047d317c05a22f21d4b52ae9147f025a5e4eac400a5a10affd8a2eb4aa2e3

[2018-08-15 09:51] NyakudyaA commented on #20
Thanks @dimasciput I have tesetd on testing and it's all good

[2018-08-15 09:51] #20 closed

[2018-08-15 10:01] NyakudyaA commented on #259
If a user is by default designated as a superuser their permissions are explicitly set. Adding them to be part of all groups is basically duplicating functionality.
I have created a test superuser on the testing server and I can assign users to various groups.

[2018-08-15 13:48] Vince-Egan opened #260 "Locate by coordinates not user-friendly"
using 'locate by coordinates' option on the map, the order of the two fields following the text are in the reverse order of the order they are mentioned (long and lat). It isn't clear which should be in each of the boxes. Maybe rather state negative degrees south than positive degrees north.

[2018-08-15 14:26] NyakudyaA commented on #61
with the user model and permissions in Geonode only admin users have access to the Geoserver link menu.  There are no users defined in Geoserver and the default password specified in the docker-compose should be changed to a strong password once we logged into geoserver as admin.

[2018-08-15 14:37] NyakudyaA commented on #61
![users.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46e77953d2fd0f723be9/125516c66e82c728ace21e0d46fd879f3191c1e5cdf9ad4cae58f3806b1c65262805a77a21d3e17ee94678545e5f4ead135d0b17f8fa8c39baa47e21d40854b088270a36d43703adbf881eba02be238f4c82b4b98b44c7fa70.png)
If a user manages to go to the geoserver URL and logs in using the  Geonode button he only sees this preview

[2018-08-15 14:55] NyakudyaA commented on #225
@ismailsunni on testing uploads are showing a different error now.
![upload.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba46e77953d2fd0f723be9/125516c66e82c728ace21e0d46fd84962c8387ebc3abaf51ab57f5973d047d317c05a22f21d4b52ae9147f025a5e4eac400a5a10affd8a2eb4aa2e32db025fb28c341521842f1bbeb98b15be04b924884b81bfb98a4dc9e82f68.png)

[2018-08-15 16:39] gubuntu commented on #260
complements https://github.com/kartoza/healthyrivers/issues/146

[2018-08-15 23:52] ismailsunni commented on #225
@NyakudyaA I can not upload the layer properly in my local dev env also.

For the duplicate key, what I did is deleting hiearachicalkeyword from admin panel. THe error is gone, but I still can not upload layer to geonode (it's update the geonode db, but not uploaded to the geoserver).

[2018-08-17 09:46] gubuntu commented on #242
fixed

[2018-08-17 09:46] #242 closed

[2018-08-19 15:50] gubuntu opened #261 "remove module choice from capture form"
we are not using modules in LEDET so the module field is redundant

[2018-08-20 10:42] gubuntu commented on #68
@NyakudyaA please test asap by actually setting these up as far as possible on staging.
- layer permissions assigned to groups
- group categories set up to match user roles coded into BIMS - e.g. 'internal user' can upload and 'validator' can validate. But these are not perfect yet and need to be more fine-grained. For example, new records need to be routed to taxon-specific validators (not everyo

[2018-08-20 11:23] cchristelis opened #262 "Landing Page - Icons and Numbers"
# Problem

We have a landing page that has duplicate icons and numbers that don't mean anything.

# Proposed Solution

- [x] Update the icons.
- [x] Update the numbers to pull live totals from the DB.

[2018-08-20 11:52] gubuntu commented on #262
duplicate of #186

[2018-08-21 05:52] Vince-Egan opened #263 "Links upload and links display don't correspond"
When I added BIMS links on the staging server and assigned them to categories, only the first one was added to the links page. Also, the information displayed for each link should be the name and not the description. The amount of characters allowed in the name should perhaps be increased too.

[2018-08-21 06:16] Vince-Egan commented on #263
The Links page  is responding erratically - sometimes displaying no links and otherwise only the first link that I added.

[2018-08-21 07:13] Vince-Egan commented on #263
It looks like the issue is that only a single category is displaying. When I add more links under the category that is displaying, they appear on the Links page. It is the other link categories that are not displaying.

[2018-08-21 07:38] Vince-Egan opened #264 "Carousel upload unsuccessful"
When I uploaded another carousel image through the front end, I received a confirmation of upload but the image was not added to the carousel (it appeared as a black block). When trying to edit the image via the Administration link, I got a 403 error. I can view the images that are already on the system.

[2018-08-21 07:45] Vince-Egan opened #265 "csv and shapefile uploads"
Could we please have a field for 'owner' (data owner) for both csv and shapefile bulk data uploads - we'll need this to sort LEDET data from SANBI and other third-party data.

[2018-08-21 08:27] Vince-Egan opened #266 "Validator should be able to reject record"
We need to have a button available to the validator that rejects/queries a record (we might need a message field to record why it is being queried?) The record should fall off the validator's list and reappear on the data uploaders 'upload' list. The uploader should have the option to delete the record.

[2018-08-21 09:11] dimasciput commented on #259
Should we close this @gubuntu ?

[2018-08-21 09:43] dimasciput commented on #192
That's from geonode, we just need to put icon for the groups.

[2018-08-21 10:44] Vince-Egan commented on #200
It doesn't look like the spatial info is mapping to the lat/long fields. There is also no data in the location_site field, but this may be because there is no data there.

[2018-08-21 12:27] Vince-Egan commented on #265
I've just attempted to format a shapefile for data upload - 3 of the mandatory attribute field-names are longer than the 8 characters allowed for shapefiles, making it impossible to upload in this format.

[2018-08-21 13:15] NyakudyaA opened #267 "Geonode upload error based on projection"
#Problem
I tried uploading an shp with projection  3857 and this is what I get
![3857](https://user-images.githubusercontent.com/2510900/44403450-c1ad5c00-a554-11e8-8e31-f9579536056a.png)

# Solution
Ensure that the changes implemented in fixing this in Geonode are part of this image

@boney-bun  can you take a look at this

[2018-08-21 13:20] NyakudyaA opened #268 "Geonode uploads are now being saved as shapefiles"
# Problems
Geonode UI uploads should be stored in the database backend but now they are stored as shapefiles in Geoserver.
![biom](https://user-images.githubusercontent.com/2510900/44403844-c58dae00-a555-11e8-98bd-b551c7722d8e.png)

# Solution
Please fix we had this working before

[2018-08-21 16:17] NyakudyaA commented on #225
All uploads show thumbnails. tried using the UI and the management commands.
![staging](https://user-images.githubusercontent.com/2510900/44414562-5f615500-a56e-11e8-9fa9-9351c982f9a6.png)

[2018-08-21 16:17] #225 closed

[2018-08-22 11:38] gubuntu commented on #266
duplicate of https://github.com/kartoza/django-bims/issues/233
and https://github.com/kartoza/django-bims/issues/262

[2018-08-22 11:38] #266 closed

[2018-08-22 11:40] gubuntu commented on #253
I guess the 'update' screen is there and it works, but maybe it should be pointed out to the user that they need to review their form captures there before sending them off to a validator

[2018-08-22 11:45] gubuntu commented on #268
yes this was after a fix @lucernae deployed while I was training last week - the fix allowed uploads, but they remained shapefiles

[2018-08-22 11:50] gubuntu commented on #267
looks like an issue with the extent, not the CRS?

our fixes are on kartoza/geonode and are focussed on QGIS server backend. So to fix this they would need to be tested on geoserver backend (get testinggs.geonode.kartoza.com working @boney-bun) merged upstream and then pulled into django-bims (or cherry-picked)

@NyakudyaA no 3857 data should be loaded anyway (most should be 4326 or local SA CRSs)

[2018-08-22 12:08] #259 closed

[2018-08-22 12:27] NyakudyaA commented on #267
@gubuntu we used to have an issue like this in QGIS server. I think the codebase for reading CRS is the same wether it is QGIS server or Geoserver. When the layers are loaded through Geoserver all is fine. That's why I thought @boney-bun  could look at it and just look and compare his changes.

[2018-08-24 03:10] dimasciput commented on #264
I couldn't reproduce this, I managed to upload an image in staging. @Vince-Egan can you try again?

[2018-08-24 03:26] dimasciput commented on #265
@Vince-Egan the required field for shapefiles is different from csv,
`species(string), location(string), notes(string), category(string), date(yyyy-mm-dd), collector(string)`.

For the owner, currently the uploader will be the owner of the data. Would you like the owner as a string field?

[2018-08-24 03:26] dimasciput commented on #261
Module choice removed

[2018-08-24 03:31] dimasciput commented on #194
@gubuntu can we assign this issue to another person? who do you suggest ?

[2018-08-24 03:43] Vince-Egan commented on #265
@dimasciput We need owner as a string so that we can separate third-party data from LEDET data. We will be uploading data from SANBI that must be filtered out when SANBI retrieves data from the system. The default value here would be 'LEDET' rather than a specific official. An alternative would be to have a boolean field that marks the record as LEDET-owned?

[2018-08-24 06:17] gubuntu commented on #265
this is two separate issues

1. @dimasciput, shapefile dbfs have a field name limit of 10 characters so if they are shorter than the model fields then the app needs to map them appropriately. csv field names on the other hand can be exactly the same as the model field names.
1. There are at least three people or orgs associated with a record: the person who uploaded it (let's call that the 'owner'

[2018-08-24 07:16] gubuntu commented on #194
@boney-bun would you like to take over from @ismailsunni as geocontext champion? If so please self-assign this and familiarise yourself with geocontext in due course

[2018-08-24 13:38] Vince-Egan commented on #264
@dimasciput - I saved the image as a jpeg and then retried the process. This time it did upload okay.

[2018-08-27 02:55] dimasciput commented on #198
@gubuntu So what did you suggest ?

[2018-08-27 03:59] dimasciput commented on #211
![screen shot 2018-08-27 at 10 59 13 am](https://user-images.githubusercontent.com/1979569/44639846-49c5b280-a9e8-11e8-922b-a2563cd2bfd1.png)

[2018-08-27 06:33] dimasciput commented on #184
- [ ] with fish and birds, got 'Added 0 collections', show duplicated data ( redundant https://github.com/kartoza/LEDET_BIMS/issues/142 )
- [ ] What if CRS is different than 4326? If you don't handle other CRS then the shapefile and csv upload dialogue must say 'coordinates or geometry must be geographic on WGS84 datum'
- [ ] make csv and shapefile dialogue layouts consistent, e.g. put the file pi

[2018-08-27 08:19] gubuntu commented on #198
- change 'collection added' to 'records added'
- If any were uploaded but not added, add a message with a reason, like '39 duplicates were not accepted'

then close...

[2018-08-27 08:54] dimasciput commented on #265
@gubuntu

This is already handled in testing server, the required headers for shapefile are shorter

Currently we have owner and collector field in our model, so we add custodian field for @Vince-Egan needs ?

[2018-08-27 09:03] gubuntu commented on #265
yes - is there not such a field anyway in Darwin core?

[2018-08-27 09:07] dimasciput commented on #265
I'm not sure with those fields, I just heard of it now. Is it similar with these fields from taxon models -> https://github.com/kartoza/django-bims/blob/develop/bims/models/taxon.py#L41

[2018-08-28 08:56] gubuntu commented on #265
institutionID seems to be the closest field for custodian in DarwinCore http://rs.tdwg.org/dwc/terms/index.htm#georeferenceSources

For other field mappings poke around that site

[2018-08-29 03:10] boney-bun commented on #194
@gubuntu interesting new knowledge.
how critical is this issue?
should i start doing this?

[2018-08-30 02:05] dimasciput commented on #200
@Vince-Egan that has been fixed in testing server, please test again

[2018-08-30 08:58] dimasciput commented on #67
@gubuntu do we need this on LEDET ?

[2018-08-30 10:10] dimasciput commented on #268
@NyakudyaA fix by https://github.com/kartoza/django-bims/pull/299, please test in the testing server

[2018-08-30 16:21] NyakudyaA opened #270 "Configure proper site name for Geonode"
# Problem
Confirmation email refers to the domain as example.com. I know this can be changed in the admin page.
![confirm](https://user-images.githubusercontent.com/2510900/44864990-5c0e4d80-ac81-11e8-897e-e798732b0bfb.png)

# Solution
Configure that after deploying the site. I will change it for testing but I am not sure about this on staging

[2018-08-30 16:28] NyakudyaA commented on #270
Changed https://testing.limpopobims.kartoza.com/en/admin/sites/site/1/change/

[2018-08-30 16:28] #270 closed

[2018-08-30 16:47] NyakudyaA commented on #268
LGMT

[2018-08-30 16:47] #268 closed

[2018-08-31 04:10] dimasciput commented on #255
added some notes in login page

[2018-09-03 06:48] dimasciput commented on #263
@Vince-Egan fixed on testing, could you try it again

[2018-09-04 13:53] gubuntu commented on #67
yes!, everything in the handover milestone...

[2018-09-04 21:38] timlinux commented on #206
So we took a big step forwards for this today - thanks!

Can you see why there are missing months in some contexts? Maybe Admire has to add some months in the context list:

<img width="261" alt="screen shot 2018-09-04 at 23 37 33" src="https://user-images.githubusercontent.com/178003/45059211-886c0480-b09b-11e8-82c0-287b4946166c.png">

It would also be great if we could round temperature and rain

[2018-09-05 06:41] NyakudyaA commented on #206
@timlinux I will process the datasets to round them up to 2decimal places. I initially just published them as they were because I didn't want to introduce any artefacts.

[2018-09-05 07:05] gubuntu commented on #206
1 decimal place would be even better

[2018-09-05 08:01] Vries14 commented on #198
- Duplicates gets rejected.
- message for rejection of duplicates are showing.
- "records added" message showing.

[2018-09-05 08:01] #198 closed

[2018-09-05 08:10] Vries14 commented on #253
Able to review and edit uploaded data before sending them to a validator

[2018-09-05 08:10] #253 closed

[2018-09-05 08:12] dimasciput commented on #71
Should we just use documents functionality from geonode for now?

[2018-09-05 09:08] gubuntu commented on #71
yes, then we can extend it to do the rest later

[2018-09-05 10:31] Vries14 commented on #236
Clicking on "biological collection record" zooms in to a useable level in context with map.

[2018-09-05 10:31] #236 closed

[2018-09-06 14:47] Vries14 commented on #249
Users are able to change layer transparency

[2018-09-06 14:47] #249 closed

[2018-09-07 08:26] Vries14 opened #272 "Filters update without validation"
# Bug report

I uploaded data without sending it for validation and I came across the following errors:

- It gets updated on the filters eg The collector filter
- When applying these filters I get unrelated sites and taxa eg I uploaded data onto the "krom" site but get results for "breekkrans", "gouritz" etc

# Expected behaviour

- filters should be updated when data gets updated
 - search resul

[2018-09-07 08:43] Vries14 commented on #221
Able to sign in from any point on site.

[2018-09-07 08:43] #221 closed

[2018-09-07 09:07] gubuntu commented on #238
not working now

[2018-09-07 09:17] gubuntu commented on #32
@meomancer please merge this into GeoNode, then you can use it here. It's been waiting to be merged for ages as part of the GeoNode/geoSAFE project: https://github.com/kartoza/geonode/issues/150

[2018-09-07 12:32] Vries14 commented on #272
Unvalidated collectors no longer displaying.

[2018-09-07 12:32] #272 closed

[2018-09-07 12:37] Vries14 commented on #208
Validated data being displayed on map

[2018-09-07 12:37] #208 closed

[2018-09-07 12:43] Vries14 commented on #214
Closing this ticket. Clicking on a marker/cluster after search displays the side panel.

[2018-09-07 12:43] #214 closed

[2018-09-10 07:18] carina1000 opened #274 "Update Landing Page"

[2018-09-10 07:43] carina1000 commented on #274
False alarm - it works

[2018-09-10 07:43] #274 closed

[2018-09-10 08:31] gubuntu commented on #113
replaced by #229

[2018-09-10 08:31] #113 closed

[2018-09-10 12:32] Vries14 commented on #215
This is the same as #231, no longer loads when results are already showing.

[2018-09-10 12:32] #215 closed

[2018-09-11 08:56] Vries14 commented on #104
When user clicks on site info on sites are being shown in the right side panel.

[2018-09-11 08:56] #104 closed

[2018-09-12 07:14] Vries14 commented on #238
Legend is now drawing over other controls,
![screenshot_2018-09-12 django bims map](https://user-images.githubusercontent.com/42169058/45408257-20ee2000-b66c-11e8-8d66-f060849f9052.png)

[2018-09-12 07:34] meomancer commented on #229
hi @gubuntu
is this the right request for getfeatureinfo?
[code]

it returns
[code]

[2018-09-12 09:44] Vries14 commented on #188
Since this is a one-page app, should the gbif.org links in the side panel open new tabs?
Because for each taxas' gbif.org link a new tab opens.

[2018-09-12 10:03] Vries14 commented on #255
Sign-up added to the login.

[2018-09-12 10:03] #255 closed

[2018-09-12 12:08] Vries14 commented on #211
Users are able to upload, download and view data in a district or local municipality

[2018-09-12 12:08] #211 closed

[2018-09-12 16:29] dimasciput commented on #238
@Vries14 I think that's what gavin wanted

[2018-09-13 11:43] Vries14 commented on #229
The popup is supposed to show when any point on the map is clicked, but when clicking on administrative texts the popup fails.

[2018-09-13 12:05] Vries14 commented on #238
If this is the case then im closing the issue.

[2018-09-13 12:05] #238 closed

[2018-09-13 14:43] Vries14 commented on #186
- Icons replaced , no longer static demos
- taxonomic class summaries used for the information inside graphs

[2018-09-13 14:43] #186 closed

[2018-09-13 14:45] Vries14 commented on #262
Closed by #186

[2018-09-13 14:45] #262 closed

[2018-09-14 01:03] dimasciput commented on #229
@Vries14 @gubuntu yes that was done intentionally, since we're going to zoom in when we click the cluster. What do you suggest @gubuntu ?

[2018-09-14 08:32] Vries14 opened #277 "Menu and profile"
# Bug report
I opened my map and I was unable to open the menu or my profile from that view. This also happens in certain other views eg. Validate records view

[2018-09-14 08:55] gubuntu commented on #229
I think @Vries14 is talking about clicking on an admin boundary label rather than on a cluster.

Click on cluster or site has well defined behaviour.

Click anywhere else should do the GetFeatureInfo drilldown.

[2018-09-14 09:09] gubuntu commented on #238
this is better, but it's really a part of making the whole app responsive, so all elements are usable in any form factor.

[2018-09-14 10:27] Vries14 commented on #169
Able to query a specific txaon class record of sites trough the side panel under "species details".

[2018-09-14 10:27] #169 closed

[2018-09-14 10:43] Vries14 commented on #30
- filtering acts on records, active layers and search results.
- When clicking on cluster, zooms to record, shows info when click on green cluster.
- Search results persists during session.
- Able to clear search and filter results easily with "reset button"

[2018-09-14 10:43] #30 closed

[2018-09-14 11:36] NyakudyaA opened #278 "Disable access to geonode url from BIMS"
# Problem

If a user remembers the following URL (https://testing.limpopobims.kartoza.com/geonode) when he clicks login he is redirected to the BIMS login site and then Geonode.
![geonode](https://user-images.githubusercontent.com/2510900/45547505-46705a80-b821-11e8-94bd-374b66356ca5.png)

But if a user accesses the https://testing.limpopobims.kartoza.com and chooses the GIS catalog then the URL i

[2018-09-14 13:02] NyakudyaA commented on #241
This is working properly now. Any added user by default belongs to the anonymous group. So any layer added should have the permission changed explicitly for that layer. This includes who can see, download and play around with some other settings.

Tested a couple of layers with @Vries14 and once I changed permissions he could not access the layers.
I will close this issue.

[2018-09-14 13:02] #241 closed

[2018-09-17 07:54] Vries14 commented on #183
Pop-up ( for sites) removed. Info displayed on right panel.

[2018-09-17 07:54] #183 closed

[2018-09-17 09:56] NyakudyaA opened #279 "Signup confirmation email is sent to spam"
# Problem
When a user signs up or receives an email to confirm account signup. The confirmation email is sent to spam
![spam](https://user-images.githubusercontent.com/2510900/45616676-7eb9a800-ba70-11e8-8dc8-ea47d9af35b8.png)

# Solution
Is it possible to determine where the email gets send to - Most users will not look into the spam folder for the emails

[2018-09-17 13:25] Vries14 commented on #51
on new location:
- [x]  "records added" message gets displayed
- [x] link to edit records
- [x] option in capture screen/ checking screen to edit raw coordinates
- [x] able to upload another record on same site while pop-up form is still open
- [x] "choose new site for next record" button

[2018-09-17 13:34] NyakudyaA commented on #61
Geofence permisions are fine grained. A user is only allowed to see layers he has been allocated permisions for in Geonode.

Example this anonymous user can only see the public layers
![screen shot 2018-09-17 at 15 29 14](https://user-images.githubusercontent.com/2510900/45625979-7f613700-ba8e-11e8-855d-8769c99f251f.png)

And in geoserver even if he logs in he also can only see the preview of the

[2018-09-18 07:10] Vries14 commented on #277
This is still not fixed, Im still unable to click on menu and profile in the "contact" and the "validate records'
view.

[2018-09-18 08:36] NyakudyaA commented on #49
This is possible based on the permissions assigned to users.
A user being part of the protected areas
![screen shot 2018-09-18 at 09 56 12](https://user-images.githubusercontent.com/2510900/45674468-7bd0bd00-bb2d-11e8-8d79-c2dd7d96c224.png)

Layers visible in Geonode
![screen shot 2018-09-18 at 10 26 23](https://user-images.githubusercontent.com/2510900/45674504-90ad5080-bb2d-11e8-9427-c6cef3e3f20

[2018-09-18 08:38] NyakudyaA commented on #49
This is possible based on the permissions assigned to users.
A user being part of the protected areas
![screen shot 2018-09-18 at 09 56 12](https://user-images.githubusercontent.com/2510900/45674468-7bd0bd00-bb2d-11e8-8d79-c2dd7d96c224.png)

Layers visible in Geonode
![screen shot 2018-09-18 at 10 26 23](https://user-images.githubusercontent.com/2510900/45674504-90ad5080-bb2d-11e8-9427-c6cef3e3f20

[2018-09-18 08:55] NyakudyaA commented on #48
@gubuntu Can you please clarify this for me.
Besides the permissions assigned to the Protected Area Management in Geonode that allows the users belonging to this group to manage  resources with these permissions we need to create roles in the database for users to manage these datasets.

I would assume we need to  create a role protected_area_management in the database and then grant select,update

[2018-09-18 10:23] NyakudyaA commented on #44
@gubuntu I think we can implement the roles in the database:
[code]
For folder RW or RO access, we need to set up that on the server using samba

This issue is related to #41

[2018-09-19 07:34] carina1000 opened #281 "Mobile responsive"
# Problem

The mobile version isn't fully responsive

# Solution

![LogIn.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a533a594304490012b9cfb6/125516c66e82c728ace21e0d46c49b9d0a8cc1e5cdf9ad4cae58f3806b1c65262805a77a21d3e17ee94678545e5f4ead135d0b17f8fa8c39baa47e21d40854b088270a36d43703adb1881eba02bd238f4d81beb8884dc2fa70.png)
Ensure buttons and footer are stacked correc

[2018-09-19 07:40] carina1000 opened #282 "Change footer"
Please change footer according to designs:

![Screen Shot 2018-09-19 at 09.44.08.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a533a594304490012b9cfb6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772a6455fa6b7191a378e60c2f55415f46be5d4a1f06a3a3dc78e2a436628f0d5ab9d06c5926c03b45ffbd831fbf00e825df1c81b5b99850d2aa6c7bb3d4d216744b470a83ed5c32aa984ecb5ff54fe24

[2018-09-19 07:44] meomancer commented on #40
Bims layer is using list because of backbone formatter on javascript level.
We need a parameter that tells format for this
Need to update the API

Maybe in another ticket?

CC @gubuntu @NyakudyaA

[2018-09-19 10:24] gubuntu commented on #281
read with #46

[2018-09-19 11:54] Vries14 opened #283 "The layer selector's side scroll needs to get darkend"
I could hardly notice that there was a side scroll present.

[2018-09-19 13:16] Vries14 commented on #176
- Results draw with case errors
- incorrect letter part of search fuzziness

[2018-09-19 13:16] #176 closed

[2018-09-19 13:20] gubuntu opened #284 "BIMS Geo API"
On the production instance, test that QGIS and ArcGIS can access BIMS layers (as GeoJSON services)

Must require authentication and filter biodiversity records based on user role

Comment from @meomancer:

We need a parameter that tells format for this
Need to update the API

[2018-09-20 09:06] gubuntu commented on #192
That's just a content thing right?

@Vince-Egan's staff can add icons in production

[2018-09-20 09:06] #192 closed

[2018-09-20 09:07] gubuntu commented on #188
yes external sites must open in new tabs

but all internal links should open in the same tab - that's what you need to test.

[2018-09-20 09:08] gubuntu commented on #61
agreed

[2018-09-20 09:08] #61 closed

[2018-09-20 09:41] #49 closed

[2018-09-20 09:44] gubuntu commented on #48
yes that sounds right @NyakudyaA

please apply in production and also document in a permission matrix sheet, perhaps by extending the existing permission matrix google sheet

[2018-09-20 09:45] gubuntu commented on #44
please document in the permission matrix google sheet before implementing

Then the implementation needs to be scripted and committed to the repo

[2018-09-20 11:22] NyakudyaA opened #285 "Add bims links to Geoserver"
# Problem

Only admin users can log into the geoserver site from the Django admin page but there is no way for a user to revert back to the BIMS site once logged in to geoserver using the Django auth.

![screen shot 2018-09-20 at 13 19 07](https://user-images.githubusercontent.com/2510900/45815116-08b77a00-bcd8-11e8-91fb-cde6f2dc481a.png)

# Solution

Add a BIMS link in Geoserver to allow staff us

[2018-09-20 11:47] gubuntu commented on #285
only admin users will see this ui and should know how to get back, I don't think this is really necessary. Besides, it means modifying GeoServer.

[2018-09-20 18:05] NyakudyaA opened #286 "Disable links in landing page if a user doesn't have the necessary permissions"
This ticket referee to the UI/UX roles

* When a user is not logged in he/she can access all menu's even the one's that requires login. The site details requires a user to login before seeing this. Can we remove this from the menu when users are not logged in.
* When a user clicks the site details he/she is directed to the login page and then after login in the page stays the same and a message po

[2018-09-20 18:14] NyakudyaA opened #287 "Unable to navigate to other menus from the contact us page"
# Problem

From the home page a user is unable to navigate away from the contact us page. All buttons for other menus become inactive.

![screen shot 2018-09-20 at 20 11 50](https://user-images.githubusercontent.com/2510900/45838286-a8ddc500-bd11-11e8-897b-de84fa41ebe9.png)

**Browser** : Safari

# Solution
Please fix

[2018-09-20 18:34] NyakudyaA commented on #68
After testing these are the issues encountered.
 #286
#287

[2018-09-20 20:02] gubuntu commented on #68
are you confirming that every combination in the matrix in the google doc can be set up in the current system?

[2018-09-20 21:57] #195 closed

[2018-09-21 05:42] NyakudyaA commented on #68
@gubuntu I am still busy trying out the various combinations and as I go through this I will write issues I encounter and then comment if all the combinations can be done.

So far all the layer combinations are possible from the geonode side.

[2018-09-21 06:15] gubuntu commented on #68
With the groups that are in place in production, why not try to set them up in production, then they will be tested and ready to use immediately. atm you'd have to connect via the vpn

[2018-09-21 06:18] NyakudyaA commented on #48
I have added these in the permission matrix sheet. Now awaiting access to the production to implement this

[2018-09-21 06:19] NyakudyaA commented on #68
Can you give me the login credentials and I will connect and implement them in production

[2018-09-21 06:27] NyakudyaA commented on #23
This is possible for admin users. I think we can close this issue as I have successfully managed to allocate permissions for layers to specific groups.

[2018-09-21 06:27] #23 closed

[2018-09-21 06:31] gubuntu opened #288 "implement formal release management and tag and deploy production release"
1. __BEFORE TUESDAY 25 SEPT__ give django-bims and LEDET BIMS their own independent release tags and deploy to production will all the latest tested work
1. Ensure all django, geonode, geoserver etc. content is successfully migrated
1. Name versions according to what should be standard Kartoza semantic versioning principles.

[2018-09-21 06:35] dimasciput commented on #288
@gubuntu currently I use this tag format for releases :
- https://github.com/kartoza/LEDET_BIMS/releases → 0.1
- https://github.com/kartoza/django-bims/releases → 0.2

[2018-09-21 06:42] gubuntu opened #289 "test local connection"
# Problem

payment of the next milestone invoice depends on LEDET staff being able to consume OWS services and connect to PostGIS on production

# Solution

Test and confirm _TODAY and up to 25 Sept_ that this is the case. Connect via VPN, ask LEDET staff to test on your behalf, etc.

## Prerequisites
- users and groups are set up in PostGIS
- port 5432 is exposed and pg_hba.conf and postgresql.co

[2018-09-21 06:43] dimasciput commented on #289
@gubuntu you want the postgis to be public ? which database ? django or geonode

[2018-09-21 06:48] gubuntu commented on #289
geonode db. pg_hba should only allow connections from within the WAN / VPN

duplicate of #40

[2018-09-21 06:48] #289 closed, assigned to NyakudyaA

[2018-09-21 08:18] dimasciput commented on #180
We get layers from geonode and admin now.

[2018-09-21 08:51] cchristelis commented on #250
Tried this out, it's not deployed yet it seems.

[2018-09-21 08:52] #149 closed

[2018-09-21 09:06] NyakudyaA commented on #33
@dimas just generate a key for btsync and add it as a folder to geoserver

[2018-09-21 09:06] #33 closed, assigned to NyakudyaA

[2018-09-21 09:08] gubuntu commented on #33
@NyakudyaA create this as a new ticket rather:

[2018-09-21 09:11] #180 closed

[2018-09-21 09:27] Vries14 commented on #250
Choices of which layers are switched on and in what order they should be, are remembered.

[2018-09-21 09:27] #250 closed

[2018-09-21 09:35] NyakudyaA opened #290 "Configure btsync and add it as a folder for GeoServer during orchestration"
# Problem

GeoServer needs the data directory to be backed up regularly. And we should also be able to add new raster layers that can be synced to the server so that we can publish the layers.

# Solution

Configure btsync and add it as a folder for GeoServer in the ochestration.

CC @dimasciput

[2018-09-21 09:35] NyakudyaA commented on #33
Added a new ticket for this

[2018-09-21 09:36] Vries14 commented on #188
Internal links are opening in the same tab

[2018-09-21 11:03] gubuntu commented on #163
bims.ledet.gov.za

[2018-09-21 11:03] #163 closed

[2018-09-21 11:24] Vries14 commented on #138
Implemented on the new side panel:
- name of species
- classificationn with "gbif.org" link
- images
- IUCN status

[2018-09-21 11:26] Vries14 commented on #129
"login" button added
log in  with social accounts signs users up message displayed for sign up

[2018-09-21 11:41] Vries14 commented on #206
UI for site details implemented
![site deatails](https://user-images.githubusercontent.com/42169058/45879063-6c5aa980-bda3-11e8-96c6-7a1ed0b60b10.png)

One decimal place added for rainfall and temperatures on graphs

[2018-09-21 11:41] #206 closed

[2018-09-21 12:11] Vries14 commented on #200
- [x] info on csv  showing lat-long fields, location_site
- [x] When I apply more than one filter though, the csv don't download and gives me a "data is empty" message, for example: I searched for berg and applied the "translocated"  category filter. I got 38 records. When i tried to download the csv file I got "data is empty".If there is records, shouldnt those be downloading?

[2018-09-21 12:17] Vries14 commented on #137
Im closing this since we are no longer using pop-ups.

[2018-09-21 12:48] Vries14 commented on #264
@dimasciput or @Vince-Egan , if this is working correctly and you are satisfied, could we please move this out of testing?

[2018-09-21 15:01] #264 closed

[2018-09-22 21:08] #27 closed

[2018-09-22 21:08] #31 closed

[2018-09-22 21:09] cchristelis commented on #263
We'll follow this up in another ticket if it is still an issue.

[2018-09-22 21:09] #263 closed

[2018-09-22 21:11] #184 closed

[2018-09-22 21:15] #43 closed

[2018-09-22 21:15] #205 closed

[2018-09-22 21:16] #204 closed

[2018-09-22 21:17] #261 closed

[2018-09-22 21:17] #243 closed

[2018-09-22 21:17] #182 closed

[2018-09-22 21:17] #4 closed

[2018-09-22 21:17] #210 closed

[2018-09-22 21:19] #227 closed, assigned to meomancer

[2018-09-22 21:20] #213 closed, assigned to dimasciput

[2018-09-24 09:59] gubuntu commented on #191
Can we re-enable easy audit without breaking geonode?

[2018-09-24 10:01] gubuntu commented on #265
why was this closed? pls comment when closing. was institutionID implemented?

[2018-09-24 10:04] dimasciput commented on #265
@gubuntu yes, implemented, and for ledet site the default institutionId is ledet.

[2018-09-25 07:05] Vries14 commented on #188
When I uploaded a new record and clciked on the "verify records here" link, it opened in a new tab for validate records.

[2018-09-25 10:43] Vries14 opened #291 "add option to remove pop-up when clicking on map"

[2018-09-27 06:46] gubuntu commented on #27
implemented as per OP

[2018-10-03 09:24] dimasciput commented on #166
since we do validation directly on the map view, this ticket is not needed anymore

[2018-10-03 11:46] #166 closed

[2018-10-05 07:05] #24 closed

[2018-10-09 08:35] #148 closed

[2018-10-09 08:38] #72 closed

[2018-10-09 08:57] cchristelis commented on #229
It would be great to have this activated through a tool button.

[2018-10-09 08:57] cchristelis commented on #229
This should also be available on healthyrivers.

[2018-10-11 06:50] gubuntu opened #292 "google login doesn't work"
http://bims.ledet.gov.za

[2018-10-11 06:51] gubuntu opened #293 "github login doesn't work"
http://bims.ledet.gov.za

[2018-10-11 06:52] dimasciput commented on #292
@gubuntu we need them to register the app in google and provide us with secret key https://django-allauth.readthedocs.io/en/latest/providers.html#google

[2018-10-11 06:53] dimasciput commented on #293
@gubuntu https://django-allauth.readthedocs.io/en/latest/providers.html#github

[2018-10-11 06:57] gubuntu opened #294 "no email on password reset nor contact us"
Twice in the password reset process there is a message to say contact us if you have problems. But there is no link or number - both should at least link to the contact us form

And I got no email to reset password...so currently I have no way to get into my account.

[2018-10-11 10:39] gubuntu opened #295 "QGIS GeoNode connection returns no layers"
# problem

I can create a GeoNode connection in QGIS 3 to http://bims.ledet.gov.za but no layers are returned.

# expected behaviour
all public layers should be returned

[2018-10-11 10:50] gubuntu opened #296 "static resources not available"
I tried to view a map in the layers view in GeoNode on http://bims.ledet.gov.za and js and css failed to load

[2018-10-11 10:52] gubuntu opened #297 "GeoNode layers and legends not rendering in BIMS"

[2018-10-11 10:52] gubuntu commented on #297
http://bims.ledet.gov.za

GetMap error e.g. Could not find layer geonode:bioregions

[2018-10-11 11:02] gubuntu opened #298 "WMS not working in production"
http://bims.ledet.gov.za/geoserver/wms

failed to parse getcapabilities

At least WFS and WCS are working.

@NyakudyaA can you confirm that OWS access enforces GeoNode permissions?

[2018-10-11 11:19] gubuntu opened #299 "cannot connect to PostGIS"
5432 appears to be open but pg_hba is not configured to allow connectoins from the WAN.

and probably postgresql.conf is not configured to listen on the right IP.

These configs need to be built into the production Rancher environment.

[2018-10-11 13:43] NyakudyaA commented on #298
The get capabilities are working fine. I can access http://bims.ledet.gov.za/geoserver/wms?service=wms&version=1.1.1&request=GetCapabilities
![screenshot 2018-10-11 at 15 42 10](https://user-images.githubusercontent.com/2510900/46808272-41dd8a00-cd6c-11e8-90c1-9d4773dfd6ee.png)

[2018-10-11 14:38] NyakudyaA commented on #298
I can get was access was services fine from GeoServer
![screenshot 2018-10-11 at 15 57 22](https://user-images.githubusercontent.com/2510900/46809650-393a8300-cd6f-11e8-9744-27d81e9e6283.png)

![screenshot 2018-10-11 at 15 57 46](https://user-images.githubusercontent.com/2510900/46809665-422b5480-cd6f-11e8-8694-f12e8797cdad.png)

If the layers are public layers then anyone can access them but priv

[2018-10-11 14:38] #298 closed, assigned to dimasciput, NyakudyaA

[2018-10-11 15:08] NyakudyaA commented on #297
WMS request from was inspector works in the browser independently http://bims.ledet.gov.za/geoserver/wms?request=GetLegendGraphic&format=image/png&width=40&height=40&layer=geonode:bioregions

Everything is working fine now. Restarted geoserver
![screenshot 2018-10-11 at 17 08 31](https://user-images.githubusercontent.com/2510900/46814105-4f007600-cd78-11e8-826b-250876e6f84c.png)

[2018-10-11 15:24] NyakudyaA commented on #295
@gubuntu Are we sure that Geonode client can  is working ?
![screenshot 2018-10-11 at 17 13 59](https://user-images.githubusercontent.com/2510900/46814533-3cd30780-cd79-11e8-92db-401968fc5b75.png)

@myarjunar can you confirm if the Geonode client is working. I have tried to connect to testing.geonode.kartoza and other services as depicted in the image above and nothing is returned.

[2018-10-11 18:49] gubuntu commented on #297
@NyakudyaA I just hit that link and got
      Can't obtain the schema for the required layer.
geonode:bioregions layer does not exist.

lots of map layers and legends not working in the map.

[2018-10-11 18:58] NyakudyaA commented on #297
@gubuntu everything is working fine. It's just a matter of things timing out because of the connection over vpn.

[2018-10-11 19:05] gubuntu commented on #297
But I got the response above very quickly which doesn't indicate a timeout but an error

[2018-10-11 19:07] NyakudyaA commented on #297
Can you try it now because I can access all the layers and their legends now.

[2018-10-11 19:10] gubuntu commented on #297
<img width="1000" alt="screen shot 2018-10-11 at 21 09 47" src="https://user-images.githubusercontent.com/496911/46827870-0c4f9580-cd9a-11e8-9469-c0359f0a5bb3.png">

[2018-10-11 19:12] NyakudyaA commented on #297
@gubuntu here is how they look
![screenshot 2018-10-11 at 21 11 44](https://user-images.githubusercontent.com/2510900/46827992-533d8b00-cd9a-11e8-99cc-1379d1c5491f.png)

[2018-10-11 19:18] NyakudyaA commented on #297
and the legends

![screenshot 2018-10-11 at 21 16 39](https://user-images.githubusercontent.com/2510900/46828244-0d34f700-cd9b-11e8-9563-45aa8306095b.png)
![screenshot 2018-10-11 at 21 16 52](https://user-images.githubusercontent.com/2510900/46828245-0d34f700-cd9b-11e8-9114-cc574cb526f8.png)

[2018-10-11 23:52] dimasciput commented on #297
@gubuntu try use different browser, maybe it wae cached

[2018-10-12 03:25] myarjunar commented on #295
I've tried it and it is working with http://geonode.inasafe.org/ but not with http://testing.geonode.kartoza.com .

[2018-10-12 10:01] gubuntu commented on #295
Yes I find that too. The main difference is that inasafe is 2.9 with QGIS and testing is our fork of 2.8 with QGIS.

Perhaps we broke something on the GeoNode side @lucernae? @myarjunar if you think it's a QGIS issue please create a QGIS ticket for it.

[2018-10-12 10:23] gubuntu commented on #294
I've just found the emails, they were in spam.

But the From address needs to be a noreply address or from a vaid LEDET address.

[2018-10-12 10:24] NyakudyaA commented on #294
please see #279

[2018-10-15 09:39] NyakudyaA commented on #299
I have opened up the port manually. I will leave this ticket open so that @dimasciput can implement directly in rancher
![screenshot 2018-10-15 at 11 36 56](https://user-images.githubusercontent.com/2510900/46943020-f75f5480-d06e-11e8-80a2-3279cb1ab6bf.png)

[2018-10-15 09:51] NyakudyaA commented on #297
Fixed the issue with this. @gubuntu you can test again and close.

[2018-10-15 10:51] NyakudyaA commented on #295
@myarjunar Geonode client basically makes an API call to geonode to access the layers from

http://bims.ledet.gov.za/api/layers/ running the following from the browser connected over vpn I can access the layer list. Even doing filters on the API yields results http://bims.ledet.gov.za/api/layers/?title__contains=biome

![screenshot 2018-10-15 at 12 50 59](https://user-images.githubusercontent.com/

[2018-10-15 12:49] gubuntu commented on #295
this is low priority - as long as OWS and PostGIS connections work we're good

[2018-10-15 14:29] gubuntu commented on #299
@NyakudyaA please specify the exact changes to postgresql.conf and pg_hba.conf to allow WAN access

[2018-10-23 06:50] NyakudyaA commented on #299
@dimasciput  I changed the following lines.

from postgresql.conf I changed
`listen_address= 'localhost'` to `listen_address='*'`

In pg_hba.conf I added the following line

`host  all  all 10.52.82.20/24 md5`

[2018-10-23 07:01] NyakudyaA commented on #40
Vince can now connect to the Database although they are some network issues on his side.
![screenshot 2018-10-23 at 08 55 26](https://user-images.githubusercontent.com/2510900/47341525-84269580-d6a1-11e8-9ca6-13e589575c86.png)

OWS Services can also be accessed by Vince.
![screenshot 2018-10-23 at 08 58 59](https://user-images.githubusercontent.com/2510900/47341668-e8e1f000-d6a1-11e8-8e40-292f5b43

[2018-10-23 14:17] NyakudyaA commented on #41
@gubuntu  I have created the roles as defined in the permission matrix. We have the following roles

A user can belong to the roles defined in the matrix either as admin or editor for that group.
**Example**
`Protected Area Management  role can either be RO or RW for a specific user.`

[2018-10-23 14:31] NyakudyaA commented on #48
I have created all the roles in the database as specified in the permission matrix
![screenshot 2018-10-23 at 16 30 08](https://user-images.githubusercontent.com/2510900/47367914-f1a5e680-d6e0-11e8-847a-fb5384e3bc76.png)

These roles can either be `RO or RW`

[2018-10-23 14:35] NyakudyaA commented on #299
@Vince-Egan is happy with the PostgreSQL connection through QGIS or PgAdmin

[2018-10-24 02:46] dimasciput commented on #168
deployed to production server

[2018-10-25 03:58] #288 closed, assigned to dimasciput

[2018-10-25 04:03] dimasciput commented on #277
@Vries14 can you try again https://testing.limpopobims.kartoza.com/contact/ ?

[2018-10-25 09:34] gubuntu commented on #41
@NyakudyaA please explain more complehensively as documentation in the tech doc.

[2018-10-25 09:36] gubuntu commented on #48
@NyakudyaA pls describe specifically how the proteced area admin is set up as per OP

[2018-10-25 09:48] NyakudyaA commented on #41
@gubuntu the permission matrix already defines this. It says a Protected admin user has access to a certain number of layers. I added the following roles
![screenshot 2018-10-25 at 11 42 50](https://user-images.githubusercontent.com/2510900/47491465-2c2b9280-d84b-11e8-860e-12c797fc5ed9.png)

`pam_editor` any user assigned to this role will only have read access to the layers defined in the Matrix

[2018-10-25 11:14] #297 closed, assigned to dimasciput, NyakudyaA

[2018-10-26 03:13] dimasciput commented on #299
In rancher I just need to set ALLOW_RANGE to 0.0.0.0/0
![screen shot 2018-10-26 at 10 07 46 am](https://user-images.githubusercontent.com/1979569/47542419-7c682a80-d907-11e8-8170-48686570980d.png)

Because now that it works, I'm closing this ticket.

[2018-10-26 06:32] Vries14 commented on #277
menu and profile functioning

[2018-10-26 06:32] #277 closed

[2018-10-26 06:33] gubuntu commented on #299
I'm happy from your side @dimasciput but in production we can't allow connections from any IP so @NyakudyaA please apply that WAN IP Range.

I'm assuming these override pg_hba settings.

[2018-10-26 06:38] NyakudyaA commented on #299
@gubuntu I have specified the ip range in the pg_hba.conf. Do you mean I have to specify that in the `postgresql.conf` as well